doc/Dokumentation/Schnittstellenbeschreibungen/Anmeldungssteuern/UStVA_2021/Schema/UStVA-2021.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- UStVA - 2021 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsteranmeldung/ustva/v2021" targetNamespace="http://finkonsens.de/elster/elsteranmeldung/ustva/v2021" xmlns:exml="http://finkonsens.de/elster/elsteranmeldung/ustva/v2021">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Positive Zahlen ab 1</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus dem offenen Intervall (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0(\.0+)?">
                <xs:annotation>
                    <xs:documentation>Nullwerte</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MaxL14_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNullBaseSType">
            <xs:pattern value=".{0,14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="-?[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Zahlen außerhalb des offenen Intervalls (-1, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="-?0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus den offenen Intervallen (-1, 0) und (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0(\.0+)?">
                <xs:annotation>
                    <xs:documentation>Nullwerte</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlOhneFuehrNull_MaxL15_SType">
        <xs:restriction base="DezimalzahlOhneFuehrNullBaseSType">
            <xs:pattern value=".{0,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlOhneFuehrNullBaseSType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="-?[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Vorzeichen '+' und Einträge der Form '-0' nicht zugelassen, erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJMMTTBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])(10|11|12|01|02|03|04|05|06|07|08|09)(0[1-9]|[1-2][0-9]|3[0-1])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MaxL14_MaxVK11_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNull_MaxL14_SType">
            <xs:pattern value="\d{1,11}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlOhneFuehrNull_MaxL15_SType">
            <xs:pattern value="-?\d{1,11}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_Anmeldungssteuern_Steuerfall_Umsatzsteuervoranmeldung_Zeitraum_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01">
                <xs:annotation>
                    <xs:documentation>Januar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="02">
                <xs:annotation>
                    <xs:documentation>Februar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="03">
                <xs:annotation>
                    <xs:documentation>März</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="04">
                <xs:annotation>
                    <xs:documentation>April</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="05">
                <xs:annotation>
                    <xs:documentation>Mai</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="06">
                <xs:annotation>
                    <xs:documentation>Juni</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="07">
                <xs:annotation>
                    <xs:documentation>Juli</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="08">
                <xs:annotation>
                    <xs:documentation>August</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="09">
                <xs:annotation>
                    <xs:documentation>September</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Oktober</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>November</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Dezember</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>I. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="42">
                <xs:annotation>
                    <xs:documentation>II. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="43">
                <xs:annotation>
                    <xs:documentation>III. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="44">
                <xs:annotation>
                    <xs:documentation>IV. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNull_MaxVK13_Muster1442570546_SType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType">
            <xs:totalDigits value="13"/>
            <xs:pattern value=".{0,13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType">
        <xs:restriction base="GanzzahlOhneFuehrNullBaseSType">
            <xs:totalDigits value="13"/>
            <xs:pattern value=".{0,14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ja1BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL10_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL12_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL13_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL15_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL180_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="180"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL30_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL33_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="33"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL34_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL40_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL45_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL50_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL60_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL70_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL89_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="89"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL9_Muster91555_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL5_Musterm1643987249_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL95_Musterm385675603_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="95"/>
            <xs:pattern value="([0-9]{5})|([0-9]{5}\*.{0,85}\*.{0,85}\*.{0,85}\*.{0,85}\*.{0,85})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Anmeldungssteuern" type="Anmeldungssteuern_CType"/>
    <xs:complexType name="Anmeldungssteuern_CType">
        <xs:sequence>
            <xs:element name="Erstellungsdatum" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DatenLieferant" type="DatenLieferant_1280293165_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Steuerfall" type="Steuerfall_1280293165_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EOP" type="EOP_1280293165_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="2021" use="required"/>
    </xs:complexType>
    <xs:complexType name="DatenLieferant_1280293165_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL45_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Strasse" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PLZ" type="String_MinL1_MaxL12_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Ort" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Email" type="String_MinL1_MaxL70_SType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Steuerfall_1280293165_CType">
        <xs:sequence>
            <xs:element name="Berater" type="Berater_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Mandant" type="Mandant_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Unternehmer" type="Unternehmer_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Umsatzsteuervoranmeldung" type="Umsatzsteuervoranmeldung_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dauerfristverlaengerung" type="Dauerfristverlaengerung_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Umsatzsteuersondervorauszahlung" type="Umsatzsteuersondervorauszahlung_m472961002_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Berater_m472961002_CType">
        <xs:sequence>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Str" type="String_MinL1_MaxL33_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="String_MinL1_MaxL9_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HNrZusatz" type="String_MinL1_MaxL15_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnschriftenZusatz" type="String_MinL1_MaxL40_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PLZ" type="String_MinL5_MaxL5_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuslandsPLZ" type="String_MinL1_MaxL13_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl (Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land (falls Anschrift im Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachOrt" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postfach" type="String_MinL1_MaxL10_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachPLZ" type="String_MinL5_MaxL5_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GKPLZ" type="String_MinL5_MaxL5_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="String_MinL1_MaxL70_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mandant_m472961002_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vorname" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MandantenNr" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Bearbeiterkennzeichen" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Unternehmer_m472961002_CType">
        <xs:sequence>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Str" type="String_MinL1_MaxL33_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="String_MinL1_MaxL9_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HNrZusatz" type="String_MinL1_MaxL15_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnschriftenZusatz" type="String_MinL1_MaxL40_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PLZ" type="String_MinL5_MaxL5_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuslandsPLZ" type="String_MinL1_MaxL13_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl (Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land (falls Anschrift im Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachOrt" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postfach" type="String_MinL1_MaxL10_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachPLZ" type="String_MinL5_MaxL5_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GKPLZ" type="String_MinL5_MaxL5_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="String_MinL1_MaxL70_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Umsatzsteuervoranmeldung_m472961002_CType">
        <xs:sequence>
            <xs:element name="Jahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zeitraum" type="Enum_Anmeldungssteuern_Steuerfall_Umsatzsteuervoranmeldung_Zeitraum_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zeitraum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz09" type="String_MinL5_MaxL95_Musterm385675603_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fünfstellige HerstellerID (Pflichtangabe wenn der zugehörige Kontext angegeben wird).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz10" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Berichtigte Anmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz21" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nicht steuerbare sonstige Leistungen gemäß § 18b Satz 1 Nummer 2 UStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz22" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Belege</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steueranmeldung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23_Begruendung" type="String_MinL1_MaxL180_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steueranmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz26" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Das SEPA-Lastschriftmandat wird ausnahmsweise (zum Beispiel wegen Verrechnungswünschen) für diesen Voranmeldungszeitraum widerrufen (falls ja, bitte eine &quot;1&quot; eintragen). Ein gegebenenfalls verbleibender Restbetrag ist gesondert zu entrichten.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz29" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Verrechnung des Erstattungsbetrags erwünscht / Erstattungsbetrag ist abgetreten (falls ja, bitte eine &quot;1&quot; eintragen)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz35" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zu anderen Steuersätzen (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz36" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zu anderen Steuersätzen (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz37" type="DezimalzahlNichtNegOhneFuehrNull_MaxL14_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Minderung der abziehbaren Vorsteuerbeträge (in der Zeile $Kz66.Vordruckzeile$ aus Rechnungen von anderen Unternehmen (§ 15 Absatz 1 Satz 1 Nummer 1 UStG) sowie in den Zeilen $Kz63.Vordruckzeile$ und $Kz59.Vordruckzeile$ enthalten)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz39" type="DezimalzahlNichtNegOhneFuehrNull_MaxL14_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Abzug der festgesetzten Sondervorauszahlung für Dauerfristverlängerung (in der Regel nur in der letzten Voranmeldung des Besteuerungszeitraums auszufüllen)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz41" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Innergemeinschaftliche Lieferungen (§ 4 Nummer 1 Buchstabe b UStG) an Abnehmer mit Umsatzsteuer-Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz42" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lieferungen des ersten Abnehmers bei innergemeinschaftlichen Dreiecksgeschäften (§ 25b UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz43" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Weitere steuerfreie Umsätze mit Vorsteuerabzug (zum Beispiel Ausfuhrlieferungen, Umsätze nach § 4 Nummer 2 bis 7 UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz44" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Innergemeinschaftliche Lieferungen (§ 4 Nummer 1 Buchstabe b UStG) neuer Fahrzeuge an Abnehmer ohne Umsatzsteuer-Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz45" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Übrige nicht steuerbare Umsätze (Leistungsort nicht im Inland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz46" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Sonstige Leistungen nach § 3a Absatz 2 UStG eines im übrigen Gemeinschaftsgebiet ansässigen Unternehmers (§ 13b Absatz 1 UStG) (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz47" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Sonstige Leistungen nach § 3a Absatz 2 UStG eines im übrigen Gemeinschaftsgebiet ansässigen Unternehmers (§ 13b Absatz 1 UStG) (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz48" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuerfreie Umsätze ohne Vorsteuerabzug (zum Beispiel Umsätze nach § 4 Nummer 8 bis 29 UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz49" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Innergemeinschaftliche Lieferungen (§ 4 Nummer 1 Buchstabe b UStG) neuer Fahrzeuge außerhalb eines Unternehmens (§ 2a UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz50" type="GanzzahlNichtNegOhneFuehrNull_MaxVK13_Muster1442570546_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Minderung der Bemessungsgrundlage (in den Zeilen $Kz81.Vordruckzeile$ bis $Kz76.Vordruckzeile$ enthalten)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz59" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorsteuerabzug für innergemeinschaftliche Lieferungen neuer Fahrzeuge außerhalb eines Unternehmens (§ 2a UStG) sowie von Kleinunternehmern im Sinne des § 19 Absatz 1 UStG (§ 15 Absatz 4a UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz60" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuerpflichtige Umsätze des leistenden Unternehmers, für die der Leistungsempfänger die Steuer nach § 13b Absatz 5 UStG schuldet</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz61" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorsteuerbeträge aus dem innergemeinschaftlichen Erwerb von Gegenständen (§ 15 Absatz 1 Satz 1 Nummer 3 UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz62" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Entstandene Einfuhrumsatzsteuer (§ 15 Absatz 1 Satz 1 Nummer 2 UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz63" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorsteuerbeträge, die nach allgemeinen Durchschnittssätzen berechnet sind (§§ 23 und 23a UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz64" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Berichtigung des Vorsteuerabzugs (§ 15a UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz65" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuer infolge des Wechsels der Besteuerungsform sowie Nachsteuer auf versteuerte Anzahlungen und ähnlichem wegen Steuersatzänderung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz66" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorsteuerbeträge aus Rechnungen von anderen Unternehmern (§ 15 Absatz 1 Satz 1 Nummer 1 UStG), aus Leistungen im Sinne des § 13a Absatz 1 Nummer 6 UStG (§ 15 Absatz 1 Satz 1 Nummer 5 UStG) und aus innergemeinschaftlichen Dreiecksgeschäften (§ 25b Absatz 5 UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz67" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorsteuerbeträge aus Leistungen im Sinne des § 13b UStG (§ 15 Absatz 1 Satz 1 Nummer 4 UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz69" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>In Rechnungen unrichtig oder unberechtigt ausgewiesene Steuerbeträge (§ 14c UStG) sowie Steuerbeträge, die nach § 6a Absatz 4 Satz 2, § 17 Absatz 1 Satz 7, § 25b Absatz 2 UStG oder von einem Auslagerer oder Lagerhalter nach § 13a Absatz 1 Nummer 6 UStG geschuldet werden</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz73" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Umsätze, die unter das GrEStG fallen (§ 13b Absatz 2 Nummer 3 UStG) (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz74" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Umsätze, die unter das GrEStG fallen (§ 13b Absatz 2 Nummer 3 UStG) (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz76" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Umsätze, für die eine Steuer nach § 24 UStG zu entrichten ist (Sägewerkserzeugnisse, Getränke und alkoholische Flüssigkeiten, zum Beispiel Wein) (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz77" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lieferungen land- und forstwirtschaftlicher Betriebe nach § 24 UStG an Abnehmer mit Umsatzsteuer-Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz80" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Umsätze, für die eine Steuer nach § 24 UStG zu entrichten ist (Sägewerkserzeugnisse, Getränke und alkoholische Flüssigkeiten, zum Beispiel Wein) (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz81" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zum Steuersatz von 19 Prozent</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz83" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Verbleibende Umsatzsteuer-Vorauszahlung beziehungsweise verbleibender Überschuss</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz84" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Andere Leistungen (§ 13b Absatz 2 Nummer 1, 2, 4 bis 12 UStG) (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz85" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Andere Leistungen (§ 13b Absatz 2 Nummer 1, 2, 4 bis 12 UStG) (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz86" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zum Steuersatz von 7 Prozent</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz89" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zum Steuersatz von 19 Prozent</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz91" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuerfreie innergemeinschaftliche Erwerbe von bestimmten Gegenständen und Anlagegold (§§ 4b und 25c UStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz93" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zum Steuersatz von 7 Prozent</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz94" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>neuer Fahrzeuge (§ 1b Absatz 2 und 3 UStG) von Lieferern ohne Umsatzsteuer-Identifikationsnummer zum allgemeinen Steuersatz (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz95" type="GanzzahlOhneFuehrNull_MaxVK13_Muster1442570577_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zu anderen Steuersätzen (Bemessungsgrundlage)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz96" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>neuer Fahrzeuge (§ 1b Absatz 2 und 3 UStG) von Lieferern ohne Umsatzsteuer-Identifikationsnummer zum allgemeinen Steuersatz (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz98" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zu anderen Steuersätzen (Steuer)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Dauerfristverlaengerung_m472961002_CType">
        <xs:sequence>
            <xs:element name="Jahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz09" type="String_MinL5_MaxL95_Musterm385675603_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fünfstellige HerstellerID (Pflichtangabe wenn der zugehörige Kontext angegeben wird).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steueranmeldung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23_Begruendung" type="String_MinL1_MaxL180_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steueranmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Umsatzsteuersondervorauszahlung_m472961002_CType">
        <xs:sequence>
            <xs:element name="Jahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz09" type="String_MinL5_MaxL95_Musterm385675603_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fünfstellige HerstellerID (Pflichtangabe wenn der zugehörige Kontext angegeben wird).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz10" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Berichtigte Anmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steueranmeldung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23_Begruendung" type="String_MinL1_MaxL180_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steueranmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz26" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Das SEPA-Lastschriftmandat wird ausnahmsweise (zum Beispiel wegen Verrechnungswünschen) für diesen Voranmeldungszeitraum widerrufen (falls ja, bitte eine &quot;1&quot; eintragen). Ein gegebenenfalls verbleibender Restbetrag ist gesondert zu entrichten.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz29" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Verrechnung des Erstattungsbetrags erwünscht / Erstattungsbetrag ist abgetreten (falls ja, bitte eine &quot;1&quot; eintragen).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz38" type="GanzzahlNichtNegOhneFuehrNull_MaxVK13_Muster1442570546_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der verbleibenden Umsatzsteuer-Vorauszahlungen zuzüglich der zu berücksichtigenden Sondervorauszahlung für das Kalenderjahr $VZ-1$; davon 1/11 = Sondervorauszahlung $VZ$</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOP_1280293165_CType">
        <xs:sequence>
            <xs:element name="Transferaufgabe" type="String_MinL1_MaxL89_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Transferaufgabe</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>