doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/ElsterLohn2/Schema_3/ArbeitnehmerAnmeldenRequest-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://finkonsens.de/lavendel/datenuebermittler/arbeitnehmeranmeldenrequest/v2" 
xmlns:ct="http://finkonsens.de/lavendel/datenuebermittler/types/complex/v2" 
xmlns:st="http://finkonsens.de/lavendel/datenuebermittler/types/simple/v2" 
targetNamespace="http://finkonsens.de/lavendel/datenuebermittler/arbeitnehmeranmeldenrequest/v2" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified">
	<xs:import namespace="http://finkonsens.de/lavendel/datenuebermittler/types/complex/v2" schemaLocation="./ComplexTypes-v2.xsd"/>
	<xs:import namespace="http://finkonsens.de/lavendel/datenuebermittler/types/simple/v2" schemaLocation="./SimpleTypes-v2.xsd"/>
	<xs:element name="ArbeitnehmerAnmeldenRequest">
		<xs:annotation>
			<xs:documentation>Anmelden von Arbeitnehmern.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Grunddaten eines Arbeitgebers.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="ArbeitnehmerAn" type="ct:ArbeitnehmerAnmeldenComplex">
					<xs:annotation>
						<xs:documentation>Grunddaten eines Arbeitnehmers
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="stnrAG" type="st:StNrSimple" use="required">
				<xs:annotation>
					<xs:documentation>Steuernummer der lohnsteuerlichen Betriebsstätte
des Arbeitgebers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
