doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/ElsterLohn2/Schema_3/elster11_lavendel_extern-v2.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<xs:schema
	 xmlns:elster="http://www.elster.de/elsterxml/schema/v11"
	 xmlns:wechsel="http://finkonsens.de/lavendel/datenuebermittler/datenuebermittlerwechselrequest/v2"
	 xmlns:anan="http://finkonsens.de/lavendel/datenuebermittler/arbeitnehmeranmeldenrequest/v2"
	 xmlns:anab="http://finkonsens.de/lavendel/datenuebermittler/arbeitnehmerabmeldenrequest/v2"
	 xmlns:elsterbasisTH11="http://www.elster.de/elsterxml/schema/v11"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elster.de/elsterxml/schema/v11" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://finkonsens.de/lavendel/datenuebermittler/arbeitnehmerabmeldenrequest/v2" schemaLocation="./ArbeitnehmerAbmeldenRequest-v2.xsd" />
	<xs:import namespace="http://finkonsens.de/lavendel/datenuebermittler/arbeitnehmeranmeldenrequest/v2" schemaLocation="./ArbeitnehmerAnmeldenRequest-v2.xsd" />
	<xs:import namespace="http://finkonsens.de/lavendel/datenuebermittler/datenuebermittlerwechselrequest/v2" schemaLocation="./DatenuebermittlerWechselRequest-v2.xsd" />
	<!--  Externe Elster Basis Schemas / Nicht Bestandteil der Auslieferung  -->
	<!--  Aktuelle Version zum Zeitpunkt der Auslieferung:  -->
	<!--  https://www.elster.de/elsterweb/entwickler/infoseite/schnittstellenbeschreibungen -> ElsterBasis-XML Schnittstelle  -->
	<xs:include schemaLocation="../../../ElsterBasisSchema/Schema/th000011_extern.xsd" />
	<xs:include schemaLocation="../../../ElsterBasisSchema/Schema/ndh000011.xsd">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Nutzdatenheader
			</xs:documentation>
		</xs:annotation>
	</xs:include>
	<!--  RootElement = Elster  -->
	<xs:element name="Elster">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="elsterbasisTH11:TransferHeader" />
				<xs:element name="DatenTeil" type="elster:DatenTeilCType">
					<xs:annotation>
						<xs:documentation xml:lang="DE">verschlüsselt
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="EindeutigesNutzdatenTicket">
			<xs:selector xpath="elster:DatenTeil/elster:Nutzdatenblock/elster:NutzdatenHeader" />
			<xs:field xpath="elster:NutzdatenTicket" />
		</xs:unique>
	</xs:element>
	<!--  D  -->
	<xs:complexType name="DatenTeilCType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Nutzdatenblock" type="elster:NutzdatenblockCType" />
		</xs:sequence>
	</xs:complexType>
	<!--  N  -->
	<xs:complexType name="NutzdatenblockCType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Der Nutzdatenblock
				enthält jeweils einen "NutzdatenHeader"- und einen "Nutzdaten"-Tag
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NutzdatenHeader" type="elster:NutzdatenHeaderCType" />
			<xs:element name="Nutzdaten" type="elster:NutzdatenCType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NutzdatenCType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element ref="anab:ArbeitnehmerAbmeldenRequest" />
			<xs:element ref="anan:ArbeitnehmerAnmeldenRequest" />
			<xs:element ref="wechsel:DatenuebermittlerWechselRequest" />
		</xs:choice>
	</xs:complexType>
</xs:schema>
