doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/OZG-Stadtstaaten/VGNAnzeigeHH_3/Schema/VGNAnzeigeHH-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- VGNAnzeigeHH - 3 - 3.3 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsternachricht/vgnanzeigehh/v3" targetNamespace="http://finkonsens.de/elster/elsternachricht/vgnanzeigehh/v3" xmlns:exml="http://finkonsens.de/elster/elsternachricht/vgnanzeigehh/v3">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="EMailBaseSType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^@]+)(@)([^@]+)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumTTpMMpJJJJBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(10|11|12|01|02|03|04|05|06|07|08|09)\.([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMail_MinLm1_MaxL128_SType">
        <xs:restriction base="EMailBaseSType">
            <xs:minLength value="0"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnzeigeHH_Finanzamt_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2210">
                <xs:annotation>
                    <xs:documentation>Hamburg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnzeigeHH_TestFA_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2293">
                <xs:annotation>
                    <xs:documentation>Testfinanzamt Hamburg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnzeigeHH_VGNAnzeigeHH_PersAngaben_Anzeigeverpflichteter_NNatPers_AnredeId_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Firma</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Frau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Herr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Keine Anrede</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnzeigeHH_VGNAnzeigeHH_PersAngaben_Aufsteller_NNatPers_AnredeId_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Firma</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Frau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Herr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Keine Anrede</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnzeigeHH_VGNAnzeigeHH_Spielgeraete2_AngabenSpielgeraet_Geraet_Kat_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullSType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType"/>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaXBaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MaxL72_Muster90562_SType">
        <xs:restriction base="StringBaseSType">
            <xs:maxLength value="72"/>
            <xs:pattern value="\D*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL100_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL10_Muster91555_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL120_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL46_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="46"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL4_Musterm1643987249_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL72_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL89_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="89"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL2_MaxL13_Muster1255396078_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="2"/>
            <xs:maxLength value="13"/>
            <xs:pattern value="\d+-?\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL2_MaxL7_Musterm1317310723_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="2"/>
            <xs:maxLength value="7"/>
            <xs:pattern value="(00|\+)\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL5_Muster2084297628_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="([0]{1}[1-9]{1}[0-9]{3})|([1-9]{1}[0-9]{4})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VGNAnzeigeHH" type="VGNAnzeigeHH_CType"/>
    <xs:complexType name="VGNAnzeigeHH_CType">
        <xs:sequence>
            <xs:element name="VGNAnzeigeHH" type="VGNAnzeigeHH_2141634065_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="3" use="required"/>
    </xs:complexType>
    <xs:complexType name="VGNAnzeigeHH_2141634065_CType">
        <xs:sequence>
            <xs:element name="Finanzamt" type="Enum_VGNAnzeigeHH_Finanzamt_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Finanzamt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TestFA" type="Enum_VGNAnzeigeHH_TestFA_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Test-Finanzamt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VGNAnzeigeHH_StNr" type="VGNAnzeigeHH_StNr_m187186687_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnzeigeHH_PersAngaben" type="VGNAnzeigeHH_PersAngaben_m187186687_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnzeigeHH_Unterschrift" type="VGNAnzeigeHH_Unterschrift_m187186687_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnzeigeHH_Spielgeraete1" type="VGNAnzeigeHH_Spielgeraete1_m187186687_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnzeigeHH_Spielgeraete2" type="VGNAnzeigeHH_Spielgeraete2_m187186687_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EOP" type="EOP_m187186687_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnzeigeHH_StNr_m187186687_CType">
        <xs:sequence>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnzeigeHH_PersAngaben_m187186687_CType">
        <xs:sequence>
            <xs:element name="Anzeigeverpflichteter" type="Anzeigeverpflichteter_m1293677312_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Aufsteller" type="Aufsteller_m1293677312_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anzeigeverpflichteter_m1293677312_CType">
        <xs:sequence>
            <xs:element name="LfdNr" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Laufende Nummer dieser Anzeige</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GebDatum" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geburtsdatum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NNatPers" type="NNatPers_m1098386914_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FinanzamtAnzeige" type="FinanzamtAnzeige_m1098386914_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NNatPers_m1098386914_CType">
        <xs:sequence>
            <xs:element name="AnredeId" type="Enum_VGNAnzeigeHH_VGNAnzeigeHH_PersAngaben_Anzeigeverpflichteter_NNatPers_AnredeId_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anrede</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Firmenname" type="String_MinL1_MaxL120_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Firmenbezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inlandsadresse" type="Inlandsadresse_1390682693_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Kommunikation" type="Kommunikation_1390682693_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Inlandsadresse_1390682693_CType">
        <xs:sequence>
            <xs:element name="Str" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HausNr" type="String_MinL1_MaxL4_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HausNrZu" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdressErg" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Adressergänzung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Plz" type="String_MinL5_MaxL5_Muster2084297628_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MaxL72_Muster90562_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Kommunikation_1390682693_CType">
        <xs:sequence>
            <xs:element name="Tel" type="Tel_m2082894351_CType" minOccurs="0" maxOccurs="2"/>
            <xs:element name="Email" type="Email_m2082894351_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fax" type="Fax_m2082894351_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tel_m2082894351_CType">
        <xs:sequence>
            <xs:element name="IntVorw" type="String_MinL2_MaxL7_Musterm1317310723_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorwahl international</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NatVorw" type="String_MinL1_MaxL10_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorwahl national</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RufNr" type="String_MinL2_MaxL13_Muster1255396078_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Rufnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Email_m2082894351_CType">
        <xs:sequence>
            <xs:element name="Adresse" type="EMail_MinLm1_MaxL128_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fax_m2082894351_CType">
        <xs:sequence>
            <xs:element name="FaxNummer" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fax-Nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinanzamtAnzeige_m1098386914_CType">
        <xs:sequence>
            <xs:element name="BetriebsFinanzamt" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Betriebsstättenfinanzamt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>dortige Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Aufsteller_m1293677312_CType">
        <xs:sequence>
            <xs:element name="GebDatum" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geburtsdatum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NNatPers" type="NNatPers_277639235_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FinanzamtAufsteller" type="FinanzamtAufsteller_277639235_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NNatPers_277639235_CType">
        <xs:sequence>
            <xs:element name="AnredeId" type="Enum_VGNAnzeigeHH_VGNAnzeigeHH_PersAngaben_Aufsteller_NNatPers_AnredeId_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anrede</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Firmenname" type="String_MinL1_MaxL120_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Firmenbezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inlandsadresse" type="Inlandsadresse_m1528258454_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Kommunikation" type="Kommunikation_m1528258454_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Inlandsadresse_m1528258454_CType">
        <xs:sequence>
            <xs:element name="Str" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HausNr" type="String_MinL1_MaxL4_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HausNrZu" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdressErg" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Adressergänzung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Plz" type="String_MinL5_MaxL5_Muster2084297628_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MaxL72_Muster90562_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Kommunikation_m1528258454_CType">
        <xs:sequence>
            <xs:element name="Tel" type="Tel_m706868202_CType" minOccurs="0" maxOccurs="2"/>
            <xs:element name="Email" type="Email_m706868202_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fax" type="Fax_m706868202_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tel_m706868202_CType">
        <xs:sequence>
            <xs:element name="IntVorw" type="String_MinL2_MaxL7_Musterm1317310723_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorwahl international</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NatVorw" type="String_MinL1_MaxL10_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorwahl national</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RufNr" type="String_MinL2_MaxL13_Muster1255396078_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Rufnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Email_m706868202_CType">
        <xs:sequence>
            <xs:element name="Adresse" type="EMail_MinLm1_MaxL128_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fax_m706868202_CType">
        <xs:sequence>
            <xs:element name="FaxNummer" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fax-Nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinanzamtAufsteller_277639235_CType">
        <xs:sequence>
            <xs:element name="BetriebsFinanzamt" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Betriebsstättenfinanzamt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>dortige Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnzeigeHH_Unterschrift_m187186687_CType">
        <xs:sequence>
            <xs:element name="AlsAufsteller" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Als Aufsteller</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AlsInhaber" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Als Inhaber des für das / die Spielgerät(e) genutzten Raumes – zeige ich hiermit</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ErsteAufstellung" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>die erste Aufstellung / Übernahme / Umrüstung mit neuer Zulassungsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndgEntfernung" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>die endgültige Entfernung / Übergabe / Umrüstung mit neuer Zulassungsnummer – des / der folgend(en) aufgeführten Geräte(s) an.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnzeigeHH_Spielgeraete1_m187186687_CType">
        <xs:sequence>
            <xs:element name="GesamtbestandAlt" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamtbestand laut vorangegangener Anzeige</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LfdNr" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Laufende Nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DatumVom" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>vom</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AngabenSpielgeraet" type="AngabenSpielgeraet_814651949_CType" minOccurs="0" maxOccurs="99"/>
            <xs:element name="Neuer_Gesamtbestand" type="Neuer_Gesamtbestand_814651949_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AngabenSpielgeraet_814651949_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort (Firmenname, Anschrift)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inhaber" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Inhaber des Aufstellortes (Name / Firma, Anschrift)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_136970052_CType" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_136970052_CType">
        <xs:sequence>
            <xs:element name="AbfAufstellung" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bei den Angaben handelt es sich um eine erste Aufstellung / Übernahme / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbfEntfernung" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bei den Angaben handelt es sich um eine endgültige Entfernung / Übergabe / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Aufstellungstag" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tag der ersten Aufstellung / Übernahme / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zulassungsnummer" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zulassungsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Entfernungstag" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tag der endgültigen Entfernung / Übergabe / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Neuer_Gesamtbestand_814651949_CType">
        <xs:sequence>
            <xs:element name="GesamtbestandNeu" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamtbestand (neu)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnzeigeHH_Spielgeraete2_m187186687_CType">
        <xs:sequence>
            <xs:element name="GesamtbestandAlt" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamtbestand laut vorangegangener Anzeige</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LfdNr" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Laufende Nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DatumVom" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>vom</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AngabenSpielgeraet" type="AngabenSpielgeraet_814652910_CType" minOccurs="0" maxOccurs="99"/>
            <xs:element name="Neuer_Gesamtbestand" type="Neuer_Gesamtbestand_814652910_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AngabenSpielgeraet_814652910_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort (Firmenname, Anschrift)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inhaber" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Inhaber des Aufstellortes (Name / Firma, Anschrift)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_136971013_CType" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_136971013_CType">
        <xs:sequence>
            <xs:element name="AbfAufstellung" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bei den Angaben handelt es sich um eine erste Aufstellung / Übernahme / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbfEntfernung" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bei den Angaben handelt es sich um eine endgültige Entfernung / Übergabe / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kat" type="Enum_VGNAnzeigeHH_VGNAnzeigeHH_Spielgeraete2_AngabenSpielgeraet_Geraet_Kat_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kategorie</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Aufstellungstag" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tag der ersten Aufstellung / Übernahme / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Entfernungstag" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tag der endgültigen Entfernung / Übergabe / Umrüstung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Neuer_Gesamtbestand_814652910_CType">
        <xs:sequence>
            <xs:element name="GesamtbestandNeu" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamtbestand (neu)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOP_m187186687_CType">
        <xs:sequence>
            <xs:element name="Transferaufgabe" type="String_MinL1_MaxL89_SType" minOccurs="0" maxOccurs="1">
                <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                <xs:annotation>
                    <xs:documentation>Transferaufgabe</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>