doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/DIVA/DivaEinwilligungAnlageBRM_1/Schema/DivaEinwilligungAnlageBRM-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- DivaEinwilligungAnlageBRM - 1 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsterbrm/divaeinwilligunganlagebrm/v1" targetNamespace="http://finkonsens.de/elster/elsterbrm/divaeinwilligunganlagebrm/v1" xmlns:exml="http://finkonsens.de/elster/elsterbrm/divaeinwilligunganlagebrm/v1">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="EMailBaseSType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^@]+)(@)([^@]+)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMail_MinLm1_MaxLm1_SType">
        <xs:restriction base="EMailBaseSType">
            <xs:minLength value="0"/>
            <xs:maxLength value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_DivaEinwilligungAnlageBRM_Einwilligungsgeber_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>für meine Steuernummer (Einzelperson, gegebenenfalls mit Einzelunternehmen)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>für die gemeinsame Steuernummer von mir und meinem Ehegatten/Lebenspartner (gegebenenfalls mit Einzelunternehmen)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>für die Steuernummer einer nicht-natürlichen Person (zum Beispiel Personengesellschaft, Kapitalgesellschaft)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaXBaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL30_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DivaEinwilligungAnlageBRM" type="DivaEinwilligungAnlageBRM_CType"/>
    <xs:complexType name="DivaEinwilligungAnlageBRM_CType">
        <xs:sequence>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Einwilligungsgeber" type="Enum_DivaEinwilligungAnlageBRM_Einwilligungsgeber_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Einwilligungserklärung erfolgt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EMail" type="EMail_MinLm1_MaxLm1_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse für Benachrichtigung bei elektronischer Bereitstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ordnungsbegriff" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Persönlicher Ordnungsbegriff (zum Beispiel Name oder Betrieb)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonA" type="PersonA_m1715717096_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PersonB" type="PersonB_m1715717096_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Hinweise" type="Hinweise_m1715717096_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="1" use="required"/>
    </xs:complexType>
    <xs:complexType name="PersonA_m1715717096_CType">
        <xs:sequence>
            <xs:element name="IdentifikationsnummerA" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>steuerliche Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonB_m1715717096_CType">
        <xs:sequence>
            <xs:element name="IdentifikationsnummerB" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>steuerliche Identifikationsnummer (Ehegatte / Lebenspartner(in))</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Hinweise_m1715717096_CType">
        <xs:sequence>
            <xs:element name="KenntnisnahmeHinweistext" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Hinweise zur Bescheidbekanntgabe in elektronischer Form habe ich zur Kenntnis genommen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>