doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/AnpassungVorauszahlung_21/Schema/Eing_Vorauszlg-21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- Eing_Vorauszlg - 21 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsternachricht/anpassungvorauszahlung/v21" targetNamespace="http://finkonsens.de/elster/elsternachricht/anpassungvorauszahlung/v21" xmlns:exml="http://finkonsens.de/elster/elsternachricht/anpassungvorauszahlung/v21">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="EMailBaseSType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^@]+)(@)([^@]+)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlPosOhneFuehrNullBaseSType">
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[1-9].*">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMail_MinLm1_MaxL128_SType">
        <xs:restriction base="EMailBaseSType">
            <xs:minLength value="0"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_ISO_3166_1_2stellig_ohne_DE_3_BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AF">
                <xs:annotation>
                    <xs:documentation>Afghanistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EG">
                <xs:annotation>
                    <xs:documentation>Ägypten</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AX">
                <xs:annotation>
                    <xs:documentation>Alandinseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AL">
                <xs:annotation>
                    <xs:documentation>Albanien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DZ">
                <xs:annotation>
                    <xs:documentation>Algerien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VI">
                <xs:annotation>
                    <xs:documentation>Amerikanische Jungferninseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM">
                <xs:annotation>
                    <xs:documentation>Amerikanisch-Ozeanien (US Minor Outlying Islands)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AS">
                <xs:annotation>
                    <xs:documentation>Amerikanisch-Samoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AD">
                <xs:annotation>
                    <xs:documentation>Andorra</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AO">
                <xs:annotation>
                    <xs:documentation>Angola</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AI">
                <xs:annotation>
                    <xs:documentation>Anguilla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AQ">
                <xs:annotation>
                    <xs:documentation>Antarktis</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AG">
                <xs:annotation>
                    <xs:documentation>Antigua und Barbuda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GQ">
                <xs:annotation>
                    <xs:documentation>Äquatorialguinea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AR">
                <xs:annotation>
                    <xs:documentation>Argentinien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AM">
                <xs:annotation>
                    <xs:documentation>Armenien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AW">
                <xs:annotation>
                    <xs:documentation>Aruba</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AZ">
                <xs:annotation>
                    <xs:documentation>Aserbaidschan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ET">
                <xs:annotation>
                    <xs:documentation>Äthiopien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AU">
                <xs:annotation>
                    <xs:documentation>Australien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BS">
                <xs:annotation>
                    <xs:documentation>Bahamas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BH">
                <xs:annotation>
                    <xs:documentation>Bahrain</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BD">
                <xs:annotation>
                    <xs:documentation>Bangladesch</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BB">
                <xs:annotation>
                    <xs:documentation>Barbados</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BY">
                <xs:annotation>
                    <xs:documentation>Belarus (Weißrussland)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BE">
                <xs:annotation>
                    <xs:documentation>Belgien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BZ">
                <xs:annotation>
                    <xs:documentation>Belize</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BJ">
                <xs:annotation>
                    <xs:documentation>Benin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BM">
                <xs:annotation>
                    <xs:documentation>Bermuda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BT">
                <xs:annotation>
                    <xs:documentation>Bhutan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BO">
                <xs:annotation>
                    <xs:documentation>Bolivien, Plurinationaler Staat</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BQ">
                <xs:annotation>
                    <xs:documentation>Bonaire, Saba und Sint Eustatius</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BA">
                <xs:annotation>
                    <xs:documentation>Bosnien und Herzegowina</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BW">
                <xs:annotation>
                    <xs:documentation>Botsuana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BV">
                <xs:annotation>
                    <xs:documentation>Bouvetinsel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BR">
                <xs:annotation>
                    <xs:documentation>Brasilien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VG">
                <xs:annotation>
                    <xs:documentation>Britische Jungferninseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IO">
                <xs:annotation>
                    <xs:documentation>Britisches Territorium im Indischen Ozean</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BN">
                <xs:annotation>
                    <xs:documentation>Brunei Darussalam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BG">
                <xs:annotation>
                    <xs:documentation>Bulgarien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BF">
                <xs:annotation>
                    <xs:documentation>Burkina Faso</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BI">
                <xs:annotation>
                    <xs:documentation>Burundi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CL">
                <xs:annotation>
                    <xs:documentation>Chile</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CN">
                <xs:annotation>
                    <xs:documentation>China, Volksrepublik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CK">
                <xs:annotation>
                    <xs:documentation>Cookinseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CR">
                <xs:annotation>
                    <xs:documentation>Costa Rica</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CI">
                <xs:annotation>
                    <xs:documentation>Cote d Ivoire (Elfenbeinküste)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CW">
                <xs:annotation>
                    <xs:documentation>Curacao</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DK">
                <xs:annotation>
                    <xs:documentation>Dänemark</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DM">
                <xs:annotation>
                    <xs:documentation>Dominica</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DO">
                <xs:annotation>
                    <xs:documentation>Dominikanische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DJ">
                <xs:annotation>
                    <xs:documentation>Dschibuti</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EC">
                <xs:annotation>
                    <xs:documentation>Ecuador</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SV">
                <xs:annotation>
                    <xs:documentation>El Salvador</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ER">
                <xs:annotation>
                    <xs:documentation>Eritrea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EE">
                <xs:annotation>
                    <xs:documentation>Estland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FK">
                <xs:annotation>
                    <xs:documentation>Falklandinseln (Malwinen)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FO">
                <xs:annotation>
                    <xs:documentation>Färöer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FJ">
                <xs:annotation>
                    <xs:documentation>Fidschi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FI">
                <xs:annotation>
                    <xs:documentation>Finnland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FR">
                <xs:annotation>
                    <xs:documentation>Frankreich</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TF">
                <xs:annotation>
                    <xs:documentation>Französische Südgebiete</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GF">
                <xs:annotation>
                    <xs:documentation>Französisch-Guayana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PF">
                <xs:annotation>
                    <xs:documentation>Französisch-Polynesien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GA">
                <xs:annotation>
                    <xs:documentation>Gabun</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GM">
                <xs:annotation>
                    <xs:documentation>Gambia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GE">
                <xs:annotation>
                    <xs:documentation>Georgien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GH">
                <xs:annotation>
                    <xs:documentation>Ghana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GI">
                <xs:annotation>
                    <xs:documentation>Gibraltar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GD">
                <xs:annotation>
                    <xs:documentation>Grenada</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GR">
                <xs:annotation>
                    <xs:documentation>Griechenland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GL">
                <xs:annotation>
                    <xs:documentation>Grönland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GP">
                <xs:annotation>
                    <xs:documentation>Guadeloupe</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GU">
                <xs:annotation>
                    <xs:documentation>Guam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GT">
                <xs:annotation>
                    <xs:documentation>Guatemala</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GG">
                <xs:annotation>
                    <xs:documentation>Guernsey</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GN">
                <xs:annotation>
                    <xs:documentation>Guinea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GW">
                <xs:annotation>
                    <xs:documentation>Guinea-Bissau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GY">
                <xs:annotation>
                    <xs:documentation>Guyana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HT">
                <xs:annotation>
                    <xs:documentation>Haiti</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HM">
                <xs:annotation>
                    <xs:documentation>Heard und die McDonaldinseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VA">
                <xs:annotation>
                    <xs:documentation>Heiliger Stuhl (Vatikanstadt)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HN">
                <xs:annotation>
                    <xs:documentation>Honduras</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HK">
                <xs:annotation>
                    <xs:documentation>Hongkong</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN">
                <xs:annotation>
                    <xs:documentation>Indien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ID">
                <xs:annotation>
                    <xs:documentation>Indonesien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IM">
                <xs:annotation>
                    <xs:documentation>Insel Man</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IQ">
                <xs:annotation>
                    <xs:documentation>Irak</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IR">
                <xs:annotation>
                    <xs:documentation>Iran, Islamische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IE">
                <xs:annotation>
                    <xs:documentation>Irland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IS">
                <xs:annotation>
                    <xs:documentation>Island</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IL">
                <xs:annotation>
                    <xs:documentation>Israel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IT">
                <xs:annotation>
                    <xs:documentation>Italien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JM">
                <xs:annotation>
                    <xs:documentation>Jamaika</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JP">
                <xs:annotation>
                    <xs:documentation>Japan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YE">
                <xs:annotation>
                    <xs:documentation>Jemen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JE">
                <xs:annotation>
                    <xs:documentation>Jersey</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JO">
                <xs:annotation>
                    <xs:documentation>Jordanien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KY">
                <xs:annotation>
                    <xs:documentation>Kaimaninseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KH">
                <xs:annotation>
                    <xs:documentation>Kambodscha</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CM">
                <xs:annotation>
                    <xs:documentation>Kamerun</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CA">
                <xs:annotation>
                    <xs:documentation>Kanada</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CV">
                <xs:annotation>
                    <xs:documentation>Kap Verde</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KZ">
                <xs:annotation>
                    <xs:documentation>Kasachstan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QA">
                <xs:annotation>
                    <xs:documentation>Katar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KE">
                <xs:annotation>
                    <xs:documentation>Kenia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KG">
                <xs:annotation>
                    <xs:documentation>Kirgisistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KI">
                <xs:annotation>
                    <xs:documentation>Kiribati</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CC">
                <xs:annotation>
                    <xs:documentation>Kokosinseln (Keelinginseln)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CO">
                <xs:annotation>
                    <xs:documentation>Kolumbien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KM">
                <xs:annotation>
                    <xs:documentation>Komoren</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CD">
                <xs:annotation>
                    <xs:documentation>Kongo, Demokratische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CG">
                <xs:annotation>
                    <xs:documentation>Kongo, Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SZ">
                <xs:annotation>
                    <xs:documentation>Königreich Eswatini</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KP">
                <xs:annotation>
                    <xs:documentation>Korea, Demokratische Volksrepublik (Nordkorea)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KR">
                <xs:annotation>
                    <xs:documentation>Korea, Republik (Südkorea)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KO">
                <xs:annotation>
                    <xs:documentation>Kosovo</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HR">
                <xs:annotation>
                    <xs:documentation>Kroatien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CU">
                <xs:annotation>
                    <xs:documentation>Kuba</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KW">
                <xs:annotation>
                    <xs:documentation>Kuwait</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LA">
                <xs:annotation>
                    <xs:documentation>Laos, Demokratische Volksrepublik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LS">
                <xs:annotation>
                    <xs:documentation>Lesotho</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LV">
                <xs:annotation>
                    <xs:documentation>Lettland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LB">
                <xs:annotation>
                    <xs:documentation>Libanon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LR">
                <xs:annotation>
                    <xs:documentation>Liberia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LY">
                <xs:annotation>
                    <xs:documentation>Libysch-Arabische Dschamahirija (Libyen)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LI">
                <xs:annotation>
                    <xs:documentation>Liechtenstein</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LT">
                <xs:annotation>
                    <xs:documentation>Litauen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LU">
                <xs:annotation>
                    <xs:documentation>Luxemburg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MO">
                <xs:annotation>
                    <xs:documentation>Macau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MG">
                <xs:annotation>
                    <xs:documentation>Madagaskar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MW">
                <xs:annotation>
                    <xs:documentation>Malawi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MY">
                <xs:annotation>
                    <xs:documentation>Malaysia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MV">
                <xs:annotation>
                    <xs:documentation>Malediven</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ML">
                <xs:annotation>
                    <xs:documentation>Mali</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MT">
                <xs:annotation>
                    <xs:documentation>Malta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MP">
                <xs:annotation>
                    <xs:documentation>Marianen, Nördliche</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MA">
                <xs:annotation>
                    <xs:documentation>Marokko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MH">
                <xs:annotation>
                    <xs:documentation>Marshallinseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MQ">
                <xs:annotation>
                    <xs:documentation>Martinique</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MR">
                <xs:annotation>
                    <xs:documentation>Mauretanien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MU">
                <xs:annotation>
                    <xs:documentation>Mauritius</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YT">
                <xs:annotation>
                    <xs:documentation>Mayotte</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MX">
                <xs:annotation>
                    <xs:documentation>Mexiko</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FM">
                <xs:annotation>
                    <xs:documentation>Mikronesien, Föderierte Staaten von</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MD">
                <xs:annotation>
                    <xs:documentation>Moldau, Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MC">
                <xs:annotation>
                    <xs:documentation>Monaco</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MN">
                <xs:annotation>
                    <xs:documentation>Mongolei</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ME">
                <xs:annotation>
                    <xs:documentation>Montenegro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS">
                <xs:annotation>
                    <xs:documentation>Montserrat</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MZ">
                <xs:annotation>
                    <xs:documentation>Mosambik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM">
                <xs:annotation>
                    <xs:documentation>Myanmar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NA">
                <xs:annotation>
                    <xs:documentation>Namibia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NR">
                <xs:annotation>
                    <xs:documentation>Nauru</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NP">
                <xs:annotation>
                    <xs:documentation>Nepal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NC">
                <xs:annotation>
                    <xs:documentation>Neukaledonien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NZ">
                <xs:annotation>
                    <xs:documentation>Neuseeland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NI">
                <xs:annotation>
                    <xs:documentation>Nicaragua</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NL">
                <xs:annotation>
                    <xs:documentation>Niederlande</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NE">
                <xs:annotation>
                    <xs:documentation>Niger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NG">
                <xs:annotation>
                    <xs:documentation>Nigeria</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NU">
                <xs:annotation>
                    <xs:documentation>Niue</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MK">
                <xs:annotation>
                    <xs:documentation>Nordmazedonien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NF">
                <xs:annotation>
                    <xs:documentation>Norfolkinsel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NO">
                <xs:annotation>
                    <xs:documentation>Norwegen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OM">
                <xs:annotation>
                    <xs:documentation>Oman</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AT">
                <xs:annotation>
                    <xs:documentation>Österreich</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PK">
                <xs:annotation>
                    <xs:documentation>Pakistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PS">
                <xs:annotation>
                    <xs:documentation>Palästinensische Autonomiegebiete</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PW">
                <xs:annotation>
                    <xs:documentation>Palau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PA">
                <xs:annotation>
                    <xs:documentation>Panama</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PG">
                <xs:annotation>
                    <xs:documentation>Papua-Neuguinea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PY">
                <xs:annotation>
                    <xs:documentation>Paraguay</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PE">
                <xs:annotation>
                    <xs:documentation>Peru</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PH">
                <xs:annotation>
                    <xs:documentation>Philippinen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PN">
                <xs:annotation>
                    <xs:documentation>Pitcairninseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PL">
                <xs:annotation>
                    <xs:documentation>Polen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PT">
                <xs:annotation>
                    <xs:documentation>Portugal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PR">
                <xs:annotation>
                    <xs:documentation>Puerto Rico</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RE">
                <xs:annotation>
                    <xs:documentation>Reunion</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RW">
                <xs:annotation>
                    <xs:documentation>Ruanda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RO">
                <xs:annotation>
                    <xs:documentation>Rumänien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RU">
                <xs:annotation>
                    <xs:documentation>Russische Föderation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SB">
                <xs:annotation>
                    <xs:documentation>Salomonen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZM">
                <xs:annotation>
                    <xs:documentation>Sambia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WS">
                <xs:annotation>
                    <xs:documentation>Samoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SM">
                <xs:annotation>
                    <xs:documentation>San Marino</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ST">
                <xs:annotation>
                    <xs:documentation>Sao Tome und Principe</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SA">
                <xs:annotation>
                    <xs:documentation>Saudi-Arabien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SE">
                <xs:annotation>
                    <xs:documentation>Schweden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CH">
                <xs:annotation>
                    <xs:documentation>Schweiz</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SN">
                <xs:annotation>
                    <xs:documentation>Senegal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RS">
                <xs:annotation>
                    <xs:documentation>Serbien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SC">
                <xs:annotation>
                    <xs:documentation>Seychellen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SL">
                <xs:annotation>
                    <xs:documentation>Sierra Leone</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZW">
                <xs:annotation>
                    <xs:documentation>Simbabwe</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SG">
                <xs:annotation>
                    <xs:documentation>Singapur</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SX">
                <xs:annotation>
                    <xs:documentation>Sint Maarten (Niederländisches Gebiet)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SK">
                <xs:annotation>
                    <xs:documentation>Slowakei</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SI">
                <xs:annotation>
                    <xs:documentation>Slowenien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SO">
                <xs:annotation>
                    <xs:documentation>Somalia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ES">
                <xs:annotation>
                    <xs:documentation>Spanien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LK">
                <xs:annotation>
                    <xs:documentation>Sri Lanka</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BL">
                <xs:annotation>
                    <xs:documentation>St.Barthelemy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SH">
                <xs:annotation>
                    <xs:documentation>St. Helena und Nebengebiete</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KN">
                <xs:annotation>
                    <xs:documentation>St. Kitts und Nevis</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LC">
                <xs:annotation>
                    <xs:documentation>St. Lucia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MF">
                <xs:annotation>
                    <xs:documentation>St. Martin (französischer Teil)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PM">
                <xs:annotation>
                    <xs:documentation>St. Pierre und Miquelon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VC">
                <xs:annotation>
                    <xs:documentation>St. Vincent und die Grenadinen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZA">
                <xs:annotation>
                    <xs:documentation>Südafrika</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SD">
                <xs:annotation>
                    <xs:documentation>Sudan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GS">
                <xs:annotation>
                    <xs:documentation>Südgeorgien und die Südlichen Sandwichinseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SS">
                <xs:annotation>
                    <xs:documentation>Südsudan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SR">
                <xs:annotation>
                    <xs:documentation>Suriname</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SJ">
                <xs:annotation>
                    <xs:documentation>Svalbard und Jan Mayen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SY">
                <xs:annotation>
                    <xs:documentation>Syrien, Arabische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TJ">
                <xs:annotation>
                    <xs:documentation>Tadschikistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TW">
                <xs:annotation>
                    <xs:documentation>Taiwan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TZ">
                <xs:annotation>
                    <xs:documentation>Tansania, Vereinigte Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TH">
                <xs:annotation>
                    <xs:documentation>Thailand</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TL">
                <xs:annotation>
                    <xs:documentation>Timor-Leste</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TG">
                <xs:annotation>
                    <xs:documentation>Togo</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TK">
                <xs:annotation>
                    <xs:documentation>Tokelau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TO">
                <xs:annotation>
                    <xs:documentation>Tonga</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TT">
                <xs:annotation>
                    <xs:documentation>Trinidad und Tobago</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TD">
                <xs:annotation>
                    <xs:documentation>Tschad</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CZ">
                <xs:annotation>
                    <xs:documentation>Tschechische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TN">
                <xs:annotation>
                    <xs:documentation>Tunesien</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TR">
                <xs:annotation>
                    <xs:documentation>Türkei</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TM">
                <xs:annotation>
                    <xs:documentation>Turkmenistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TC">
                <xs:annotation>
                    <xs:documentation>Turks- und Caicosinseln</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TV">
                <xs:annotation>
                    <xs:documentation>Tuvalu</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UG">
                <xs:annotation>
                    <xs:documentation>Uganda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UA">
                <xs:annotation>
                    <xs:documentation>Ukraine</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HU">
                <xs:annotation>
                    <xs:documentation>Ungarn</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UY">
                <xs:annotation>
                    <xs:documentation>Uruguay</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UZ">
                <xs:annotation>
                    <xs:documentation>Usbekistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VU">
                <xs:annotation>
                    <xs:documentation>Vanuatu</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VE">
                <xs:annotation>
                    <xs:documentation>Venezuela, Bolivarische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AE">
                <xs:annotation>
                    <xs:documentation>Vereinigte Arabischen Emirate</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GB">
                <xs:annotation>
                    <xs:documentation>Vereinigtes Königreich Großbritannien und Nordirland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="US">
                <xs:annotation>
                    <xs:documentation>Vereinigte Staaten von Amerika</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VN">
                <xs:annotation>
                    <xs:documentation>Vietnam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WF">
                <xs:annotation>
                    <xs:documentation>Wallis und Futuna</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CX">
                <xs:annotation>
                    <xs:documentation>Weihnachtsinsel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EH">
                <xs:annotation>
                    <xs:documentation>Westsahara</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CF">
                <xs:annotation>
                    <xs:documentation>Zentralafrikanische Republik</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CY">
                <xs:annotation>
                    <xs:documentation>Zypern</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_Vorauszahlung_AntragFuerSteuerartZeitraum_Quartal_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Q1">
                <xs:annotation>
                    <xs:documentation>ab 1. Quartal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Q2">
                <xs:annotation>
                    <xs:documentation>ab 2. Quartal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Q3">
                <xs:annotation>
                    <xs:documentation>ab 3. Quartal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Q4">
                <xs:annotation>
                    <xs:documentation>ab 4. Quartal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="nVz">
                <xs:annotation>
                    <xs:documentation>nachträgliche Vorauszahlung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_Vorauszahlung_AntragFuerSteuerartZeitraum_Steuerart_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0030">
                <xs:annotation>
                    <xs:documentation>Einkommensteuer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0031">
                <xs:annotation>
                    <xs:documentation>Besteuerungsgrundlagen zur Einkommensteuer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0500">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0610">
                <xs:annotation>
                    <xs:documentation>Körperschaftsteuer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1840">
                <xs:annotation>
                    <xs:documentation>Gewerbesteuer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1841">
                <xs:annotation>
                    <xs:documentation>Gewerbesteuermessbetrag</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_Vorauszahlung_Steuerpflichtiger_SteuerpflichtigerTyp_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NatPerson">
                <xs:annotation>
                    <xs:documentation>natürliche Person</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NichtNatPerson">
                <xs:annotation>
                    <xs:documentation>nicht natürliche Person</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlPosOhneFuehrNull_Muster1432008049_SType">
        <xs:restriction base="GanzzahlPosOhneFuehrNullBaseSType">
            <xs:pattern value=".{0,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlPosOhneFuehrNull_Muster1432127182_SType">
        <xs:restriction base="GanzzahlPosOhneFuehrNullBaseSType">
            <xs:pattern value=".{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZU_MinL1_MaxL10000_SType">
        <xs:restriction base="StringZUBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL12_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_Musterm558127046_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
            <xs:pattern value="[0-9+-/]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL25_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL30_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL46_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="46"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL50_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL60_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL6_Musterm1643987249_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL72_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL5_Muster88063003_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="\d{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Vorauszahlung" type="Vorauszahlung_CType"/>
    <xs:complexType name="Vorauszahlung_CType">
        <xs:sequence>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Begruendung" type="StringZU_MinL1_MaxL10000_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Begründung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuerpflichtiger" type="Steuerpflichtiger_m1571882852_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Ehegatte" type="Ehegatte_m1571882852_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Uebermittler" type="Uebermittler_m1571882852_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AntragFuerSteuerartZeitraum" type="AntragFuerSteuerartZeitraum_m1571882852_CType" minOccurs="0" maxOccurs="10"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="21" use="required"/>
    </xs:complexType>
    <xs:complexType name="Steuerpflichtiger_m1571882852_CType">
        <xs:sequence>
            <xs:element name="SteuerpflichtigerTyp" type="Enum_Vorauszahlung_Steuerpflichtiger_SteuerpflichtigerTyp_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Person (natürliche Person/nicht natürliche Person)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name oder Unternehmen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL25_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_Musterm558127046_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="EMail_MinLm1_MaxL128_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adresse" type="Adresse_1387058517_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Adresse_1387058517_CType">
        <xs:sequence>
            <xs:element name="StrAdrInl" type="StrAdrInl_m848484670_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="StrAdrAusl" type="StrAdrAusl_m848484670_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PostfAdrInl" type="PostfAdrInl_m848484670_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="GKAdrInl" type="GKAdrInl_m848484670_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrAdrInl_m848484670_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummernzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anschriftenzusatz" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrAdrAusl_m848484670_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummernzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anschriftenzusatz" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL1_MaxL12_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="Enum_ISO_3166_1_2stellig_ohne_DE_3_BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostfAdrInl_m848484670_CType">
        <xs:sequence>
            <xs:element name="Postfach" type="String_MinL1_MaxL6_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GKAdrInl_m848484670_CType">
        <xs:sequence>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ehegatte_m1571882852_CType">
        <xs:sequence>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL25_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_Musterm558127046_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="EMail_MinLm1_MaxL128_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adresse" type="Adresse_1616973141_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Adresse_1616973141_CType">
        <xs:sequence>
            <xs:element name="StrAdrInl" type="StrAdrInl_m618570046_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="StrAdrAusl" type="StrAdrAusl_m618570046_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PostfAdrInl" type="PostfAdrInl_m618570046_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="GKAdrInl" type="GKAdrInl_m618570046_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrAdrInl_m618570046_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummernzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anschriftenzusatz" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrAdrAusl_m618570046_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummernzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anschriftenzusatz" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL1_MaxL12_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="Enum_ISO_3166_1_2stellig_ohne_DE_3_BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostfAdrInl_m618570046_CType">
        <xs:sequence>
            <xs:element name="Postfach" type="String_MinL1_MaxL6_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GKAdrInl_m618570046_CType">
        <xs:sequence>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Uebermittler_m1571882852_CType">
        <xs:sequence>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL25_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_Musterm558127046_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="EMail_MinLm1_MaxL128_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adresse" type="Adresse_m38028992_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Adresse_m38028992_CType">
        <xs:sequence>
            <xs:element name="StrAdrInl" type="StrAdrInl_2021395117_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="StrAdrAusl" type="StrAdrAusl_2021395117_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PostfAdrInl" type="PostfAdrInl_2021395117_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="GKAdrInl" type="GKAdrInl_2021395117_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrAdrInl_2021395117_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummernzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anschriftenzusatz" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrAdrAusl_2021395117_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummernzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anschriftenzusatz" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL1_MaxL12_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="Enum_ISO_3166_1_2stellig_ohne_DE_3_BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostfAdrInl_2021395117_CType">
        <xs:sequence>
            <xs:element name="Postfach" type="String_MinL1_MaxL6_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GKAdrInl_2021395117_CType">
        <xs:sequence>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AntragFuerSteuerartZeitraum_m1571882852_CType">
        <xs:sequence>
            <xs:element name="Steuerart" type="Enum_Vorauszahlung_AntragFuerSteuerartZeitraum_Steuerart_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuerart</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Quartal" type="Enum_Vorauszahlung_AntragFuerSteuerartZeitraum_Quartal_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Quartal</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Jahr" type="GanzzahlPosOhneFuehrNull_Muster1432127182_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr (Veranlagungszeitraum)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>