doc/Dokumentation/Schnittstellenbeschreibungen/Erklaerungssteuern/GewStZ_21_2022/Schema/E21-2022.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- E21 - 2022 - 11.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstererklaerung/gewstz/e21/v2022" targetNamespace="http://finkonsens.de/elster/elstererklaerung/gewstz/e21/v2022" xmlns:exml="http://finkonsens.de/elster/elstererklaerung/gewstz/e21/v2022">
    <!-- XML-Typdefinitionen fuer eXML -->
    <xs:simpleType name="AttributeAlias">
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:complexType name="EMailBaseCType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="([^@]+)(@)([^@]+)"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNullBaseCType">
        <xs:simpleContent>
            <xs:restriction base="NonNegativeIntegerBaseWithAliasCType">
                <xs:pattern value="[1-9].*|0">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosBaseCType">
        <xs:simpleContent>
            <xs:restriction base="PositiveIntegerBaseWithAliasCType">
                <xs:pattern value="[0-9].*">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="NonNegativeIntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:nonNegativeInteger">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="PositiveIntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringZUBaseCType">
                <xs:pattern value="[^&#xa;&#xd;]+">
                    <xs:annotation>
                        <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringZUBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                    <xs:annotation>
                        <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EMail_MinL1_MaxL290_CType">
        <xs:simpleContent>
            <xs:restriction base="EMailBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="290"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EMail_MinLm1_MaxL60_CType">
        <xs:simpleContent>
            <xs:restriction base="EMailBaseCType">
                <xs:minLength value="0"/>
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_GewSt1D_Ang_Zerl_Abweichung_Zerl_E4101602_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="%">
                    <xs:annotation>
                        <xs:documentation>%</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="€">
                    <xs:annotation>
                        <xs:documentation>€</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Anz">
                    <xs:annotation>
                        <xs:documentation>Anz</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="cbm">
                    <xs:annotation>
                        <xs:documentation>cbm</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="km">
                    <xs:annotation>
                        <xs:documentation>km</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="kW">
                    <xs:annotation>
                        <xs:documentation>kW</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="kWh">
                    <xs:annotation>
                        <xs:documentation>kWh</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Min">
                    <xs:annotation>
                        <xs:documentation>Min</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="qm">
                    <xs:annotation>
                        <xs:documentation>qm</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Std">
                    <xs:annotation>
                        <xs:documentation>Std</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_GewSt1D_Ang_Zerl_Art_E4100922_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>§ 29 Absatz 1 Nummer 1 GewStG (Regelfall)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>§ 29 Absatz 1 Nummer 2 Buchstabe a GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation>§ 29 Absatz 1 Nummer 2 Buchstabe b GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="4">
                    <xs:annotation>
                        <xs:documentation>§ 33 Absatz 1 GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="5">
                    <xs:annotation>
                        <xs:documentation>§ 33 Absatz 2 GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="6">
                    <xs:annotation>
                        <xs:documentation>§ 35a Absatz 4 GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="Zerl1">
                    <xs:annotation>
                        <xs:documentation>1. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl2">
                    <xs:annotation>
                        <xs:documentation>2. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl3">
                    <xs:annotation>
                        <xs:documentation>3. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl4">
                    <xs:annotation>
                        <xs:documentation>4. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl5">
                    <xs:annotation>
                        <xs:documentation>5. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_RECHTSFORM_GEWERBESTEUER_5_BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="350">
                    <xs:annotation>
                        <xs:documentation>Gesellschaft mit beschränkter Haftung</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="370">
                    <xs:annotation>
                        <xs:documentation>Unternehmergesellschaft (haftungsbeschränkt)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="310">
                    <xs:annotation>
                        <xs:documentation>Aktiengesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="360">
                    <xs:annotation>
                        <xs:documentation>Europäische Gesellschaft (SE)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="320">
                    <xs:annotation>
                        <xs:documentation>Kommanditgesellschaft auf Aktien</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="910">
                    <xs:annotation>
                        <xs:documentation>Ausländische Rechtsform, die mit Körperschaften nach § 1 Absatz 1 Nummer 1 KStG vergleichbar ist</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="460">
                    <xs:annotation>
                        <xs:documentation>eingetragene Genossenschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="450">
                    <xs:annotation>
                        <xs:documentation>Europäische Genossenschaft (SCE)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="490">
                    <xs:annotation>
                        <xs:documentation>sonstige Genossenschaft im Sinne des Genossenschaftsgesetzes</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="930">
                    <xs:annotation>
                        <xs:documentation>Ausländische Rechtsform, die mit einer Körperschaft nach § 1 Absatz 1 Nummer 2 KStG vergleichbar ist</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="510">
                    <xs:annotation>
                        <xs:documentation>Versicherungsverein auf Gegenseitigkeit</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="511">
                    <xs:annotation>
                        <xs:documentation>Pensionsfondsverein auf Gegenseitigkeit</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="520">
                    <xs:annotation>
                        <xs:documentation>eingetragener Verein</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="623">
                    <xs:annotation>
                        <xs:documentation>wirtschaftlicher Verein</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="540">
                    <xs:annotation>
                        <xs:documentation>rechtsfähige Stiftung des privaten Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="590">
                    <xs:annotation>
                        <xs:documentation>sonstige juristische Person des privaten Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="940">
                    <xs:annotation>
                        <xs:documentation>Ausländische Rechtsform, die einer Körperschaft nach § 1 Absatz 1 Nummer 4 KStG vergleichbar ist</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="621">
                    <xs:annotation>
                        <xs:documentation>Nichtrechtsfähiger Verein</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="650">
                    <xs:annotation>
                        <xs:documentation>Nichtrechtsfähige Stiftung des privaten Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="624">
                    <xs:annotation>
                        <xs:documentation>Sonstiges Zweckvermögen</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="950">
                    <xs:annotation>
                        <xs:documentation>Ausländische Rechtsform, die einer Körperschaft oder einem Zweckvermögen nach § 1 Absatz 1 Nummer 5 KStG vergleichbar ist</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="810">
                    <xs:annotation>
                        <xs:documentation>Gebietskörperschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="811">
                    <xs:annotation>
                        <xs:documentation>Rechtsfähige Anstalt des öffentlichen Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="838">
                    <xs:annotation>
                        <xs:documentation>Nichtrechtsfähige Anstalt des öffentlichen Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="831">
                    <xs:annotation>
                        <xs:documentation>Berufsständische Körperschaft des öffentlichen Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="833">
                    <xs:annotation>
                        <xs:documentation>Öffentlich-rechtliche Rundfunk- und Fernsehanstalt</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="820">
                    <xs:annotation>
                        <xs:documentation>Öffentlich-rechtliche Religionsgesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="840">
                    <xs:annotation>
                        <xs:documentation>Rechtsfähige Stiftung des öffentlichen Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="850">
                    <xs:annotation>
                        <xs:documentation>Nichtrechtsfähige Stiftung des öffentlichen Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="834">
                    <xs:annotation>
                        <xs:documentation>Sonstige juristische Person des öffentlichen Rechts (zum Beispiel Zweckverband)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="960">
                    <xs:annotation>
                        <xs:documentation>Ausländische Rechtsform, die einer öffentlich-rechtlichen Körperschaft nach § 1 Absatz 1 Nummer 6 KStG vergleichbar ist</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="611">
                    <xs:annotation>
                        <xs:documentation>Sondervermögen</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="391">
                    <xs:annotation>
                        <xs:documentation>Investmentaktiengesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="221">
                    <xs:annotation>
                        <xs:documentation>Investmentkommanditgesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="837">
                    <xs:annotation>
                        <xs:documentation>Europäischer Verbund für territoriale Zusammenarbeit</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="200">
                    <xs:annotation>
                        <xs:documentation>Atypisch stille Gesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="210">
                    <xs:annotation>
                        <xs:documentation>Offene Handelsgesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="220">
                    <xs:annotation>
                        <xs:documentation>Kommanditgesellschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="230">
                    <xs:annotation>
                        <xs:documentation>GmbH und Co. KG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="240">
                    <xs:annotation>
                        <xs:documentation>GmbH und Co. OHG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="250">
                    <xs:annotation>
                        <xs:documentation>Aktiengesellschaft und Co. KG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="260">
                    <xs:annotation>
                        <xs:documentation>Aktiengesellschaft und Co. OHG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="270">
                    <xs:annotation>
                        <xs:documentation>Gesellschaft bürgerlichen Rechts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="280">
                    <xs:annotation>
                        <xs:documentation>Europäische wirtschaftliche Interessenvereinigung (EWIV)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="290">
                    <xs:annotation>
                        <xs:documentation>sonstige Personengesellschaften</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="291">
                    <xs:annotation>
                        <xs:documentation>Gemeinschaft (zum Beispiel Erben-, Grundstücksgemeinschaft)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="292">
                    <xs:annotation>
                        <xs:documentation>Partenreederei (§§ 489 folgende HGB)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="293">
                    <xs:annotation>
                        <xs:documentation>Partnerschaft (§ 1 PartGG)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="295">
                    <xs:annotation>
                        <xs:documentation>Unterbeteiligung</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="920">
                    <xs:annotation>
                        <xs:documentation>ausländische Rechtsform, die einer Personengesellschaft entspricht</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_Vorsatz_Vorgang_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="01">
                    <xs:annotation>
                        <xs:documentation>Veranlagung</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                    <xs:annotation>
                        <xs:documentation>Veranlagung und Festsetzung von Vorauszahlungen</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNullCType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseCType"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNull_MaxVK11_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseCType">
                <xs:totalDigits value="11"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNull_Muster1442570484_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseCType">
                <xs:pattern value=".{0,11}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPos_Muster1432008049_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlPosBaseCType">
                <xs:pattern value=".{0,5}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IDNrBaseCType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="[0-9]{11}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Ja1BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="JaNein12BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>Ja</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>Nein</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="SteuernummerBaseCType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MaxL25_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:maxLength value="25"/>
                <xs:pattern value=".{1,25}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL13_MaxL13_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="13"/>
                <xs:maxLength value="13"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL103_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="103"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL10_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL1_Muster83_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="1"/>
                <xs:pattern value="S"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL25_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL2997_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="2997"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL29_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="29"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL30_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL45_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="45"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL4_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="4"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL50_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL55_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="55"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL5_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL60_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL6_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="6"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL6_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="6"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL999_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="999"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL2_MaxL2_Muster1599_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="2"/>
                <xs:maxLength value="2"/>
                <xs:pattern value="21"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL3_MaxL3_Muster1991846654_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="3"/>
                <xs:maxLength value="3"/>
                <xs:pattern value="([A-Z]|[0-9]){3}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL4_MaxL4_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="4"/>
                <xs:maxLength value="4"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL5_MaxL5_Muster676297287_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="5"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="[0-9]{5}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL5_MaxL5_Muster91555_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="5"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="\d+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL7_MaxL8_Muster91555_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="7"/>
                <xs:maxLength value="8"/>
                <xs:pattern value="\d+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="E21" type="E21_CType">
        <xs:unique name="E21_CType1Indexfeld">
            <xs:selector xpath="exml:GewSt1D_BS"/>
            <xs:field xpath="exml:Gemeinde"/>
        </xs:unique>
    </xs:element>
    <xs:complexType name="E21_CType">
        <xs:sequence>
            <xs:element name="GewSt1D" type="GewSt1D_67939_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="GewSt1D_BS" type="GewSt1D_BS_67939_CType" minOccurs="0" maxOccurs="99999"/>
            <xs:element name="BEKGWZ" type="BEKGWZ_67939_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vorsatz" type="Vorsatz_67939_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="2022" use="required"/>
    </xs:complexType>
    <xs:complexType name="GewSt1D_67939_CType">
        <xs:sequence>
            <xs:element name="Allgemein" type="Allgemein_2116135800_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Rechtsform" type="Rechtsform_2116135800_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Erg_Ang" type="Erg_Ang_2116135800_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Ang_Zerl" type="Ang_Zerl_2116135800_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Steuerberater" type="Steuerberater_2116135800_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Allgemein_2116135800_CType">
        <xs:sequence>
            <xs:element name="E4100301" type="String_MinL1_MaxL103_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unternehmen/Firma</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rechtsform_2116135800_CType">
        <xs:sequence>
            <xs:element name="E4101203" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Der Gewerbebetrieb wird als Einzelunternehmen betrieben.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4100810" type="Enum_RECHTSFORM_GEWERBESTEUER_5_BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nur bei Personengesellschaften und Körperschaften:&#10;Rechtsform des Unternehmens</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101204" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Es handelt sich um eine optierende Gesellschaft nach § 1a KStG. &#10;Das Unternehmen ist im Weiteren wie eine Körperschaft in Form einer Kapitalgesellschaft zu behandeln.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Erg_Ang_2116135800_CType">
        <xs:sequence>
            <xs:element name="E4100928" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steuererklärung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4100929" type="String_MinL1_MaxL999_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steuererklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ang_Zerl_2116135800_CType">
        <xs:sequence>
            <xs:element name="Art" type="Art_1183934400_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="P29NR2" type="P29NR2_1183934400_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Abweichung" type="Abweichung_1183934400_CType" minOccurs="0" maxOccurs="1">
                <xs:unique name="Abweichung_1183934400_CType1Indexfeld">
                    <xs:selector xpath="exml:Zerl"/>
                    <xs:field xpath="exml:Zerlegungsmassstab"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Art_1183934400_CType">
        <xs:sequence>
            <xs:element name="E4100922" type="Enum_GewSt1D_Ang_Zerl_Art_E4100922_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung nach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4100907" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung nach § 30 GewStG</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="P29NR2_1183934400_CType">
        <xs:sequence>
            <xs:element name="E4101603" type="GanzzahlNichtNegOhneFuehrNullCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der installierten Leistung im Sinne des § 3 Nummer 31 EEG für Neuanlagen (in Kilowatt)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101701" type="GanzzahlNichtNegOhneFuehrNullCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der installierten Leistung im Sinne des § 3 Nummer 31 EEG für die übrigen Anlagen (in Kilowatt)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Abweichung_1183934400_CType">
        <xs:sequence>
            <xs:element name="Zerl" type="Zerl_m1497392813_CType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_m1497392813_CType">
        <xs:sequence>
            <xs:element name="Zerlegungsmassstab" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101601" type="String_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung des Zerlegungsmaßstabs</xs:documentation>
                    <xs:documentation>Abbaufläche,Abwassermenge,Anlagewerte,Anschlusswerte,Arbeitnehmer,Arbeitslöhne,Arbeitslöhne Organges.,Arbeitslöhne (Netz),Arbeitslöhne (Nicht-Netz),Arbeitsstunden,Baukosten,Bausparsummen,Betriebseinnahmen,Bilanzsummenanteile,Familienangehörige,Gas, Abgabemenge,Gaseinnahmen,Gewinn,Glasfaserkabellänge,Grundstücksfläche,Hauptleitungslänge,Hausanschlüsse,installierte Leistung,Kilometer, gefahrene,Kinder,Kinder, schulpflichtig,Miete für Anlagegüter,nach Vereinbarung,Prozentsatz,Rohrnetzlänge,Sachanlagevermögen,Sendeminuten,Spareinlagen,Strom, Abgabemenge,Stromeinnahmen,Umsätze in Euro,Umsätze (Netz),Umspannwerke,Warenbezüge,Wasser, Abgabemenge,Wassereinnahmen,Wasserförderung,zeitliche Aufteilung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101602" type="Enum_GewSt1D_Ang_Zerl_Abweichung_Zerl_E4101602_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einheit des Zerlegungsmaßstabs</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4100911" type="GanzzahlNichtNegOhneFuehrNull_Muster1442570484_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewichtung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Steuerberater_2116135800_CType">
        <xs:sequence>
            <xs:element name="E4103511" type="String_MinL1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>(Feld wird nicht gedruckt) Ihr Zeichen/gegebenenfalls Zuordnungskriterium für Bescheiddatenübermittlung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mitwirkung" type="Mitwirkung_373152743_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mitwirkung_373152743_CType">
        <xs:sequence>
            <xs:element name="E4101901" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Steuererklärung wurde unter Mitwirkung eines Angehörigen der steuerberatenden Berufe im Sinne der §§ 3 und 4 StBerG angefertigt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anfertigung" type="Anfertigung_m36958242_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anfertigung_m36958242_CType">
        <xs:sequence>
            <xs:element name="E4103101" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103201" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103301" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße, Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103401" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl, Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103501" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103502" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>zusätzliche Angaben</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103510" type="String_MinL1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mandantennummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4103503" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bearbeiterkennzeichen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GewSt1D_BS_67939_CType">
        <xs:sequence>
            <xs:element name="Gemeinde" type="GanzzahlPos_Muster1432008049_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Laufende Nummer der Gemeinde</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BS" type="BS_m1777064254_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zerl" type="Zerl_m1777064254_CType" minOccurs="0" maxOccurs="1">
                <xs:unique name="Zerl_m1777064254_CType1Indexfeld">
                    <xs:selector xpath="exml:Anteil"/>
                    <xs:field xpath="exml:ZerlegungsmassstabBS"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BS_m1777064254_CType">
        <xs:sequence>
            <xs:element name="Allgemein" type="Allgemein_m1774989455_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Allgemein_m1774989455_CType">
        <xs:sequence>
            <xs:element name="E4101009" type="String_MinL5_MaxL5_Muster91555_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101002" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name der hebeberechtigten Gemeinde</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101102" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hebenummer der Gemeinde beziehungsweise Steuernummer des Stadtstaates</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101103" type="String_MinL7_MaxL8_Muster91555_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Amtlicher Gemeindeschlüssel (AGS)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101301" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mehrgemeindliche Betriebsstätte im Sinne des § 30 GewStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101010" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Betriebsstätte(n) in dieser Gemeinde hat/haben im Erhebungszeitraum letztmalig bestanden.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_m1777064254_CType">
        <xs:sequence>
            <xs:element name="Anteil" type="Anteil_896363749_CType" minOccurs="0" maxOccurs="5"/>
            <xs:element name="Unternehmerlohn" type="Unternehmerlohn_896363749_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anteil_896363749_CType">
        <xs:sequence>
            <xs:element name="ZerlegungsmassstabBS" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4101003" type="GanzzahlNichtNegOhneFuehrNull_MaxVK11_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anteil am Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Unternehmerlohn_896363749_CType">
        <xs:sequence>
            <xs:element name="E4101008" type="GanzzahlNichtNegOhneFuehrNull_MaxVK11_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nur bei Personengesellschaften oder Einzelunternehmen:&#10;In den Arbeitslöhnen enthaltener (Mit-)Unternehmerlohn</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BEKGWZ_67939_CType">
        <xs:sequence>
            <xs:element name="Unternehmen" type="Unternehmen_492646723_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Empfangsbevollm" type="Empfangsbevollm_492646723_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Unternehmen_492646723_CType">
        <xs:sequence>
            <xs:element name="Einwilligung" type="Einwilligung_m1249502706_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Benachrichtigung" type="Benachrichtigung_m1249502706_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Einwilligung_m1249502706_CType">
        <xs:sequence>
            <xs:element name="E4110101" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Hinweise zur Bekanntgabe in elektronischer Form wurden zur Kenntnis genommen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4110201" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Gewerbesteuerbescheide sollen an den Gewerbebetrieb in elektronischer Form bekannt gegeben werden. Es erfolgt keine zusätzliche Bekanntgabe der Gewerbesteuerbescheide auf dem Postweg (siehe Abschnitt „Ausnahmen von der elektronischen Bekanntgabe“).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Benachrichtigung_m1249502706_CType">
        <xs:sequence>
            <xs:element name="E4110301" type="EMail_MinLm1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4110401" type="EMail_MinLm1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wiederholung E-Mail-Adresse (erneute Eingabe der E-Mail-Adresse)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Empfangsbevollm_492646723_CType">
        <xs:sequence>
            <xs:element name="Einwilligung" type="Einwilligung_1800539931_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Bestaetigung" type="Bestaetigung_1800539931_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Benachrichtigung" type="Benachrichtigung_1800539931_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Empfangsvollm" type="Empfangsvollm_1800539931_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Einwilligung_1800539931_CType">
        <xs:sequence>
            <xs:element name="E4110501" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Hinweise zur Bekanntgabe in elektronischer Form wurden zur Kenntnis genommen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4110601" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Gewerbesteuerbescheide sollen an den Empfangsbevollmächtigten in elektronischer Form bekannt gegeben werden. Es erfolgt keine zusätzliche Bekanntgabe der Gewerbesteuerbescheide auf dem Postweg (siehe Abschnitt „Ausnahmen von der elektronischen Bekanntgabe“).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Bestaetigung_1800539931_CType">
        <xs:sequence>
            <xs:element name="E4110701" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Es wird bestätigt, dass die Datenübermittlung durch Vertreter der steuerberatenden Berufe im Sinne des §§ 3 und 4 StBerG erfolgt.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Benachrichtigung_1800539931_CType">
        <xs:sequence>
            <xs:element name="E4110801" type="EMail_MinLm1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4110901" type="EMail_MinLm1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wiederholung E-Mail-Adresse (erneute Eingabe der E-Mail-Adresse)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Empfangsvollm_1800539931_CType">
        <xs:sequence>
            <xs:element name="E4111001" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszeile 1</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111101" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszeile 2</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111201" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111301" type="String_MinL1_MaxL4_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111401" type="String_MinL1_MaxL6_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111501" type="String_MinL1_MaxL6_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111601" type="String_MinL1_MaxL5_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E4111701" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vorsatz_67939_CType">
        <xs:sequence>
            <xs:element name="Unterfallart" type="String_MinL2_MaxL2_Muster1599_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unterfallart (bei GewStZerl ist der Wert 21 zu verwenden)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorgang" type="Enum_Vorsatz_Vorgang_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorgang</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StNr" type="SteuernummerBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ordnungsbegriff" type="String_MinL13_MaxL13_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ordnungsbegriff</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer steuerpflichtige Person / Ehemann / Person A</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IDEhefrau" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer Ehefrau / Person B</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zeitraum" type="String_MinL4_MaxL4_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr der Erklärung (Veranlagungszeitraum)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsName" type="String_MinL1_MaxL45_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsStr" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsPlz" type="String_MinL5_MaxL5_Muster676297287_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsOrt" type="String_MinL1_MaxL29_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Copyright" type="String_MinL1_MaxL50_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Copyrightvermerk des Herstellers der Steuersoftware</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TeleNummer" type="String_MinL3_MaxL3_Muster1991846654_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>TeleNummer (für finanzamtsinterne Zwecke; keine Eingabe durch Anwender)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdNrArt" type="String_MinL1_MaxL1_Muster83_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Ordnungsnummer: Aktuell wird nur der Wert &quot;S&quot; für Steuernummer unterstützt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rueckuebermittlung" type="Rueckuebermittlung_m1635471080_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rueckuebermittlung_m1635471080_CType">
        <xs:sequence>
            <xs:element name="Bescheid" type="JaNein12BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wird die elektronische Bereitstellung der Bescheiddaten gewünscht?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ArtRueckuebermittlung" type="String_MinL1_MaxL10_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Benachrichtigung über vorliegende Bescheiddaten zur Abholung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchluesselRueckuebermittlung" type="String_MinL1_MaxL2997_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Schlüssel unter dem die Bescheiddaten verschlüsselt zur Abholung bereitgestellt werden sollen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdresseRueckuebermittlung" type="EMail_MinL1_MaxL290_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Benachrichtigungsadresse (in der Regel E-Mail-Adresse) für die Benachrichtigung über die elektronische Bereitstellung der Bescheiddaten.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>