doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/VaSt-Belege/Schema/2023/VaSt_KRV-202301.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- VaSt_KRV - 202301 - 1.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstervast/vastkrv/v202301" targetNamespace="http://finkonsens.de/elster/elstervast/vastkrv/v202301" xmlns:exml="http://finkonsens.de/elster/elstervast/vastkrv/v202301">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Positive Zahlen ab 1</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus dem offenen Intervall (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0(\.0+)?">
                <xs:annotation>
                    <xs:documentation>Nullwerte</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJMMBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])(10|11|12|01|02|03|04|05|06|07|08|09)">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJMMTTBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])(10|11|12|01|02|03|04|05|06|07|08|09)(0[1-9]|[1-2][0-9]|3[0-1])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNullBaseSType">
            <xs:pattern value="\d{1,12}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VaSt_KRV_Vertragsdaten_Beitragsdaten_BetragArt_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01">
                <xs:annotation>
                    <xs:documentation>Geleistete Beiträge zur Krankenversicherung (ohne Krankengeldanspruch) ohne Zusatzbeitrag für Basisleistungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="02">
                <xs:annotation>
                    <xs:documentation>Geleistete Beiträge zur Krankenversicherung (mit Krankengeldanspruch) ohne Zusatzbeitrag für Basisleistungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="05">
                <xs:annotation>
                    <xs:documentation>Geleistete Beiträge zur sozialen oder privaten Pflegepflichtversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="06">
                <xs:annotation>
                    <xs:documentation>Erstattete Beiträge zur Krankenversicherung (ohne Krankengeldanspruch) ohne Zusatzbeitrag für Basisleistungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="07">
                <xs:annotation>
                    <xs:documentation>Erstattete Beiträge zur Krankenversicherung (mit Krankengeldanspruch) ohne Zusatzbeitrag für Basisleistungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Erstattete Beiträge zur sozialen oder privaten Pflegepflichtversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>Beitragszuschuss zur Krankenversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Beitragszuschuss zur sozialen oder privaten Pflegepflichtversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>Zurückgeforderter Beitragszuschuss zur Krankenversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="18">
                <xs:annotation>
                    <xs:documentation>Zurückgeforderter Beitragszuschuss zur sozialen oder privaten Pflegepflichtversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>Gesamtbeitrag zur Krankenversicherung (Basisleistungen und Wahlleistungen)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>Gesamtbeitrag zur Pflegeversicherung (Pflegepflichtversicherung und freiwillige Zusatzpflegeversicherung)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Erstatteter Gesamtbeitrag zur Krankenversicherung (Basisleistungen und Wahlleistungen)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>Erstatteter Gesamtbeitrag zur Pflegeversicherung (Pflegepflichtversicherung und freiwillige Zusatzpflegeversicherung)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VaSt_KRV_Vertragsdaten_Beitragsdaten_MerkmalBeiTrag_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Beitragstragung durch Versicherungsnehmer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Beitragstragung unbekannt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Beitragstragung durch Dritte</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VaSt_KRV_Vertragsdaten_Beitragsdaten_MerkmalBeitragArt_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Beiträge zur gesetzlichen Kranken- und/oder sozialen Pflegeversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Beiträge zur privaten Kranken- und/oder privaten Pflegeversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaNeinTrueFalseBaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true">
                <xs:annotation>
                    <xs:documentation>Ja</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="false">
                <xs:annotation>
                    <xs:documentation>Nein</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL19_MaxL19_Muster712713037_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="19"/>
            <xs:maxLength value="19"/>
            <xs:pattern value="((0[1-9])|([12]\d)|(3[01]))\.((0[1-9])|(1[0-2]))\.2\d{3} (([01]\d)|(2[0-4])):[0-5]\d:([0-5]\d)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL99999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VaSt_KRV" type="VaSt_KRV_CType"/>
    <xs:complexType name="VaSt_KRV_CType">
        <xs:sequence>
            <xs:element name="Eingangsdatum" type="String_MinL19_MaxL19_Muster712713037_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Übermittlungszeitpunkt der Bescheinigung an die Finanzverwaltung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BetroffenerFall" type="BetroffenerFall_m2062369861_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Versicherung" type="Versicherung_m2062369861_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vertragsdaten" type="Vertragsdaten_m2062369861_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="202301" use="required"/>
    </xs:complexType>
    <xs:complexType name="BetroffenerFall_m2062369861_CType">
        <xs:sequence>
            <xs:element name="Meldejahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr der Zahlung/Erstattung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BetroffenePerson" type="BetroffenePerson_1957114334_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BetroffenePerson_1957114334_CType">
        <xs:sequence>
            <xs:element name="NatPerson" type="NatPerson_m1974816481_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="WeiterePerson" type="WeiterePerson_m1974816481_CType" minOccurs="0" maxOccurs="99999"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NatPerson_m1974816481_CType">
        <xs:sequence>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensVorsatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Nachname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensZusatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Blockname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GebDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherte Person: Geburtsdatum</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WeiterePerson_m1974816481_CType">
        <xs:sequence>
            <xs:element name="NatPerson" type="NatPerson_m1073410707_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NNPers" type="NNPers_m1073410707_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NatPerson_m1073410707_CType">
        <xs:sequence>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensVorsatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Nachname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensZusatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Blockname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer: Name</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NNPers_m1073410707_CType">
        <xs:sequence>
            <xs:element name="Firmenname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versicherungsnehmer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Versicherung_m2062369861_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Übermittelnde Stelle</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vertragsdaten_m2062369861_CType">
        <xs:sequence>
            <xs:element name="EinwilligDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligungsdatum (zur Datenübermittlung)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Beitragsdaten" type="Beitragsdaten_m1713597431_CType" minOccurs="0" maxOccurs="168"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Beitragsdaten_m1713597431_CType">
        <xs:sequence>
            <xs:element name="BetragArt" type="Enum_VaSt_KRV_Vertragsdaten_Beitragsdaten_BetragArt_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Beitragsart</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MerkmalGesBeiEinw" type="JaNeinTrueFalseBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligung zur Übermittlung des Gesamtbetrags</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MerkmalBeitragArt" type="Enum_VaSt_KRV_Vertragsdaten_Beitragsdaten_MerkmalBeitragArt_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Merkmal zum Beitrag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MerkmalBeiTrag" type="Enum_VaSt_KRV_Vertragsdaten_Beitragsdaten_MerkmalBeiTrag_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Beitragstragung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Beginn" type="DatumJJJJMMBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Beginn des Zeitraums, für den die Zahlungen/Erstattungen erfolgen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ende" type="DatumJJJJMMBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ende des Zeitraums, für den die Zahlungen/Erstattungen erfolgen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Waehrung" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Währung der geleisteten/erstatteten Beiträge/Zuschüsse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Betrag" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Höhe der geleisteten/erstatteten Beiträge/Zuschüsse</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>