doc/Dokumentation/Schnittstellenbeschreibungen/Anmeldungssteuern/KapEStA_2022/Schema/KapEStA-2022.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 1.8 -->
<!-- KapEStA - 2022 - 4.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML-Typdefinitionen fuer eXML -->
    <xs:simpleType name="ContentSType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FieldCType">
        <xs:simpleContent>
            <xs:extension base="ContentSType"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ContentSTypeNoMaxLen">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FieldCTypeNoMaxLen">
        <xs:simpleContent>
            <xs:extension base="ContentSTypeNoMaxLen"/>
        </xs:simpleContent>
    </xs:complexType>
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:element name="KapEStA">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="AnmZahl36a" type="FieldCType"/>
                <xs:element name="AnmZtr" type="FieldCType"/>
                <xs:element name="ArPlNr" type="FieldCType">
                    <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                </xs:element>
                <xs:element name="BArt" type="FieldCType"/>
                <xs:element name="Berater">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Bezeichnung" type="FieldCType"/>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="Name" type="FieldCType"/>
                            <xs:element name="Namensvorsatz" type="FieldCType"/>
                            <xs:element name="Namenszusatz" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                            <xs:element name="Titel" type="FieldCType"/>
                            <xs:element name="Vorname" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BuStNr" type="FieldCType"/>
                <xs:element name="EDat" type="FieldCType">
                    <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                </xs:element>
                <xs:element name="Erstattungsbetraege">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="KapESchErst44b6S1bis3St" type="FieldCType"/>
                            <xs:element name="KapESchErst44b6S1bis3Sz" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GSum" type="FieldCType"/>
                <xs:element name="GewVertBeschl">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="GewVertBeschlBet" type="FieldCType"/>
                            <xs:element name="GewVertBeschlDat" type="FieldCType"/>
                            <xs:element name="GewVertBeschlTag" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="KapEAnm" type="FieldCType"/>
                <xs:element name="KapEStWeiterleitung">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="DivZBB" type="FieldCType"/>
                            <xs:element name="DivZBE" type="FieldCType"/>
                            <xs:element name="DivZBW" type="FieldCType"/>
                            <xs:element name="DivZBY" type="FieldCType"/>
                            <xs:element name="DivZHB" type="FieldCType"/>
                            <xs:element name="DivZHE" type="FieldCType"/>
                            <xs:element name="DivZHH" type="FieldCType"/>
                            <xs:element name="DivZMV" type="FieldCType"/>
                            <xs:element name="DivZND" type="FieldCType"/>
                            <xs:element name="DivZNW" type="FieldCType"/>
                            <xs:element name="DivZRP" type="FieldCType"/>
                            <xs:element name="DivZSH" type="FieldCType"/>
                            <xs:element name="DivZSL" type="FieldCType"/>
                            <xs:element name="DivZSN" type="FieldCType"/>
                            <xs:element name="DivZST" type="FieldCType"/>
                            <xs:element name="DivZSum" type="FieldCType"/>
                            <xs:element name="DivZTH" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Kapitalertraege43aAbs1Satz1Nr1">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="KapEDiv" type="FieldCType"/>
                            <xs:element name="KapEDivP44aAbs10" type="FieldCType"/>
                            <xs:element name="KapEDivP7Abs3" type="FieldCType"/>
                            <xs:element name="KapEDivP7Abs3St" type="FieldCType"/>
                            <xs:element name="KapEDivP7Abs3Sz" type="FieldCType"/>
                            <xs:element name="KapEDivP7Abs5St" type="FieldCType"/>
                            <xs:element name="KapEDivP7Abs5Sz" type="FieldCType"/>
                            <xs:element name="KapEDivSt" type="FieldCType"/>
                            <xs:element name="KapEDivStSum" type="FieldCType"/>
                            <xs:element name="KapEDivSz" type="FieldCType"/>
                            <xs:element name="KapEDivSzSum" type="FieldCType"/>
                            <xs:element name="KapESch25" type="FieldCType"/>
                            <xs:element name="KapESch25P7Abs3" type="FieldCType"/>
                            <xs:element name="KapESch25P7Abs3St" type="FieldCType"/>
                            <xs:element name="KapESch25P7Abs3Sz" type="FieldCType"/>
                            <xs:element name="KapESch25P7Abs5St" type="FieldCType"/>
                            <xs:element name="KapESch25P7Abs5Sz" type="FieldCType"/>
                            <xs:element name="KapESch25St" type="FieldCType"/>
                            <xs:element name="KapESch25StSum" type="FieldCType"/>
                            <xs:element name="KapESch25Sz" type="FieldCType"/>
                            <xs:element name="KapESch25SzSum" type="FieldCType"/>
                            <xs:element name="KapEZSt" type="FieldCType"/>
                            <xs:element name="KapEZStP7Abs3" type="FieldCType"/>
                            <xs:element name="KapEZStP7Abs3St" type="FieldCType"/>
                            <xs:element name="KapEZStP7Abs3Sz" type="FieldCType"/>
                            <xs:element name="KapEZStP7Abs5St" type="FieldCType"/>
                            <xs:element name="KapEZStP7Abs5Sz" type="FieldCType"/>
                            <xs:element name="KapEZStSt" type="FieldCType"/>
                            <xs:element name="KapEZStStSum" type="FieldCType"/>
                            <xs:element name="KapEZStSz" type="FieldCType"/>
                            <xs:element name="KapEZStSzSum" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Kapitalertraege43aAbs1Satz1Nr2">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="KapESch15" type="FieldCType"/>
                            <xs:element name="KapESch15P7Abs3" type="FieldCType"/>
                            <xs:element name="KapESch15P7Abs3St" type="FieldCType"/>
                            <xs:element name="KapESch15P7Abs3Sz" type="FieldCType"/>
                            <xs:element name="KapESch15P7Abs5St" type="FieldCType"/>
                            <xs:element name="KapESch15P7Abs5Sz" type="FieldCType"/>
                            <xs:element name="KapESch15St" type="FieldCType"/>
                            <xs:element name="KapESch15StSum" type="FieldCType"/>
                            <xs:element name="KapESch15Sz" type="FieldCType"/>
                            <xs:element name="KapESch15SzSum" type="FieldCType"/>
                            <xs:element name="KapESchStSum" type="FieldCType"/>
                            <xs:element name="KapESchSzSum" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Kirchensteuerdaten">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="K010100" type="FieldCType"/>
                            <xs:element name="K010200" type="FieldCType"/>
                            <xs:element name="K010300" type="FieldCType"/>
                            <xs:element name="K010400" type="FieldCType"/>
                            <xs:element name="K010500" type="FieldCType"/>
                            <xs:element name="K010600" type="FieldCType"/>
                            <xs:element name="K010800" type="FieldCType"/>
                            <xs:element name="K010900" type="FieldCType"/>
                            <xs:element name="K011000" type="FieldCType"/>
                            <xs:element name="K011100" type="FieldCType"/>
                            <xs:element name="K011200" type="FieldCType"/>
                            <xs:element name="K011300" type="FieldCType"/>
                            <xs:element name="K011400" type="FieldCType"/>
                            <xs:element name="K011500" type="FieldCType"/>
                            <xs:element name="K011600" type="FieldCType"/>
                            <xs:element name="K011700" type="FieldCType"/>
                            <xs:element name="K011900" type="FieldCType"/>
                            <xs:element name="K012000" type="FieldCType"/>
                            <xs:element name="K012300" type="FieldCType"/>
                            <xs:element name="K012400" type="FieldCType"/>
                            <xs:element name="K025100" type="FieldCType"/>
                            <xs:element name="K025200" type="FieldCType"/>
                            <xs:element name="K025300" type="FieldCType"/>
                            <xs:element name="K025400" type="FieldCType"/>
                            <xs:element name="K025500" type="FieldCType"/>
                            <xs:element name="K025600" type="FieldCType"/>
                            <xs:element name="K025700" type="FieldCType"/>
                            <xs:element name="K025800" type="FieldCType"/>
                            <xs:element name="K025900" type="FieldCType"/>
                            <xs:element name="K026000" type="FieldCType"/>
                            <xs:element name="K026100" type="FieldCType"/>
                            <xs:element name="K026200" type="FieldCType"/>
                            <xs:element name="K026300" type="FieldCType"/>
                            <xs:element name="K026400" type="FieldCType"/>
                            <xs:element name="K026500" type="FieldCType"/>
                            <xs:element name="K026600" type="FieldCType"/>
                            <xs:element name="K026700" type="FieldCType"/>
                            <xs:element name="K026800" type="FieldCType"/>
                            <xs:element name="K026900" type="FieldCType"/>
                            <xs:element name="K027000" type="FieldCType"/>
                            <xs:element name="K027100" type="FieldCType"/>
                            <xs:element name="K027200" type="FieldCType"/>
                            <xs:element name="K027300" type="FieldCType"/>
                            <xs:element name="K027400" type="FieldCType"/>
                            <xs:element name="K027500" type="FieldCType"/>
                            <xs:element name="K027600" type="FieldCType"/>
                            <xs:element name="K027700" type="FieldCType"/>
                            <xs:element name="K027800" type="FieldCType"/>
                            <xs:element name="K033200" type="FieldCType"/>
                            <xs:element name="K044000" type="FieldCType"/>
                            <xs:element name="K044100" type="FieldCType"/>
                            <xs:element name="K044200" type="FieldCType"/>
                            <xs:element name="K044300" type="FieldCType"/>
                            <xs:element name="K044400" type="FieldCType"/>
                            <xs:element name="K044500" type="FieldCType"/>
                            <xs:element name="K044600" type="FieldCType"/>
                            <xs:element name="K044700" type="FieldCType"/>
                            <xs:element name="K044800" type="FieldCType"/>
                            <xs:element name="K044900" type="FieldCType"/>
                            <xs:element name="K058200" type="FieldCType"/>
                            <xs:element name="K058300" type="FieldCType"/>
                            <xs:element name="K058400" type="FieldCType"/>
                            <xs:element name="K058500" type="FieldCType"/>
                            <xs:element name="K058600" type="FieldCType"/>
                            <xs:element name="KSum" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="KorrekturKirchensteuerdatenVor2015">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="KorKiEv" type="FieldCType"/>
                            <xs:element name="KorKiRK" type="FieldCType"/>
                            <xs:element name="KorKuJKOKH" type="FieldCType"/>
                            <xs:element name="KorSum" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PersSoll" type="FieldCType">
                    <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                </xs:element>
                <xs:element name="Schuldner">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="Name" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="StNrVorh" type="FieldCType"/>
                <xs:element name="WID" type="FieldCType"/>
                <xs:element name="Zahlung_nach_P36aAbs4">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="KapEErst36a" type="FieldCType"/>
                            <xs:element name="KapEErst36aSt" type="FieldCType"/>
                            <xs:element name="LetzterTagWirtschaftsjahr" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Zerlegungsdaten">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="ZBB" type="FieldCType"/>
                            <xs:element name="ZBE" type="FieldCType"/>
                            <xs:element name="ZBW" type="FieldCType"/>
                            <xs:element name="ZBY" type="FieldCType"/>
                            <xs:element name="ZHB" type="FieldCType"/>
                            <xs:element name="ZHE" type="FieldCType"/>
                            <xs:element name="ZHH" type="FieldCType"/>
                            <xs:element name="ZMV" type="FieldCType"/>
                            <xs:element name="ZND" type="FieldCType"/>
                            <xs:element name="ZNW" type="FieldCType"/>
                            <xs:element name="ZRP" type="FieldCType"/>
                            <xs:element name="ZSH" type="FieldCType"/>
                            <xs:element name="ZSL" type="FieldCType"/>
                            <xs:element name="ZSN" type="FieldCType"/>
                            <xs:element name="ZST" type="FieldCType"/>
                            <xs:element name="ZSum" type="FieldCType"/>
                            <xs:element name="ZTH" type="FieldCType"/>
                            <xs:element name="ZoZ" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="weitereSachvAuswahl" type="FieldCType"/>
                <xs:element name="weitereSachvText" type="FieldCType"/>
            </xs:choice>
            <xs:attribute name="version" fixed="2022" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>