doc/Dokumentation/Schnittstellenbeschreibungen/Anmeldungssteuern/KapEStInvStG_7/Schema/KapEStInvStG-7.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 1.8 -->
<!-- KapEStInvStG - 7 - 4.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML-Typdefinitionen fuer eXML -->
    <xs:simpleType name="ContentSType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FieldCType">
        <xs:simpleContent>
            <xs:extension base="ContentSType"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ContentSTypeNoMaxLen">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FieldCTypeNoMaxLen">
        <xs:simpleContent>
            <xs:extension base="ContentSTypeNoMaxLen"/>
        </xs:simpleContent>
    </xs:complexType>
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:element name="KapEStInvStG">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="AnmZtr" type="FieldCType"/>
                <xs:element name="AntAuszahlungszeitpunkt" type="FieldCType"/>
                <xs:element name="AntGeschaeftsjahrEnde" type="FieldCType"/>
                <xs:element name="AntTagNachBeschl" type="FieldCType"/>
                <xs:element name="ArPlNr" type="FieldCType">
                    <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                </xs:element>
                <xs:element name="AusschuettungsBeschlDat" type="FieldCType"/>
                <xs:element name="AusschuettungsDat" type="FieldCType"/>
                <xs:element name="BArt" type="FieldCType"/>
                <xs:element name="Berater">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Bezeichnung" type="FieldCType"/>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="Name" type="FieldCType"/>
                            <xs:element name="Namensvorsatz" type="FieldCType"/>
                            <xs:element name="Namenszusatz" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                            <xs:element name="Titel" type="FieldCType"/>
                            <xs:element name="Vorname" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Betraege">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="KapE151iVm73S1Nr1" type="FieldCType"/>
                            <xs:element name="KapE151iVm73S1Nr1St" type="FieldCType"/>
                            <xs:element name="KapE151iVm73S1Nr1Sz" type="FieldCType"/>
                            <xs:element name="KapE15Abs1" type="FieldCType"/>
                            <xs:element name="KapE15Abs1St" type="FieldCType"/>
                            <xs:element name="KapE15Abs1Sz" type="FieldCType"/>
                            <xs:element name="KapE15Abs1iVm7" type="FieldCType"/>
                            <xs:element name="KapE15Abs1iVm7St" type="FieldCType"/>
                            <xs:element name="KapE15Abs1iVm7Sz" type="FieldCType"/>
                            <xs:element name="KapE15Abs2" type="FieldCType"/>
                            <xs:element name="KapE15Abs2St" type="FieldCType"/>
                            <xs:element name="KapE15Abs2Sz" type="FieldCType"/>
                            <xs:element name="KapE8Abs6" type="FieldCType"/>
                            <xs:element name="KapE8Abs6St" type="FieldCType"/>
                            <xs:element name="KapE8Abs6Sz" type="FieldCType"/>
                            <xs:element name="KapErst36aAbs4" type="FieldCType"/>
                            <xs:element name="KapErst36aAbs4St" type="FieldCType"/>
                            <xs:element name="KapErst7Abs3S1Nr1" type="FieldCType"/>
                            <xs:element name="KapErst7Abs3S1Nr1St" type="FieldCType"/>
                            <xs:element name="KapErst7Abs3S1Nr1Sz" type="FieldCType"/>
                            <xs:element name="KapErst7Abs3S1Nr2" type="FieldCType"/>
                            <xs:element name="KapErst7Abs3S1Nr2St" type="FieldCType"/>
                            <xs:element name="KapErst7Abs3S1Nr2Sz" type="FieldCType"/>
                            <xs:element name="KapSumE1" type="FieldCType"/>
                            <xs:element name="KapSumE1St" type="FieldCType"/>
                            <xs:element name="KapSumE1Sz" type="FieldCType"/>
                            <xs:element name="KapSumE2" type="FieldCType"/>
                            <xs:element name="KapSumE2St" type="FieldCType"/>
                            <xs:element name="KapSumE2Sz" type="FieldCType"/>
                            <xs:element name="KapSumEStSz" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BuStNr" type="FieldCType"/>
                <xs:element name="EDat" type="FieldCType">
                    <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                </xs:element>
                <xs:element name="EndeTagGeschaeftsjahr" type="FieldCType"/>
                <xs:element name="Gesellschaft">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="ISIN" type="FieldCType"/>
                            <xs:element name="Name" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PersSoll" type="FieldCType">
                    <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                </xs:element>
                <xs:element name="StNrVorh" type="FieldCType"/>
                <xs:element name="Vertreter">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BAKNr" type="FieldCType"/>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="Kapitalgesellschaft" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="WID" type="FieldCType"/>
                <xs:element name="ZwischenAusschuettungBis" type="FieldCType"/>
                <xs:element name="ZwischenAusschuettungVon" type="FieldCType"/>
                <xs:element name="weitereSachvAuswahl" type="FieldCType"/>
                <xs:element name="weitereSachvText" type="FieldCType"/>
            </xs:choice>
            <xs:attribute name="version" fixed="7" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>