doc/Dokumentation/Schnittstellenbeschreibungen/Erklaerungssteuern/34a_2021/Schema/E34a-2021.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- E34a - 2021 - 6.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstererklaerung/e34a/v2021" targetNamespace="http://finkonsens.de/elster/elstererklaerung/e34a/v2021" xmlns:exml="http://finkonsens.de/elster/elstererklaerung/e34a/v2021">
    <!-- XML-Typdefinitionen fuer eXML -->
    <xs:simpleType name="AttributeAlias">
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:complexType name="EMailBaseCType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="([^@]+)(@)([^@]+)"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNullBaseCType">
        <xs:simpleContent>
            <xs:restriction base="NonNegativeIntegerBaseWithAliasCType">
                <xs:pattern value="[1-9].*|0">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlOhneFuehrNullBaseCType">
        <xs:simpleContent>
            <xs:restriction base="IntegerBaseWithAliasCType">
                <xs:pattern value="-?[1-9].*|0">
                    <xs:annotation>
                        <xs:documentation>Vorzeichen '+' und Einträge der Form '-0' nicht zugelassen, erste Ziffer ungleich '0'</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosBaseCType">
        <xs:simpleContent>
            <xs:restriction base="PositiveIntegerBaseWithAliasCType">
                <xs:pattern value="[0-9].*">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosOhneFuehrNullBaseCType">
        <xs:simpleContent>
            <xs:restriction base="PositiveIntegerBaseWithAliasCType">
                <xs:pattern value="[1-9].*">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen, erste Ziffer ungleich '0'</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:integer">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="NonNegativeIntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:nonNegativeInteger">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="PositiveIntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringZUBaseCType">
                <xs:pattern value="[^&#xa;&#xd;]+">
                    <xs:annotation>
                        <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringZUBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                    <xs:annotation>
                        <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="DatumTTpMMpJJJJBekanntBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(10|11|12|01|02|03|04|05|06|07|08|09)\.([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                    <xs:annotation>
                        <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EMail_MinL1_MaxL290_CType">
        <xs:simpleContent>
            <xs:restriction base="EMailBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="290"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_Anl_34a_Betr_Ek_Art_E2910041_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>Gewerbebetrieb</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>Land- und Forstwirtschaft</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation>Selbständige Arbeit</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_Anl_34a_Betr_Nachverst_Uebertragung_Art_E2910171_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>§ 6 Absatz 3 EStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>§ 24 UmwStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_INDEXFELD_PERSON_AB_1_BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="PersonA">
                    <xs:annotation>
                        <xs:documentation>Steuerpflichtige Person / Ehemann / Person A</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PersonB">
                    <xs:annotation>
                        <xs:documentation>Ehefrau / Person B</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_Vorsatz_Vorgang_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="01">
                    <xs:annotation>
                        <xs:documentation>Veranlagung</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNull_MaxVK12_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseCType">
                <xs:totalDigits value="12"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlOhneFuehrNull_MaxVK12_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlOhneFuehrNullBaseCType">
                <xs:totalDigits value="12"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosOhneFuehrNull_MaxVK12_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlPosOhneFuehrNullBaseCType">
                <xs:totalDigits value="12"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPos_MaxW999_Muster1432007987_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlPosBaseCType">
                <xs:maxInclusive value="999"/>
                <xs:pattern value=".{0,3}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IDNrBaseCType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="[0-9]{11}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Ja1BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="JaNein12BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>Ja</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>Nein</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="SteuernummerBaseCType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL13_MaxL13_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="13"/>
                <xs:maxLength value="13"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL10_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL1_Muster83686_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="1"/>
                <xs:pattern value="S|O"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL2997_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="2997"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL29_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="29"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL30_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL33_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="33"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL45_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="45"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL50_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL999_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="999"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL2_MaxL2_Muster1570_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="2"/>
                <xs:maxLength value="2"/>
                <xs:pattern value="13"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL3_MaxL3_Muster1991846654_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="3"/>
                <xs:maxLength value="3"/>
                <xs:pattern value="([A-Z]|[0-9]){3}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL4_MaxL4_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="4"/>
                <xs:maxLength value="4"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL5_MaxL5_Muster676297287_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="5"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="[0-9]{5}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="E34a" type="E34a_CType">
        <xs:unique name="E34a_CType1Indexfeld">
            <xs:selector xpath="exml:Anl_34a"/>
            <xs:field xpath="exml:Person"/>
        </xs:unique>
    </xs:element>
    <xs:complexType name="E34a_CType">
        <xs:sequence>
            <xs:element name="Anl_34a" type="Anl_34a_2106330_CType" minOccurs="0" maxOccurs="2">
                <xs:unique name="Anl_34a_2106330_CType1Indexfeld">
                    <xs:selector xpath="exml:Betr"/>
                    <xs:field xpath="exml:Betrieb"/>
                </xs:unique>
            </xs:element>
            <xs:element name="Anl_34a_StB" type="Anl_34a_StB_2106330_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vorsatz" type="Vorsatz_2106330_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="2021" use="required"/>
    </xs:complexType>
    <xs:complexType name="Anl_34a_2106330_CType">
        <xs:sequence>
            <xs:element name="Person" type="Enum_INDEXFELD_PERSON_AB_1_BaseCType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Person</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Betr" type="Betr_m656925732_CType" minOccurs="0" maxOccurs="999"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Betr_m656925732_CType">
        <xs:sequence>
            <xs:element name="Betrieb" type="GanzzahlPos_MaxW999_Muster1432007987_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nummer des Betriebes</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910001" type="String_MinL1_MaxL999_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910002" type="String_MinL1_MaxL999_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ek_Art" type="Ek_Art_1329467995_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Betriebsbez" type="Betriebsbez_1329467995_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Festgest_Nachverst" type="Festgest_Nachverst_1329467995_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Beg_Betr" type="Beg_Betr_1329467995_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Nachverst" type="Nachverst_1329467995_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Uebernahme" type="Uebernahme_1329467995_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ek_Art_1329467995_CType">
        <xs:sequence>
            <xs:element name="E2910041" type="Enum_Anl_34a_Betr_Ek_Art_E2910041_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einkunftsart: 1 = Land- und Forstwirtschaft; 2 = Gewerbebetrieb; 3 = Selbständige Arbeit</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Betriebsbez_1329467995_CType">
        <xs:sequence>
            <xs:element name="E2910051" type="String_MinL1_MaxL33_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung des Betriebs</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Festgest_Nachverst_1329467995_CType">
        <xs:sequence>
            <xs:element name="E2910601" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zum 31.12.$VZ-1$ festgestellter nachversteuerungspflichtiger Betrag</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Beg_Betr_1329467995_CType">
        <xs:sequence>
            <xs:element name="E2910061" type="GanzzahlOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewinn nach § 4 Absatz 1 Satz 1 oder § 5 EStG (bei Land- und Forstwirten: Gewinn des Veranlagungszeitraums)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910071" type="GanzzahlNichtNegOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewinn aus der Veräußerung / Aufgabe eines Teilbetriebs, für den der Freibetrag nach § 16 Absatz 4 EStG nicht beantragt wird oder nicht zu gewähren ist (in Zeile 36 der Anlage G, in Zeile 36 der Anlage L oder in Zeile 36 der Anlage S enthalten) und übrige außerordentliche Einkünfte im Sinne des § 34 Absatz 1 EStG (in Zeile $E2910061.Vordruckzeile$ enthalten)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910081" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewinn aus der Veräußerung / Aufgabe eines Teilbetriebs, für den § 16 Absatz 4 oder § 34 Absatz 3 EStG in Anspruch genommen wird (in Zeile $E2910061.Vordruckzeile$ enthalten)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910091" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuerpflichtiger Teil der Leistungsvergütungen im Sinne des § 18 Absatz 1 Nummer 4 EStG (in Zeile $E2910061.Vordruckzeile$ enthalten)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910101" type="GanzzahlNichtNegOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Entnahmen des Wirtschaftsjahrs (bei Land- und Forstwirten: auf den Veranlagungszeitraum zeitanteilig aufgeteilt)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910111" type="GanzzahlNichtNegOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einlagen des Wirtschaftsjahrs (bei Land- und Forstwirten: auf den Veranlagungszeitraum zeitanteilig aufgeteilt)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910121" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Von dem nicht entnommenen Gewinn soll folgender Betrag ermäßigt besteuert werden</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910131" type="GanzzahlNichtNegOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuerpflichtiger Gewinn (einschließlich Veräußerungsgewinn vor Abzug des Freibetrags nach § 16 Absatz 4 EStG)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Nachverst_1329467995_CType">
        <xs:sequence>
            <xs:element name="Entn_BW" type="Entn_BW_1341750065_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Uebertragung" type="Uebertragung_1341750065_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Weit_Ang" type="Weit_Ang_1341750065_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Entn_BW_1341750065_CType">
        <xs:sequence>
            <xs:element name="E2910141" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Entnahmen für Erbschaft- / Schenkungsteuer im Sinne des § 34a Absatz 4 Satz 3 EStG - gegebenenfalls anteilig für diesen Betrieb - (in Zeile $E2910101.Vordruckzeile$ enthalten)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910151" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bei Antrag nach § 34a Absatz 5 Satz 2 EStG: Buchwerte von übertragenen oder überführten Wirtschaftsgütern nach § 6 Absatz 5 EStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910161" type="String_MinL1_MaxL999_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung der laut Zeile $E2910151.Vordruckzeile$ übertragenen oder überführten Wirtschaftsgüter, des übernehmenden Betriebs, Finanzamt und Steuernummer (Erläuterungen gegebenenfalls laut gesonderter Aufstellung)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Uebertragung_1341750065_CType">
        <xs:sequence>
            <xs:element name="Art" type="Art_m792047270_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Uebern_Pers" type="Uebern_Pers_m792047270_CType" minOccurs="0" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Art_m792047270_CType">
        <xs:sequence>
            <xs:element name="E2910171" type="Enum_Anl_34a_Betr_Nachverst_Uebertragung_Art_E2910171_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Der gesamte Betrieb / der Mitunternehmeranteil wurde übertragen / zum Buchwert eingebracht nach:</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910172" type="DatumTTpMMpJJJJBekanntBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Übertragung / Einbringung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Uebern_Pers_m792047270_CType">
        <xs:sequence>
            <xs:element name="E2910182" type="String_MinL1_MaxL33_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>In den Fällen des § 6 Absatz 3 EStG: Name der übernehmenden Person des Betriebs / Mitunternehmeranteils laut Zeile $E2910172.Vordruckzeile$</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910192" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer der übernehmenden Person</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Weit_Ang_1341750065_CType">
        <xs:sequence>
            <xs:element name="E2910191" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Der Betrieb / der Mitunternehmeranteil wurde veräußert oder aufgegeben</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910201" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einbringung des Betriebs oder Mitunternehmeranteils in eine Kapitalgesellschaft / Genossenschaft, Formwechsel einer Personengesellschaft in eine Kapitalgesellschaft / Genossenschaft oder Option zur Körperschaftsbesteuerung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2912201" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unentgeltliche Übertragung des Betriebs oder Mitunternehmeranteils nach § 6 Absatz 3 EStG auf eine Körperschaft, Personenvereinigung oder Vermögensmasse im Sinne des § 1 Absatz 1 KStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910211" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Der Gewinn wird nicht mehr nach § 4 Absatz 1 oder § 5 EStG ermittelt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2912401" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unentgeltliche Übertragung des Betriebs oder Mitunternehmeranteils nach § 6 Absatz 3 EStG auf eine Mitunternehmerschaft. Höhe des nachversteuerungspflichtigen Betrages</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910221" type="GanzzahlNichtNegOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Antrag auf Nachversteuerung nach § 34a Absatz 6 Satz 1 Nummer 5 EStG in Höhe von</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Uebernahme_1329467995_CType">
        <xs:sequence>
            <xs:element name="E2910241" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Auf den Betrieb / Mitunternehmeranteil laut Zeile 5 übertragener nachversteuerungspflichtiger Betrag nach § 34a Absatz 5 Satz 2 EStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E2910251" type="GanzzahlPosOhneFuehrNull_MaxVK12_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nachversteuerungspflichtiger Betrag aufgrund einer Übertragung / Einbringung eines Betriebs oder Mitunternehmeranteils nach § 34a Absatz 7 EStG</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anl_34a_StB_2106330_CType">
        <xs:sequence>
            <xs:element name="E2930101" type="String_MinL1_MaxL999_CType" minOccurs="0" maxOccurs="1">
                <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                <xs:annotation>
                    <xs:documentation>Zusätzliche Angaben</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vorsatz_2106330_CType">
        <xs:sequence>
            <xs:element name="Unterfallart" type="String_MinL2_MaxL2_Muster1570_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unterfallart (bei Beg 34a ist der Wert 13 zu verwenden)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorgang" type="Enum_Vorsatz_Vorgang_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorgang</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StNr" type="SteuernummerBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ordnungsbegriff" type="String_MinL13_MaxL13_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ordnungsbegriff</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer steuerpflichtige Person / Ehemann / Person A</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IDEhefrau" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer Ehefrau / Person B</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zeitraum" type="String_MinL4_MaxL4_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr der Erklärung (Veranlagungszeitraum)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsName" type="String_MinL1_MaxL45_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsStr" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsPlz" type="String_MinL5_MaxL5_Muster676297287_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsOrt" type="String_MinL1_MaxL29_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Copyright" type="String_MinL1_MaxL50_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Copyrightvermerk des Herstellers der Steuersoftware</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TeleNummer" type="String_MinL3_MaxL3_Muster1991846654_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>TeleNummer (für finanzamtsinterne Zwecke; keine Eingabe durch Anwender)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdNrArt" type="String_MinL1_MaxL1_Muster83686_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Ordnungsnummer (zulässig sind die Werte &quot;S&quot; für Steuernummer und &quot;O&quot; für Ordnungsbegriff).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rueckuebermittlung" type="Rueckuebermittlung_m1633432689_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rueckuebermittlung_m1633432689_CType">
        <xs:sequence>
            <xs:element name="Bescheid" type="JaNein12BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wird die elektronische Bereitstellung der Bescheiddaten gewünscht?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ArtRueckuebermittlung" type="String_MinL1_MaxL10_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Benachrichtigung über vorliegende Bescheiddaten zur Abholung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchluesselRueckuebermittlung" type="String_MinL1_MaxL2997_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Schlüssel unter dem die Bescheiddaten verschlüsselt zur Abholung bereitgestellt werden sollen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdresseRueckuebermittlung" type="EMail_MinL1_MaxL290_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Benachrichtigungsadresse (in der Regel E-Mail-Adresse) für die Benachrichtigung über die elektronische Bereitstellung der Bescheiddaten.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>