doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/Vollmachten/LStHVDivaAdresseBRM_10/Schema/LStHVDivaAdresseBRM-10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- LStHVDivaAdresseBRM - 10 - 4.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsterbrmorg/lsthvdivaadressebrm/v10" targetNamespace="http://finkonsens.de/elster/elsterbrmorg/lsthvdivaadressebrm/v10" xmlns:exml="http://finkonsens.de/elster/elsterbrmorg/lsthvdivaadressebrm/v10">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="EMailBaseSType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^@]+)(@)([^@]+)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMail_MinLm1_MaxLm1_SType">
        <xs:restriction base="EMailBaseSType">
            <xs:minLength value="0"/>
            <xs:maxLength value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaXBaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL25_MaxL25_Muster32685360_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="25"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="0200F\d{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="LStHVDivaAdresseBRM" type="LStHVDivaAdresseBRM_CType"/>
    <xs:complexType name="LStHVDivaAdresseBRM_CType">
        <xs:sequence>
            <xs:element name="VollmachtnehmerID" type="String_MinL25_MaxL25_Muster32685360_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer des Vollmachtnehmers</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Diva" type="Diva_m1643876456_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="10" use="required"/>
    </xs:complexType>
    <xs:complexType name="Diva_m1643876456_CType">
        <xs:sequence>
            <xs:element name="DivaTeilnahme" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Der Übermittlung von Verwaltungsakten und sonstigen Schreiben durch Bereitstellung zum Datenabruf (§ 122a der Abgabenordnung) wird allgemein zugestimmt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DivaKenntnisHinweistext" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Hinweise zur Bescheidbekanntgabe in elektronischer Form habe ich zur Kenntnis genommen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EMail" type="EMail_MinLm1_MaxLm1_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>