doc/Dokumentation/Schnittstellenbeschreibungen/Anmeldungssteuern/KapEStInvStG_8/Schema/KapEStInvStG-8.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 1.8 -->
<!-- KapEStInvStG - 8 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML-Typdefinitionen fuer eXML -->
    <xs:simpleType name="ContentSType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FieldCType">
        <xs:simpleContent>
            <xs:extension base="ContentSType"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ContentSTypeNoMaxLen">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FieldCTypeNoMaxLen">
        <xs:simpleContent>
            <xs:extension base="ContentSTypeNoMaxLen"/>
        </xs:simpleContent>
    </xs:complexType>
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:element name="KapEStInvStG">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Allgemein">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="AnmKJ" type="FieldCType"/>
                            <xs:element name="AnmMon" type="FieldCType"/>
                            <xs:element name="AnmZahl36a" type="FieldCType"/>
                            <xs:element name="AnmZtr1" type="FieldCType"/>
                            <xs:element name="ArPlNr" type="FieldCType">
                                <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                            </xs:element>
                            <xs:element name="AusschuettSpezial" type="FieldCType"/>
                            <xs:element name="BArt" type="FieldCType"/>
                            <xs:element name="BuStNr" type="FieldCType"/>
                            <xs:element name="EDat" type="FieldCType">
                                <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                            </xs:element>
                            <xs:element name="KapEAnm" type="FieldCType"/>
                            <xs:element name="PersSoll" type="FieldCType">
                                <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                            </xs:element>
                            <xs:element name="Schlussausschuettung">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="AusschuettungsBeschlDat" type="FieldCType"/>
                                        <xs:element name="AusschuettungsDat" type="FieldCType"/>
                                        <xs:element name="Geschaeftsjahr" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="StNrVorh" type="FieldCType"/>
                            <xs:element name="ThesauSpezial" type="FieldCType"/>
                            <xs:element name="Thesaurierung">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="AusschuettungsBeschlDat" type="FieldCType"/>
                                        <xs:element name="EndeTagGeschaeftsjahr" type="FieldCType"/>
                                        <xs:element name="Geschaeftsjahr" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="WID" type="FieldCType"/>
                            <xs:element name="Zwischenausschuettung_1">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="AusschuettungsBeschlDat" type="FieldCType"/>
                                        <xs:element name="AusschuettungsDat" type="FieldCType"/>
                                        <xs:element name="ZwischenAusschuettungBis" type="FieldCType"/>
                                        <xs:element name="ZwischenAusschuettungVon" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Zwischenausschuettung_2">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="AusschuettungsBeschlDat" type="FieldCType"/>
                                        <xs:element name="AusschuettungsDat" type="FieldCType"/>
                                        <xs:element name="ZwischenAusschuettungBis" type="FieldCType"/>
                                        <xs:element name="ZwischenAusschuettungVon" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Berater">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Bezeichnung" type="FieldCType"/>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="Name" type="FieldCType"/>
                            <xs:element name="Namensvorsatz" type="FieldCType"/>
                            <xs:element name="Namenszusatz" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                            <xs:element name="Titel" type="FieldCType"/>
                            <xs:element name="Vorname" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Ertragsverwendung">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="AbzufuehrendeAbzugsbetraege">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="AbzugsbetragSt" type="FieldCType"/>
                                        <xs:element name="AbzugsbetragSz" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Schlussausschuettung">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="P50Abs1S2Nr1" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2Sz" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Thesaurierung">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="P50Abs1S2Nr1" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2Sz" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Zwischenausschuettung_1">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="P50Abs1S2Nr1" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2Sz" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Zwischenausschuettung_2">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="P50Abs1S2Nr1" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs1bis3undP6Abs4Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr1iVmP33Abs4undP6Abs5Sz" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2St" type="FieldCType"/>
                                        <xs:element name="P50Abs1S2Nr2Sz" type="FieldCType"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Gesellschaft">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="ISIN" type="FieldCType"/>
                            <xs:element name="Name" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Vertreter">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Adresse">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="PostfAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Postfach" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrAusl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="AuslandsPLZ" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Land" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StrAdrInl">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                    <xs:element name="Anschriftenzusatz" type="FieldCType"/>
                                                    <xs:element name="HNrZusatz" type="FieldCType"/>
                                                    <xs:element name="Hausnummer" type="FieldCType"/>
                                                    <xs:element name="Ort" type="FieldCType"/>
                                                    <xs:element name="PLZ" type="FieldCType"/>
                                                    <xs:element name="Str" type="FieldCType"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BaFinID" type="FieldCType"/>
                            <xs:element name="Email" type="FieldCType"/>
                            <xs:element name="Kapitalgesellschaft" type="FieldCType"/>
                            <xs:element name="Telefon" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Zahlung">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Geschaeftsjahr" type="FieldCType"/>
                            <xs:element name="ZahlungP36aAbs4" type="FieldCType"/>
                            <xs:element name="ZahlungP36aAbs4St" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Zerlegungsdaten">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="ZBB" type="FieldCType"/>
                            <xs:element name="ZBE" type="FieldCType"/>
                            <xs:element name="ZBW" type="FieldCType"/>
                            <xs:element name="ZBY" type="FieldCType"/>
                            <xs:element name="ZHB" type="FieldCType"/>
                            <xs:element name="ZHE" type="FieldCType"/>
                            <xs:element name="ZHH" type="FieldCType"/>
                            <xs:element name="ZMV" type="FieldCType"/>
                            <xs:element name="ZND" type="FieldCType"/>
                            <xs:element name="ZNW" type="FieldCType"/>
                            <xs:element name="ZRP" type="FieldCType"/>
                            <xs:element name="ZSH" type="FieldCType"/>
                            <xs:element name="ZSL" type="FieldCType"/>
                            <xs:element name="ZSN" type="FieldCType"/>
                            <xs:element name="ZST" type="FieldCType"/>
                            <xs:element name="ZSum" type="FieldCType"/>
                            <xs:element name="ZTH" type="FieldCType"/>
                            <xs:element name="ZoZ" type="FieldCType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="weitereSachvAuswahl" type="FieldCType"/>
                <xs:element name="weitereSachvText" type="FieldCType"/>
            </xs:choice>
            <xs:attribute name="version" fixed="8" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>