doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/KStZerlegungVZ_1/Schema/KStZerlegungVZ-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- KStZerlegungVZ - 1 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsternachricht/kstzerlegungvz/v1" targetNamespace="http://finkonsens.de/elster/elsternachricht/kstzerlegungvz/v1" xmlns:exml="http://finkonsens.de/elster/elsternachricht/kstzerlegungvz/v1">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Zerl1">
                <xs:annotation>
                    <xs:documentation>1. Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Zerl2">
                <xs:annotation>
                    <xs:documentation>2. Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Zerl3">
                <xs:annotation>
                    <xs:documentation>3. Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Zerl4">
                <xs:annotation>
                    <xs:documentation>4. Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Zerl5">
                <xs:annotation>
                    <xs:documentation>5. Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_KStZerl2VorauszBS_BS_Land_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Schleswig-Holstein</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Hamburg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Niedersachsen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Bremen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Nordrhein-Westfalen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>Hessen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>Rheinland-Pfalz</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation>Baden-Württemberg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>Bayern</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Saarland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>Berlin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Brandenburg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>Mecklenburg-Vorpommern</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>Sachsen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>Sachsen-Anhalt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Thüringen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_KStZerl2Vorausz_Ang_Zerl_Abweichung_Zerl_Einheit_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="%">
                <xs:annotation>
                    <xs:documentation>%</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="€">
                <xs:annotation>
                    <xs:documentation>€</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Anz">
                <xs:annotation>
                    <xs:documentation>Anz</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cbm">
                <xs:annotation>
                    <xs:documentation>cbm</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="km">
                <xs:annotation>
                    <xs:documentation>km</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kWh">
                <xs:annotation>
                    <xs:documentation>kWh</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Min">
                <xs:annotation>
                    <xs:documentation>Min</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="qm">
                <xs:annotation>
                    <xs:documentation>qm</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Std">
                <xs:annotation>
                    <xs:documentation>Std</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kW">
                <xs:annotation>
                    <xs:documentation>kW</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_KStZerl2Vorausz_Ang_Zerl_Art_Zerlegung_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>§ 29 Absatz 1 Nummer 1 GewStG (Regelfall)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>§ 29 Absatz 1 Nummer 2 Buchstabe a GewStG</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>§ 33 Absatz 1 GewStG</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>§ 33 Absatz 2 GewStG</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNull_Muster1443494005_SType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType">
            <xs:pattern value=".{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ja1BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MaxL25_SType">
        <xs:restriction base="StringBaseSType">
            <xs:maxLength value="25"/>
            <xs:pattern value=".{1,25}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL11_MaxL11_Muster37974596_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="11"/>
            <xs:maxLength value="11"/>
            <xs:pattern value="DE[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL99999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KStZerlegungVZ" type="KStZerlegungVZ_CType"/>
    <xs:complexType name="KStZerlegungVZ_CType">
        <xs:sequence>
            <xs:element name="KStZerl2Vorausz" type="KStZerl2Vorausz_621397758_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="KStZerl2VorauszBS" type="KStZerl2VorauszBS_621397758_CType" minOccurs="0" maxOccurs="16"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="1" use="required"/>
    </xs:complexType>
    <xs:complexType name="KStZerl2Vorausz_621397758_CType">
        <xs:sequence>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Allgemein" type="Allgemein_m2008075315_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Erg_Ang" type="Erg_Ang_m2008075315_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Ang_Zerl" type="Ang_Zerl_m2008075315_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Steuerberater" type="Steuerberater_m2008075315_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Allgemein_m2008075315_CType">
        <xs:sequence>
            <xs:element name="WID" type="String_MinL11_MaxL11_Muster37974596_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wirtschafts-Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VZ" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung der Körperschaftsteuer-Vorauszahlungen ab dem Veranlagungszeitraum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung der Körperschaft</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Erg_Ang_m2008075315_CType">
        <xs:sequence>
            <xs:element name="Angaben" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steuererklärung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Angaben_Frei" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steuererklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ang_Zerl_m2008075315_CType">
        <xs:sequence>
            <xs:element name="Art" type="Art_1354690581_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Abweichung" type="Abweichung_1354690581_CType" minOccurs="0" maxOccurs="1">
                <xs:unique name="Abweichung_1354690581_CType1Indexfeld">
                    <xs:selector xpath="exml:Zerl"/>
                    <xs:field xpath="exml:Zerlegungsmassstab"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Art_1354690581_CType">
        <xs:sequence>
            <xs:element name="Zerlegung" type="Enum_KStZerl2Vorausz_Ang_Zerl_Art_Zerlegung_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung nach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zerlegung_P30" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung nach § 30 GewStG</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Abweichung_1354690581_CType">
        <xs:sequence>
            <xs:element name="Zerl" type="Zerl_m1326636632_CType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_m1326636632_CType">
        <xs:sequence>
            <xs:element name="Zerlegungsmassstab" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bezeichnung" type="String_MaxL25_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung des Zerlegungsmaßstabs</xs:documentation>
                    <xs:documentation>Abbaufläche,Abwassermenge,Anlagewerte,Anschlusswerte,Arbeitnehmer,Arbeitslöhne,Arbeitlöhne Organges.,Arbeitslöhne (Netz),Arbeitslöhne (Nicht-Netz),Arbeitsstunden,Baukosten,Bausparsummen,Betriebseinnahmen,Bilanzsummenanteile,Familienangehörige,Gas, Abgabemenge,Gaseinnahmen,Gewinn,Glasfaserkabellänge,Grundstücksfläche,Hauptleitungslänge,Hausanschlüsse,Kilometer, gefahrene,Kinder,Kinder, schulpflichtig,Meite für Anlagegüter,nach Vereinbarung,Prozentsatz,Rohrnetzlänge,Sachanlagevermögen,Sendeminuten,Spareinlagen,Strom, Abgabemenge,Stromeinnahmen,Umsätze in Euro,Umsätze (Netz),Umspannwerke,Warenbezüge,Wasser, Abgabemenge,Wassereinnahmen,Wasserförderung,zeitliche Aufteilung,installierte Leistung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Einheit" type="Enum_KStZerl2Vorausz_Ang_Zerl_Abweichung_Zerl_Einheit_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einheit des Zerlegungsmaßstabs</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gewichtung" type="GanzzahlNichtNegOhneFuehrNull_Muster1443494005_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewichtung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Steuerberater_m2008075315_CType">
        <xs:sequence>
            <xs:element name="Mitwirkung" type="Mitwirkung_543908924_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Anfertigung" type="Anfertigung_543908924_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mitwirkung_543908924_CType">
        <xs:sequence>
            <xs:element name="Mitwirk" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Steuererklärung wurde unter Mitwirkung eines Angehörigen der steuerberatenden Berufe im Sinne der §§ 3 und 4 StBerG angefertigt.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anfertigung_543908924_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Strasse_Haus" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße, Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PLZ_Ort" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl, Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zusatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zusätzliche Angaben</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mandant" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mandantennummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bearbeiter" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bearbeiterkennzeichen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KStZerl2VorauszBS_621397758_CType">
        <xs:sequence>
            <xs:element name="BS" type="BS_m862282148_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zerl" type="Zerl_m862282148_CType" minOccurs="0" maxOccurs="1">
                <xs:unique name="Zerl_m862282148_CType1Indexfeld">
                    <xs:selector xpath="exml:Anteil"/>
                    <xs:field xpath="exml:Zerlegungsmassstab"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BS_m862282148_CType">
        <xs:sequence>
            <xs:element name="Land" type="Enum_KStZerl2VorauszBS_BS_Land_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bundesland</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_m862282148_CType">
        <xs:sequence>
            <xs:element name="Anteil" type="Anteil_1811145855_CType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anteil_1811145855_CType">
        <xs:sequence>
            <xs:element name="Zerlegungsmassstab" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmassstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anteil_Zerl" type="GanzzahlNichtNegOhneFuehrNull_Muster1443494005_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anteil am Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>