doc/Dokumentation/Schnittstellenbeschreibungen/ElsterBasisSchema/Schema/ndh000011.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--  Version: 2025.4.0.0 Erstelldatum: 2025-06-30 -->
<xs:schema xmlns:headerbasis="http://www.elster.de/elsterxml/schema/headerbasis/v3" xmlns:elster="http://www.elster.de/elsterxml/schema/v11" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elster.de/elsterxml/schema/v11" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:include schemaLocation="./headerelemente.xsd"/>
	<xs:import namespace="http://www.elster.de/elsterxml/schema/headerbasis/v3" schemaLocation="./headerbasis000003.xsd"/>
	<xs:element name="NutzdatenHeader" type="elster:NutzdatenHeaderCType"/>
	<xs:complexType name="NutzdatenHeaderCType">
		<xs:sequence>
			<xs:element name="NutzdatenTicket" type="headerbasis:NutzdatenBlockTicketSType"/>
			<xs:element name="Empfaenger" type="elster:NDH_EmpfaengerCType"/>
			<xs:element name="Hersteller" type="elster:NDH_HerstellerCType" minOccurs="0"/>
			<xs:element name="DatenLieferant" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Datenlieferant ist der für die Datenlieferung Verantwortliche, der Ersteller der Nutzdaten. Dieser ist nicht zwingend identisch mit dem Übermittler der Daten.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="headerbasis:DatenLieferantInternSType">
			</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="elster:RC" minOccurs="0"/>
			<xs:element ref="elster:Zusatz" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="version" type="headerbasis:headerVersionSType" use="required"/>
	</xs:complexType>
	<!-- Definierung einfacher Elemente-->
	<xs:complexType name="NDH_EmpfaengerCType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Ob als Empfaenger ein Finanzamt oder ein Bundesland gesetzt werden muss, ist vom Fachverfahren abhaengig</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="headerbasis:EmpfaengerSType">
				<xs:attribute name="id" type="headerbasis:EmpfaengerIDSType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NDH_HerstellerCType">
		<xs:sequence>
			<xs:element name="ProduktName">
				<xs:simpleType>
					<xs:restriction base="headerbasis:BaseStringSType">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProduktVersion">
				<xs:simpleType>
					<xs:restriction base="headerbasis:BaseStringSType">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>