doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/RabeExtDatenhaltungCheck_1/Schema/RabeExtDatenhaltungCheck-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- RabeExtDatenhaltungCheck - 1 - 6.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsterrabe/rabeextdatenhaltungcheck/v1" targetNamespace="http://finkonsens.de/elster/elsterrabe/rabeextdatenhaltungcheck/v1" xmlns:exml="http://finkonsens.de/elster/elsterrabe/rabeextdatenhaltungcheck/v1">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJbMMbTTBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])-(10|11|12|01|02|03|04|05|06|07|08|09)-(0[1-9]|[1-2][0-9]|3[0-1])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJbMMbTTkTkHHdmmdssBaseSType">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungCheck_StatusinformationAntwort_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>OK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEHLER">
                <xs:annotation>
                    <xs:documentation>FEHLER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungCheck_TestabrufAntwort_Belegeinheiten_Belegeinheit_Dateityp_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="application/pdf">
                <xs:annotation>
                    <xs:documentation>application/pdf</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungCheck_TestabrufAntwort_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>OK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEHLER">
                <xs:annotation>
                    <xs:documentation>FEHLER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungCheck_Testabruf_QuittungStatus_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>OK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEHLER">
                <xs:annotation>
                    <xs:documentation>FEHLER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUSGESTEUERT">
                <xs:annotation>
                    <xs:documentation>AUSGESTEUERT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WARNUNG">
                <xs:annotation>
                    <xs:documentation>WARNUNG</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullSType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType"/>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL250_Muster1438983744_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="250"/>
            <xs:pattern value="[!-~]{1,250}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL255_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL64_Musterm1477597937_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
            <xs:pattern value="[!-~]{1,64}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL32_MaxL32_Musterm1623947420_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="32"/>
            <xs:maxLength value="32"/>
            <xs:pattern value="[0-9a-km-z]{32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL36_MaxL36_Muster65911809_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="36"/>
            <xs:maxLength value="36"/>
            <xs:pattern value="[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL3_MaxL18_Muster1878481870_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="3"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="(\+49|0)[1-9]\d{1,14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL64_MaxL64_Musterm301236288_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="64"/>
            <xs:maxLength value="64"/>
            <xs:pattern value="[A-Fa-f0-9]{64}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL6_Musterm507839769_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="6"/>
            <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL95_MaxL95_Muster617989999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="95"/>
            <xs:maxLength value="95"/>
            <xs:pattern value="([A-Fa-f0-9]{2}:){31}[A-Fa-f0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL9_Musterm387688484_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="9"/>
            <xs:pattern value="https://[^ ]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RabeExtDatenhaltungCheck" type="RabeExtDatenhaltungCheck_CType"/>
    <xs:complexType name="RabeExtDatenhaltungCheck_CType">
        <xs:sequence>
            <xs:element name="Testabruf" type="Testabruf_475380843_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TestabrufAntwort" type="TestabrufAntwort_475380843_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Statusinformation" type="Statusinformation_475380843_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="StatusinformationAntwort" type="StatusinformationAntwort_475380843_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="1" use="required"/>
    </xs:complexType>
    <xs:complexType name="Testabruf_475380843_CType">
        <xs:sequence>
            <xs:element name="RabeId" type="String_MinL32_MaxL32_Musterm1623947420_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>RabeID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReferenzId" type="String_MinL36_MaxL36_Muster65911809_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ReferenzID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VerifikationsId" type="String_MinL1_MaxL250_Muster1438983744_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>VerifikationsID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QuittungStatus" type="Enum_RabeExtDatenhaltungCheck_Testabruf_QuittungStatus_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>QuittungStatus</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TestabrufAntwort_475380843_CType">
        <xs:sequence>
            <xs:element name="Status" type="Enum_RabeExtDatenhaltungCheck_TestabrufAntwort_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnfrageId" type="String_MinL32_MaxL32_Musterm1623947420_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>AnfrageID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Belegeinheiten" type="Belegeinheiten_m1999657956_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Belegeinheiten_m1999657956_CType">
        <xs:sequence>
            <xs:element name="Belegeinheit" type="Belegeinheit_294165674_CType" minOccurs="0" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Belegeinheit_294165674_CType">
        <xs:sequence>
            <xs:element name="DateiId" type="String_MinL1_MaxL64_Musterm1477597937_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>DateiID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dateibezeichnung" type="String_MinL1_MaxL255_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dateibezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dateityp" type="Enum_RabeExtDatenhaltungCheck_TestabrufAntwort_Belegeinheiten_Belegeinheit_Dateityp_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dateityp</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Groesse" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dateigröße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hash" type="String_MinL64_MaxL64_Musterm301236288_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SHA256-Hash</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statusinformation_475380843_CType">
        <xs:sequence>
            <xs:element name="RabeId" type="String_MinL32_MaxL32_Musterm1623947420_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>RabeID</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusinformationAntwort_475380843_CType">
        <xs:sequence>
            <xs:element name="Status" type="Enum_RabeExtDatenhaltungCheck_StatusinformationAntwort_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Konfiguration" type="Konfiguration_1934900902_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Statistiken" type="Statistiken_1934900902_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Konfiguration_1934900902_CType">
        <xs:sequence>
            <xs:element name="LetzteAenderung" type="DatumJJJJbMMbTTkTkHHdmmdssBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Letzte Änderung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BaseUrl" type="String_MinL9_Musterm387688484_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>BaseUrl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApiKey" type="String_MinL1_MaxL64_Musterm1477597937_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>API-Key</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ansprechpartner" type="Ansprechpartner_2062338210_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fingerprints" type="Fingerprints_2062338210_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ansprechpartner_2062338210_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL255_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EMail" type="String_MinL6_Musterm507839769_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL3_MaxL18_Muster1878481870_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fingerprints_2062338210_CType">
        <xs:sequence>
            <xs:element name="Fingerprint" type="Fingerprint_1637302581_CType" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fingerprint_1637302581_CType">
        <xs:sequence>
            <xs:element name="Sha256" type="String_MinL95_MaxL95_Muster617989999_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SHA256-Hash</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statistiken_1934900902_CType">
        <xs:sequence>
            <xs:element name="Tag" type="Tag_m1945537819_CType" minOccurs="0" maxOccurs="7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tag_m1945537819_CType">
        <xs:sequence>
            <xs:element name="Datum" type="DatumJJJJbMMbTTBekanntBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anfragen" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anfragen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Abholungen" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Abholungen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Quittungen" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Quittungen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ausgesteuert" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ausgesteuert</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fehlerzaehler" type="Fehlerzaehler_552854605_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fehlerzaehler_552854605_CType">
        <xs:sequence>
            <xs:element name="Anfragen" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anfragen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Abholungen" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Abholungen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Quittungen" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Quittungen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>