doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/DIVA/DivaEinwilligungFreisch_1/Schema/DivaEinwilligungFreisch-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- DivaEinwilligungFreisch - 1 - 2.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsterbrm/divaeinwilligungfreisch/v1" targetNamespace="http://finkonsens.de/elster/elsterbrm/divaeinwilligungfreisch/v1" xmlns:exml="http://finkonsens.de/elster/elsterbrm/divaeinwilligungfreisch/v1">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL18_MaxL18_Muster2097058854_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="18"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="EWC-[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL25_MaxL25_Muster847792619_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="25"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="0305G\d{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DivaEinwilligungFreisch" type="DivaEinwilligungFreisch_CType"/>
    <xs:complexType name="DivaEinwilligungFreisch_CType">
        <xs:sequence>
            <xs:element name="Einwilligungscode" type="String_MinL18_MaxL18_Muster2097058854_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligungscode</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EinwilligungscodeB" type="String_MinL18_MaxL18_Muster2097058854_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligungscode (Ehegatte / Lebenspartner(in))</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EinwilligungsID" type="String_MinL25_MaxL25_Muster847792619_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligungs-ID</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="version" fixed="1" use="required"/>
    </xs:complexType>
</xs:schema>