doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/DIVA/DivaErgebnisliste_3/Schema/DivaErgebnisliste-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- DivaErgebnisliste - 3 - 3.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsterbrm/divaergebnisliste/v3" targetNamespace="http://finkonsens.de/elster/elsterbrm/divaergebnisliste/v3" xmlns:exml="http://finkonsens.de/elster/elsterbrm/divaergebnisliste/v3">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="EMailBaseSType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^@]+)(@)([^@]+)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJbMMbTTkTkHHdmmdssBaseSType">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="EMail_MinLm1_MaxLm1_SType">
        <xs:restriction base="EMailBaseSType">
            <xs:minLength value="0"/>
            <xs:maxLength value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_DivaErgebnisliste_Suchergebnis_Ergebnisliste_Einwilligungs_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Änderung in Prüfung">
                <xs:annotation>
                    <xs:documentation>Änderung in Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Einwilligungs-ID beantragt">
                <xs:annotation>
                    <xs:documentation>Einwilligungs-ID beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E-Mail-Adressbestätigung ausstehend">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adressbestätigung ausstehend</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Geprüft">
                <xs:annotation>
                    <xs:documentation>Geprüft</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="In Freischaltung">
                <xs:annotation>
                    <xs:documentation>In Freischaltung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="In Prüfung">
                <xs:annotation>
                    <xs:documentation>In Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="In Vorprüfung">
                <xs:annotation>
                    <xs:documentation>In Vorprüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Widerruf beantragt">
                <xs:annotation>
                    <xs:documentation>Widerruf beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Widerrufen">
                <xs:annotation>
                    <xs:documentation>Widerrufen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Zurückgewiesen">
                <xs:annotation>
                    <xs:documentation>Zurückgewiesen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_DivaErgebnisliste_Suchergebnis_Ergebnisliste_Einwilligungscode_Anzahl_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>1 EWC</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>2 EWC</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_DivaErgebnisliste_Suchergebnis_Ergebnisliste_Einwilligungscode_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nicht erforderlich">
                <xs:annotation>
                    <xs:documentation>nicht erforderlich</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ausstehend">
                <xs:annotation>
                    <xs:documentation>ausstehend</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="bestätigt">
                <xs:annotation>
                    <xs:documentation>bestätigt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_DivaErgebnisliste_Suchkriterien_EinwilligungsID_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Änderung beantragt">
                <xs:annotation>
                    <xs:documentation>Änderung beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Änderung in Prüfung">
                <xs:annotation>
                    <xs:documentation>Änderung in Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Einwilligungs-ID beantragt">
                <xs:annotation>
                    <xs:documentation>Einwilligungs-ID beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E-Mail-Adressbestätigung ausstehend">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adressbestätigung ausstehend</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Geprüft">
                <xs:annotation>
                    <xs:documentation>Geprüft</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="In Freischaltung">
                <xs:annotation>
                    <xs:documentation>In Freischaltung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="In Vorprüfung">
                <xs:annotation>
                    <xs:documentation>In Vorprüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Widerruf beantragt">
                <xs:annotation>
                    <xs:documentation>Widerruf beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Widerrufen">
                <xs:annotation>
                    <xs:documentation>Widerrufen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Zurückgewiesen">
                <xs:annotation>
                    <xs:documentation>Zurückgewiesen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullSType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType"/>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaXBaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL10_MaxL10_Musterm453052356_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="10"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[1-9]\d{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL99999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL25_MaxL25_Muster847792619_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="25"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="0305G\d{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DivaErgebnisliste" type="DivaErgebnisliste_CType"/>
    <xs:complexType name="DivaErgebnisliste_CType">
        <xs:sequence>
            <xs:element name="AbfrageOhneSuchkriterien" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Abfrage erfolgt ohne Angabe von Suchkriterien.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Suchkriterien" type="Suchkriterien_m749989675_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Suchergebnis" type="Suchergebnis_m749989675_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="3" use="required"/>
    </xs:complexType>
    <xs:complexType name="Suchkriterien_m749989675_CType">
        <xs:sequence>
            <xs:element name="EinwilligungsID" type="String_MinL25_MaxL25_Muster847792619_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligungs-ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EinwilligungsID_Status" type="Enum_DivaErgebnisliste_Suchkriterien_EinwilligungsID_Status_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status der Einwilligungs-ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Identifikationsnummer" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>steuerliche Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Suchergebnis_m749989675_CType">
        <xs:sequence>
            <xs:element name="Trefferanzahl" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Trefferanzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gesamttrefferanzahl" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamttrefferanzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ergebnisliste" type="Ergebnisliste_974685903_CType" minOccurs="0" maxOccurs="10000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ergebnisliste_974685903_CType">
        <xs:sequence>
            <xs:element name="AccountID" type="String_MinL10_MaxL10_Musterm453052356_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Account-ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EinwilligungsID" type="String_MinL25_MaxL25_Muster847792619_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einwilligungs-ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Einwilligungs_Status" type="Enum_DivaErgebnisliste_Suchergebnis_Ergebnisliste_Einwilligungs_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status der Einwilligung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ordnungsbegriff" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Persönlicher Ordnungsbegriff</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EMail" type="EMail_MinLm1_MaxLm1_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Empfaenger" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Empfänger der elektronischen Bescheide und sonstigen Schreiben</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Einwilligungscode_Status" type="Enum_DivaErgebnisliste_Suchergebnis_Ergebnisliste_Einwilligungscode_Status_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status des Einwilligungscodes</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gueltig_seit" type="DatumJJJJbMMbTTkTkHHdmmdssBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig seit</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Einwilligungscode_Anzahl" type="Enum_DivaErgebnisliste_Suchergebnis_Ergebnisliste_Einwilligungscode_Anzahl_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anzahl der Einwilligungscodes</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentifikationsnummerA" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>steuerliche Identifikationsnummer (Antragsteller)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentifikationsnummerB" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>steuerliche Identifikationsnummer (Ehegatte / Lebenspartner(in))</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>