doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/VaSt-Belege/Schema/2021/VaSt_GDB-202101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- VaSt_GDB - 202101 - 2.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstervast/vastgdb/v202101" targetNamespace="http://finkonsens.de/elster/elstervast/vastgdb/v202101" xmlns:exml="http://finkonsens.de/elster/elstervast/vastgdb/v202101">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="GanzzahlPosOhneFuehrNullBaseSType">
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[1-9].*">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJMMTTBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])(10|11|12|01|02|03|04|05|06|07|08|09)(0[1-9]|[1-2][0-9]|3[0-1])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VaSt_GDB_Merkzeichen_Merkmal_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>G</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>aG</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>B</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>H</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Bl</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>Gl</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlPosOhneFuehrNull_MinW20_MaxW100_SType">
        <xs:restriction base="GanzzahlPosOhneFuehrNullBaseSType">
            <xs:minInclusive value="20"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ja1BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL19_MaxL19_Muster712713037_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="19"/>
            <xs:maxLength value="19"/>
            <xs:pattern value="((0[1-9])|([12]\d)|(3[01]))\.((0[1-9])|(1[0-2]))\.2\d{3} (([01]\d)|(2[0-4])):[0-5]\d:([0-5]\d)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL99999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VaSt_GDB" type="VaSt_GDB_CType"/>
    <xs:complexType name="VaSt_GDB_CType">
        <xs:sequence>
            <xs:element name="Eingangsdatum" type="String_MinL19_MaxL19_Muster712713037_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Übermittlungszeitpunkt der Bescheinigung an die Finanzverwaltung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Verfasser" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Übermittelnde Stelle</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Meldejahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FeststellungsDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Feststellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BetroffenePerson" type="BetroffenePerson_m2062374159_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="GradDerBehinderung" type="GradDerBehinderung_m2062374159_CType" minOccurs="0" maxOccurs="10"/>
            <xs:element name="Merkzeichen" type="Merkzeichen_m2062374159_CType" minOccurs="0" maxOccurs="10"/>
            <xs:element name="DauerndKoerpEinsch" type="DauerndKoerpEinsch_m2062374159_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TypBerufskrankheit" type="TypBerufskrankheit_m2062374159_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Hinterbliebene" type="Hinterbliebene_m2062374159_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="202101" use="required"/>
    </xs:complexType>
    <xs:complexType name="BetroffenePerson_m2062374159_CType">
        <xs:sequence>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nachname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Blockname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensVorsatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensZusatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GradDerBehinderung_m2062374159_CType">
        <xs:sequence>
            <xs:element name="Grad" type="GanzzahlPosOhneFuehrNull_MinW20_MaxW100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Grad der Behinderung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VonDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig von</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BisDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig bis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Unbefristet" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unbefristet gültig</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Merkzeichen_m2062374159_CType">
        <xs:sequence>
            <xs:element name="Merkmal" type="Enum_VaSt_GDB_Merkzeichen_Merkmal_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Merkzeichen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VonDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig von</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BisDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig bis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Unbefristet" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unbefristet gültig</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DauerndKoerpEinsch_m2062374159_CType">
        <xs:sequence>
            <xs:element name="VonDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig von</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BisDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig bis</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TypBerufskrankheit_m2062374159_CType">
        <xs:sequence>
            <xs:element name="VonDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig von</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BisDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gültig bis</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Hinterbliebene_m2062374159_CType">
        <xs:sequence>
            <xs:element name="Gewaehrt" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Berücksichtigung Hinterbliebenen-Pauschbetrag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VonDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Von</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BisDat" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Unbefristet" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>dauerhaft von der Finanzverwaltung gewährt</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>