doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/Vollmachten/VMErgebnisListeVNSicht_12/Schema/VMErgebnisListeVNSicht-12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- VMErgebnisListeVNSicht - 12 - 2.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstervollmachtdb/vmergebnislistevnsicht/v12" targetNamespace="http://finkonsens.de/elster/elstervollmachtdb/vmergebnislistevnsicht/v12" xmlns:exml="http://finkonsens.de/elster/elstervollmachtdb/vmergebnislistevnsicht/v12">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlPosOhneFuehrNullBaseSType">
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[1-9].*">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz VDM-ZulZeich-ohne-Soft-Hyphen, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz VDM-ZulZeich-ohne-Soft-Hyphen, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJbMMbTTkTkHHdmmdssBaseSType">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="DatumTTpMMpJJJJBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(10|11|12|01|02|03|04|05|06|07|08|09)\.([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumTTpMMpJJJJMonatOptionalBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-2][0-9]|3[0-1])\.(10|11|12|00|01|02|03|04|05|06|07|08|09)\.([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: MONAT_OPTIONAL</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VMErgebnisListeVNSicht_Suchkriterien_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VollmachtID_beantragt">
                <xs:annotation>
                    <xs:documentation>Vollmacht-ID beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="in_Freischaltung">
                <xs:annotation>
                    <xs:documentation>in Freischaltung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="in_Pruefung">
                <xs:annotation>
                    <xs:documentation>in Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="geprueft">
                <xs:annotation>
                    <xs:documentation>geprüft</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="widerrufen">
                <xs:annotation>
                    <xs:documentation>widerrufen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zurueckgewiesen">
                <xs:annotation>
                    <xs:documentation>zurückgewiesen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Beratungsstellenwechsel_beantragt">
                <xs:annotation>
                    <xs:documentation>Beratungsstellenwechsel beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Aenderung_beantragt">
                <xs:annotation>
                    <xs:documentation>Änderung beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Widerruf_beantragt">
                <xs:annotation>
                    <xs:documentation>Widerruf beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Edatenabruf_Hinweis_Typ_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>Abbruch</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation>Meldung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="P">
                <xs:annotation>
                    <xs:documentation>Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Hinweis_Typ_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>Abbruch</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation>Meldung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="P">
                <xs:annotation>
                    <xs:documentation>Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VollmachtID_beantragt">
                <xs:annotation>
                    <xs:documentation>Vollmacht-ID beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="in_Freischaltung">
                <xs:annotation>
                    <xs:documentation>in Freischaltung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="in_Pruefung">
                <xs:annotation>
                    <xs:documentation>in Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="geprueft">
                <xs:annotation>
                    <xs:documentation>geprüft</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="widerrufen">
                <xs:annotation>
                    <xs:documentation>widerrufen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zurueckgewiesen">
                <xs:annotation>
                    <xs:documentation>zurückgewiesen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Beratungsstellenwechsel_beantragt">
                <xs:annotation>
                    <xs:documentation>Beratungsstellenwechsel beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Aenderung_beantragt">
                <xs:annotation>
                    <xs:documentation>Änderung beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Widerruf_beantragt">
                <xs:annotation>
                    <xs:documentation>Widerruf beantragt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Steuerkontoabfrage_Hinweis_Typ_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>Abbruch</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation>Meldung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="P">
                <xs:annotation>
                    <xs:documentation>Prüfung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Vollmachtgeber_NatuerlichePerson_Anrede_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Herr">
                <xs:annotation>
                    <xs:documentation>Herr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Frau">
                <xs:annotation>
                    <xs:documentation>Frau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullSType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType"/>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlPosOhneFuehrNull_Muster1432008049_SType">
        <xs:restriction base="GanzzahlPosOhneFuehrNullBaseSType">
            <xs:pattern value=".{0,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaXBaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL120_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL150_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL25_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL30_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL46_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="46"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL50_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL60_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL6_Musterm1643987249_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL72_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL99999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL25_MaxL25_Muster1023145846_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="25"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="\d{4}F\d{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL25_MaxL25_Muster1910649527_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="25"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="\d{4}G\d{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL5_Muster88063003_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="\d{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VMErgebnisListeVNSicht" type="VMErgebnisListeVNSicht_CType"/>
    <xs:complexType name="VMErgebnisListeVNSicht_CType">
        <xs:sequence>
            <xs:element name="VMErgebnisListeVNSicht" type="VMErgebnisListeVNSicht_967548081_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="12" use="required"/>
    </xs:complexType>
    <xs:complexType name="VMErgebnisListeVNSicht_967548081_CType">
        <xs:sequence>
            <xs:element name="AbfrageOhneSuchkriterien" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Abfrage erfolgt ohne Angabe von Suchkriterien.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Suchkriterien" type="Suchkriterien_896767489_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vollmachten" type="Vollmachten_896767489_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Suchkriterien_896767489_CType">
        <xs:sequence>
            <xs:element name="VollmachtID" type="String_MinL25_MaxL25_Muster1910649527_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ID der Vollmacht</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Identifikationsnummer" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer des Vollmachtgebers</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer des Vollmachtgebers</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="Enum_VMErgebnisListeVNSicht_Suchkriterien_Status_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VollmachtnehmerID" type="String_MinL25_MaxL25_Muster1023145846_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ID des Vollmachtnehmers</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DivaTeilnahme" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Elektronische Bekanntgabe</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VollmachtIDKleinerAls" type="String_MinL25_MaxL25_Muster1910649527_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wenn in diesem Element eine Vollmacht-ID gesetzt ist, werden alle Vollmachten, die eine kleinere Vollmacht-ID besitzen zurückgegeben.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LetzteAenderungNach" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wenn in diesem Element ein Datum gesetzt ist, werden alle Vollmachten, die ab dem angegebenen Datum geändert wurden, zurückgegeben.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vollmachten_896767489_CType">
        <xs:sequence>
            <xs:element name="Trefferanzahl" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Trefferanzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gesamttrefferanzahl" type="GanzzahlNichtNegOhneFuehrNullSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamttrefferanzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vollmacht" type="Vollmacht_897476650_CType" minOccurs="0" maxOccurs="10000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vollmacht_897476650_CType">
        <xs:sequence>
            <xs:element name="VollmachtID" type="String_MinL25_MaxL25_Muster1910649527_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ID der Vollmacht</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anlagedatum" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anlagedatum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Freischaltfrist" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freischaltfrist</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DivaTeilnahme" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Elektronische Bekanntgabe</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vollmachtnehmer" type="Vollmachtnehmer_m348634134_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vollmachtgeber" type="Vollmachtgeber_m348634134_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Untervollmachten" type="Untervollmachten_m348634134_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Befristung" type="Befristung_m348634134_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Edatenabruf" type="Edatenabruf_m348634134_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Steuerkontoabfrage" type="Steuerkontoabfrage_m348634134_CType" minOccurs="0" maxOccurs="9999"/>
            <xs:element name="Hinweis" type="Hinweis_m348634134_CType" minOccurs="0" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vollmachtnehmer_m348634134_CType">
        <xs:sequence>
            <xs:element name="VollmachtnehmerID" type="String_MinL25_MaxL25_Muster1023145846_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer des Vollmachtnehmers</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NichtNatuerlichePerson" type="NichtNatuerlichePerson_m13809453_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NichtNatuerlichePerson_m13809453_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL150_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adresse" type="Adresse_1230097010_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Adresse_1230097010_CType">
        <xs:sequence>
            <xs:element name="Inlandsadresse" type="Inlandsadresse_m545153697_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Postfachadresse" type="Postfachadresse_m545153697_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Inlandsadresse_m545153697_CType">
        <xs:sequence>
            <xs:element name="Strasse" type="String_MinL1_MaxL72_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="GanzzahlPosOhneFuehrNull_Muster1432008049_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummerzusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdressErgaenzung" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Adressergänzung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ortsteil" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ortsteil</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Postfachadresse_m545153697_CType">
        <xs:sequence>
            <xs:element name="Postfach" type="String_MinL1_MaxL6_Musterm1643987249_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postleitzahl" type="String_MinL5_MaxL5_Muster88063003_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL72_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vollmachtgeber_m348634134_CType">
        <xs:sequence>
            <xs:element name="NatuerlichePerson" type="NatuerlichePerson_1253820823_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NichtNatuerlichePerson" type="NichtNatuerlichePerson_1253820823_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NatuerlichePerson_1253820823_CType">
        <xs:sequence>
            <xs:element name="Identifikationsnummer" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geburtsdatum" type="DatumTTpMMpJJJJMonatOptionalBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geburtsdatum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anrede" type="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Vollmachtgeber_NatuerlichePerson_Anrede_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anrede</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL25_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NichtNatuerlichePerson_1253820823_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL120_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Untervollmachten_m348634134_CType">
        <xs:sequence>
            <xs:element name="UntervollmachtenMoeglich" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Untervollmachten möglich</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Befristung_m348634134_CType">
        <xs:sequence>
            <xs:element name="Von" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>von</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bis" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>bis</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Edatenabruf_m348634134_CType">
        <xs:sequence>
            <xs:element name="Berechtigt" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>berechtigt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hinweis" type="Hinweis_1065283535_CType" minOccurs="0" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Hinweis_1065283535_CType">
        <xs:sequence>
            <xs:element name="Hinweisdatum" type="DatumJJJJbMMbTTkTkHHdmmdssBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Typ" type="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Edatenabruf_Hinweis_Typ_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Typ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Text" type="String_MinL1_MaxL99999_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Text</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Steuerkontoabfrage_m348634134_CType">
        <xs:sequence>
            <xs:element name="Berechtigt" type="JaXBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>berechtigt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hinweis" type="Hinweis_m736079885_CType" minOccurs="0" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Hinweis_m736079885_CType">
        <xs:sequence>
            <xs:element name="Hinweisdatum" type="DatumJJJJbMMbTTkTkHHdmmdssBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Typ" type="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Steuerkontoabfrage_Hinweis_Typ_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Typ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Text" type="String_MinL1_MaxL99999_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Text</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Hinweis_m348634134_CType">
        <xs:sequence>
            <xs:element name="Hinweisdatum" type="DatumJJJJbMMbTTkTkHHdmmdssBaseSType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Typ" type="Enum_VMErgebnisListeVNSicht_Vollmachten_Vollmacht_Hinweis_Typ_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Typ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Text" type="String_MinL1_MaxL99999_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Text</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>