doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/VaSt-Belege/Schema/2024/VaSt_ZUS-202401.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- VaSt_ZUS - 202401 - 1.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstervast/vastzus/v202401" targetNamespace="http://finkonsens.de/elster/elstervast/vastzus/v202401" xmlns:exml="http://finkonsens.de/elster/elstervast/vastzus/v202401">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Positive Zahlen ab 1</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus dem offenen Intervall (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0(\.0+)?">
                <xs:annotation>
                    <xs:documentation>Nullwerte</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJMMBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])(10|11|12|01|02|03|04|05|06|07|08|09)">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNullBaseSType">
            <xs:pattern value="\d{1,12}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VaSt_ZUS_Zahlungsdaten_Zahlungsart_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen zu den gesetzlichen Rentenversicherungen, zur landwirtschaftlichen Alterskasse sowie zu berufsständischen Versorgungseinrichtungen oder Erstattung von solchen Vorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen zu den gesetzlichen Rentenversicherungen, zur landwirtschaftlichen Alterskasse sowie zu berufsständischen Versorgungseinrichtungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="02">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen zu einer Basis-/“Rürup“-Rente</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen zu einer Basis-/“Rürup“-Rente</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="03">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Altersvorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Altersvorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="04">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen zur gesetzlichen Krankenversicherung oder Erstattung von solchen Vorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen zur gesetzlichen Krankenversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="05">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen zu einer privaten Krankenversicherung oder Erstattung von solchen Vorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="25">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen zu einer privaten Krankenversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="06">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen einer Krankenversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="26">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen einer Krankenversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="07">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen zu einer sozialen Pflegeversicherung oder Erstattung von solchen Vorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="27">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen zu einer sozialen Pflegeversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="08">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen zu einer privaten Pflege-Pflichtversicherung oder Erstattung von solchen Vorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="28">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen zu einer privaten Pflege-Pflichtversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="09">
                <xs:annotation>
                    <xs:documentation>Zuschuss zu den Beiträgen einer Pflegeversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="29">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses zu den Beiträgen einer Pflegeversicherung</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Zuschuss für sonstige Vorsorgeaufwendungen, zum Beispiel zu Versicherungen gegen Arbeitslosigkeit, zu Erwerbs- und Berufsunfähigkeitsversicherungen, zu Unfall- und Haftpflichtversicherungen oder Erstattung von solchen Vorsorgeaufwendungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="30">
                <xs:annotation>
                    <xs:documentation>Rückforderung des Zuschusses für sonstige Vorsorgeaufwendungen, z B. zu Versicherungen gegen Arbeitslosigkeit, zu Erwerbs und Berufsunfähigkeitsversicherungen, zu Unfall- und Haftpflichtversicherungen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDNrBaseSType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL19_MaxL19_Muster712713037_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="19"/>
            <xs:maxLength value="19"/>
            <xs:pattern value="((0[1-9])|([12]\d)|(3[01]))\.((0[1-9])|(1[0-2]))\.2\d{3} (([01]\d)|(2[0-4])):[0-5]\d:([0-5]\d)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL99999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VaSt_ZUS" type="VaSt_ZUS_CType"/>
    <xs:complexType name="VaSt_ZUS_CType">
        <xs:sequence>
            <xs:element name="Eingangsdatum" type="String_MinL19_MaxL19_Muster712713037_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Übermittlungszeitpunkt der Bescheinigung an die Finanzverwaltung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BetroffenerFall" type="BetroffenerFall_m2062355356_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Behoerde" type="Behoerde_m2062355356_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zahlungsdaten" type="Zahlungsdaten_m2062355356_CType" minOccurs="0" maxOccurs="264"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="202401" use="required"/>
    </xs:complexType>
    <xs:complexType name="BetroffenerFall_m2062355356_CType">
        <xs:sequence>
            <xs:element name="Meldejahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr der Zahlung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BetroffenePerson" type="BetroffenePerson_1957128839_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BetroffenePerson_1957128839_CType">
        <xs:sequence>
            <xs:element name="NatPerson" type="NatPerson_m1974801976_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NatPerson_m1974801976_CType">
        <xs:sequence>
            <xs:element name="IdNr" type="IDNrBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nachname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Blockname" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensVorsatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamensZusatz" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Titel" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Titel</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Behoerde_m2062355356_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name der Behörde / öffentlichen Stelle</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zahlungsdaten_m2062355356_CType">
        <xs:sequence>
            <xs:element name="Beginn" type="DatumJJJJMMBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Beginn des Zeitraums, für den die Zahlung erfolgte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ende" type="DatumJJJJMMBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ende des Zeitraums, für den die Zahlung erfolgte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zahlungsart" type="Enum_VaSt_ZUS_Zahlungsdaten_Zahlungsart_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zahlungsart</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Betrag" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Höhe der erhaltenen / zurückgeforderten Zuschüsse / Erstattungen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Waehrung" type="String_MinL1_MaxL99999_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Währung der erhaltenen / zurückgeforderten Zuschüsse / Erstattungen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>