doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/ElsterKontoabfrage_6/Schema/elster11_kontoabfrage_6_extern.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<xs:schema
	 xmlns:elster="http://www.elster.de/elsterxml/schema/v11"
	 xmlns:elsterbasisTH8="http://www.elster.de/elsterxml/schema/v11"
	 xmlns:kontoabfrage="http://finkonsens.de/elster/elsterkontoabfrage/kontoabfrage/v6"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elster.de/elsterxml/schema/v11" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://finkonsens.de/elster/elsterkontoabfrage/kontoabfrage/v6" schemaLocation="./eko_kontoabfrage_000006.xsd"/>
	<xs:include schemaLocation="../../../ElsterBasisSchema/Schema/th000011_extern.xsd" />
	<xs:include schemaLocation="../../../ElsterBasisSchema/Schema/ndh000011.xsd">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Nutzdatenheader
			</xs:documentation>
		</xs:annotation>
	</xs:include>
	<!--  RootElement = Elster  -->
	<xs:element name="Elster">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="elsterbasisTH8:TransferHeader" />
				<xs:element name="DatenTeil" type="elster:DatenTeilCType">
					<xs:annotation>
						<xs:documentation xml:lang="DE">verschlüsselt
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="EindeutigesNutzdatenTicket">
			<xs:selector xpath="elster:DatenTeil/elster:Nutzdatenblock/elster:NutzdatenHeader" />
			<xs:field xpath="elster:NutzdatenTicket" />
		</xs:unique>
	</xs:element>
	<!--  D  -->
	<xs:complexType name="DatenTeilCType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Nutzdatenblock" type="elster:NutzdatenblockCType" />
		</xs:sequence>
	</xs:complexType>
	<!--  N  -->
	<xs:complexType name="NutzdatenblockCType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Der Nutzdatenblock
				enthält jeweils einen "NutzdatenHeader"- und einen "Nutzdaten"-Tag
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NutzdatenHeader" type="elster:NutzdatenHeaderCType" />
			<xs:element name="Nutzdaten" type="elster:NutzdatenCType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NutzdatenCType">
		<xs:sequence>
			<xs:element ref="kontoabfrage:kontoabfrage" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
