doc/Dokumentation/Schnittstellenbeschreibungen/Anmeldungssteuern/LStA_2023/Schema/LStA-2023.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- LStA - 2023 - 4.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsteranmeldung/lsta/v2023" targetNamespace="http://finkonsens.de/elster/elsteranmeldung/lsta/v2023" xmlns:exml="http://finkonsens.de/elster/elsteranmeldung/lsta/v2023">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="DezimalzahlOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="-?[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Zahlen außerhalb des offenen Intervalls (-1, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="-?0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus den offenen Intervallen (-1, 0) und (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0(\.0+)?">
                <xs:annotation>
                    <xs:documentation>Nullwerte</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlOhneFuehrNull_MaxL15_SType">
        <xs:restriction base="DezimalzahlOhneFuehrNullBaseSType">
            <xs:pattern value=".{0,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[1-9].*|0">
                <xs:annotation>
                    <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumJJJJMMTTBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])(10|11|12|01|02|03|04|05|06|07|08|09)(0[1-9]|[1-2][0-9]|3[0-1])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlOhneFuehrNull_MaxL15_SType">
            <xs:pattern value="-?\d{1,11}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_Anmeldungssteuern_Steuerfall_Lohnsteueranmeldung_Zeitraum_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01">
                <xs:annotation>
                    <xs:documentation>Januar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="02">
                <xs:annotation>
                    <xs:documentation>Februar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="03">
                <xs:annotation>
                    <xs:documentation>März</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="04">
                <xs:annotation>
                    <xs:documentation>April</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="05">
                <xs:annotation>
                    <xs:documentation>Mai</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="06">
                <xs:annotation>
                    <xs:documentation>Juni</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="07">
                <xs:annotation>
                    <xs:documentation>Juli</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="08">
                <xs:annotation>
                    <xs:documentation>August</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="09">
                <xs:annotation>
                    <xs:documentation>September</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Oktober</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>November</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Dezember</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="19">
                <xs:annotation>
                    <xs:documentation>Kalenderjahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="41">
                <xs:annotation>
                    <xs:documentation>I. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="42">
                <xs:annotation>
                    <xs:documentation>II. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="43">
                <xs:annotation>
                    <xs:documentation>III. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="44">
                <xs:annotation>
                    <xs:documentation>IV. Kalendervierteljahr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GanzzahlNichtNegOhneFuehrNull_MaxVK7_Muster1432008111_SType">
        <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseSType">
            <xs:totalDigits value="7"/>
            <xs:pattern value=".{0,7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ja1BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL10_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL12_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL13_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL15_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL180_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="180"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL30_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL33_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="33"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL34_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL40_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL45_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL50_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL60_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL70_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL89_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="89"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL9_Muster91555_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL5_Muster676297287_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL95_Musterm385675603_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="95"/>
            <xs:pattern value="([0-9]{5})|([0-9]{5}\*.{0,85}\*.{0,85}\*.{0,85}\*.{0,85}\*.{0,85})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL9_MaxL9_Muster676297411_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Anmeldungssteuern" type="Anmeldungssteuern_CType"/>
    <xs:complexType name="Anmeldungssteuern_CType">
        <xs:sequence>
            <xs:element name="Erstellungsdatum" type="DatumJJJJMMTTBekanntBaseSType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DatenLieferant" type="DatenLieferant_1280293165_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Steuerfall" type="Steuerfall_1280293165_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EOP" type="EOP_1280293165_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="2023" use="required"/>
    </xs:complexType>
    <xs:complexType name="DatenLieferant_1280293165_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL45_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Strasse" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PLZ" type="String_MinL1_MaxL12_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Ort" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Email" type="String_MinL1_MaxL70_SType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Steuerfall_1280293165_CType">
        <xs:sequence>
            <xs:element name="Berater" type="Berater_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Mandant" type="Mandant_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Unternehmer" type="Unternehmer_m472961002_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Lohnsteueranmeldung" type="Lohnsteueranmeldung_m472961002_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Berater_m472961002_CType">
        <xs:sequence>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Str" type="String_MinL1_MaxL33_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="String_MinL1_MaxL9_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HNrZusatz" type="String_MinL1_MaxL15_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnschriftenZusatz" type="String_MinL1_MaxL40_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PLZ" type="String_MinL5_MaxL5_Muster676297287_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuslandsPLZ" type="String_MinL1_MaxL13_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl (Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land (falls Anschrift im Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachOrt" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postfach" type="String_MinL1_MaxL10_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachPLZ" type="String_MinL5_MaxL5_Muster676297287_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GKPLZ" type="String_MinL5_MaxL5_Muster676297287_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="String_MinL1_MaxL70_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mandant_m472961002_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vorname" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MandantenNr" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Bearbeiterkennzeichen" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Unternehmer_m472961002_CType">
        <xs:sequence>
            <xs:element name="Bezeichnung" type="String_MinL1_MaxL50_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL60_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL30_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namensvorsatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namensvorsatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Namenszusatz" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Namenszusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Str" type="String_MinL1_MaxL33_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hausnummer" type="String_MinL1_MaxL9_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HNrZusatz" type="String_MinL1_MaxL15_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummernzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnschriftenZusatz" type="String_MinL1_MaxL40_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anschriftenzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PLZ" type="String_MinL5_MaxL5_Muster676297287_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuslandsPLZ" type="String_MinL1_MaxL13_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl (Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Land" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Land (falls Anschrift im Ausland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachOrt" type="String_MinL1_MaxL34_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort (Postfach)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postfach" type="String_MinL1_MaxL10_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostfachPLZ" type="String_MinL5_MaxL5_Muster676297287_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postfachpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GKPLZ" type="String_MinL5_MaxL5_Muster676297287_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Großkundenpostleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="String_MinL1_MaxL70_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Lohnsteueranmeldung_m472961002_CType">
        <xs:sequence>
            <xs:element name="Jahr" type="DatumJJJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zeitraum" type="Enum_Anmeldungssteuern_Steuerfall_Lohnsteueranmeldung_Zeitraum_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zeitraum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz09" type="String_MinL5_MaxL95_Musterm385675603_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fünfstellige HerstellerID (Pflichtangabe).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz10" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Berichtigte Anmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steueranmeldung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz23_Begruendung" type="String_MinL1_MaxL180_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steueranmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz26" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Das SEPA-Lastschriftmandat wird ausnahmsweise (zum Beispiel wegen Verrechnungswünschen) für diesen Anmeldungszeitraum widerrufen. Ein gegebenenfalls verbleibender Restbetrag ist gesondert zu entrichten.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz29" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Verrechnung des Erstattungsbetrags erwünscht / Erstattungsbetrag ist abgetreten (Teilen Sie bitte die Verrechnungswünsche dem Finanzamt gesondert mit).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz33" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>abzüglich Kürzungsbetrag für Besatzungsmitglieder von Handelsschiffen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz41" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der pauschalen Lohnsteuer - ohne § 37b EStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz42_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lohnsteuer: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz42_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lohnsteuer: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz42_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lohnsteuer: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz42" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der einzubehaltenden Lohnsteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz43" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>abzüglich an Arbeitnehmer ausgezahltes Kindergeld</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz44" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der pauschalen Lohnsteuer nach § 37b EStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz45" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>abzüglich Förderbetrag zur betrieblichen Altersversorgung nach § 100 EStG (BAV-Förderbetrag)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz47" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>pauschale Kirchensteuer im vereinfachten Verfahren</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz48" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Verbleiben</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz49_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Solidaritätszuschlag: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz49_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Solidaritätszuschlag: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz49_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Solidaritätszuschlag: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz49" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Solidaritätszuschlag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz61_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Evangelische Kirchensteuer: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz61_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Evangelische Kirchensteuer: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz61_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Evangelische Kirchensteuer: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz61" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Evangelische Kirchensteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz62_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Römisch-Katholische Kirchensteuer: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz62_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Römisch-Katholische Kirchensteuer: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz62_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Römisch-Katholische Kirchensteuer: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz62" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Römisch-Katholische Kirchensteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz63_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Alt-Katholische Kirchensteuer: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz63_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Alt-Katholische Kirchensteuer: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz63_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Alt-Katholische Kirchensteuer: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz63" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Alt-Katholische Kirchensteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz64_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Bekenntnissteuer (Bayern), Israelitische / Jüdische Kultussteuer (Brandenburg), Jüdische Kultussteuer (Hamburg, Nordrhein-Westfalen, Rheinland-Pfalz, Schleswig-Holstein), Israelitische Kultussteuer Frankfurt (Hessen), Israelitische Kultussteuer (Saarland): Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz64_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Bekenntnissteuer (Bayern), Israelitische / Jüdische Kultussteuer (Brandenburg), Jüdische Kultussteuer (Hamburg, Nordrhein-Westfalen, Rheinland-Pfalz, Schleswig-Holstein), Israelitische Kultussteuer Frankfurt (Hessen), Israelitische Kultussteuer (Saarland): laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz64_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Bekenntnissteuer (Bayern), Israelitische / Jüdische Kultussteuer (Brandenburg), Jüdische Kultussteuer (Hamburg, Nordrhein-Westfalen, Rheinland-Pfalz, Schleswig-Holstein), Israelitische Kultussteuer Frankfurt (Hessen), Israelitische Kultussteuer (Saarland): Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz64" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Bekenntnissteuer (Bayern), Israelitische / Jüdische Kultussteuer (Brandenburg), Jüdische Kultussteuer (Hamburg, Nordrhein-Westfalen, Rheinland-Pfalz, Schleswig-Holstein), Israelitische Kultussteuer Frankfurt (Hessen), Israelitische Kultussteuer (Saarland)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz65_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Mainz: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz65_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Mainz: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz65_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Mainz: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz65" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Mainz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz66_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Offenbach am Main: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz66_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Offenbach am Main: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz66_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Offenbach am Main: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz66" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Gemeinde Offenbach am Main</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz67_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Freireligiösen Landesgemeinde Baden: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz67_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Freireligiösen Landesgemeinde Baden: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz67_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Freireligiösen Landesgemeinde Baden: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz67" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Freireligiösen Landesgemeinde Baden</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz68_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Landesgemeinde Pfalz: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz68_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Landesgemeinde Pfalz beziehungsweise Beiträge zur Arbeitnehmerkammer (Bremen): laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz68_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Landesgemeinde Pfalz: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz68" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freireligiöse Landesgemeinde Pfalz (Rheinland-Pfalz) beziehungsweise Beiträge zur Arbeitnehmerkammer (Bremen)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz70" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Beiträge zur Arbeitskammer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz72_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freie Religionsgemeinschaft Alzey: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz72_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freie Religionsgemeinschaft Alzey: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz72_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freie Religionsgemeinschaft Alzey: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz72" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Freie Religionsgemeinschaft Alzey</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz73_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Württembergs: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz73_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Württembergs: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz73_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Württembergs: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz73" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Württembergs</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz74_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Kultussteuer der kultussteuerberechtigten Gemeinden: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz74_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Kultussteuer der kultussteuerberechtigten Gemeinden: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz74_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Kultussteuer der kultussteuerberechtigten Gemeinden: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz74" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Israelitische Kultussteuer der kultussteuerberechtigten Gemeinden</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz78_Vorjahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Baden: Vorjahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz78_lfdJahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Baden: laufendes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz78_Folgejahr" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Baden: Folgejahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz78" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kirchensteuer der Israelitischen Religionsgemeinschaft Baden</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz83" type="DezimalzahlOhneFuehrNull_MaxL15_MaxVK11_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamtbetrag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz86" type="GanzzahlNichtNegOhneFuehrNull_MaxVK7_Muster1432008111_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zahl der Arbeitnehmer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz90" type="GanzzahlNichtNegOhneFuehrNull_MaxVK7_Muster1432008111_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zahl der Arbeitnehmer mit BAV-Förderbetrag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kz91" type="String_MinL9_MaxL9_Muster676297411_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Familienkassenschlüssel</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOP_1280293165_CType">
        <xs:sequence>
            <xs:element name="Transferaufgabe" type="String_MinL1_MaxL89_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Transferaufgabe</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>