doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/OZG-Stadtstaaten/VGNAnmeldungHB_2/Schema/VGNAnmeldungHB-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- VGNAnmeldungHB - 2 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsteranmeldung/vgnanmeldunghb/v2" targetNamespace="http://finkonsens.de/elster/elsteranmeldung/vgnanmeldunghb/v2" xmlns:exml="http://finkonsens.de/elster/elsteranmeldung/vgnanmeldunghb/v2">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Positive Zahlen ab 1</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus dem offenen Intervall (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0(\.0+)?">
                <xs:annotation>
                    <xs:documentation>Nullwerte</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MinL1_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNullBaseSType">
            <xs:pattern value=".{1,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlPosOhneFuehrNullBaseSType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[1-9][0-9]*(\.[0-9]+)?">
                <xs:annotation>
                    <xs:documentation>Positive Zahlen ab 1</xs:documentation>
                </xs:annotation>
            </xs:pattern>
            <xs:pattern value="0\.[0-9]*[1-9][0-9]*">
                <xs:annotation>
                    <xs:documentation>Zahlen aus dem offenen Intervall (0, 1)</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlPosOhneFuehrNull_MinL1_SType">
        <xs:restriction base="DezimalzahlPosOhneFuehrNullBaseSType">
            <xs:pattern value=".{1,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMailBaseSType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^@]+)(@)([^@]+)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DATUM_MMJJBaseSType">
        <xs:annotation>
            <xs:documentation>DATUM_MMJJ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(01|02|03|04|05|06|07|08|09|10|11|12)\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumTTpMMpJJJJBekanntBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(10|11|12|01|02|03|04|05|06|07|08|09)\.([0-9][0-9][0-9][1-9]|[0-9][0-9][1-9][0-9]|[0-9][1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])">
                <xs:annotation>
                    <xs:documentation>Art der Teilbekanntheit: BEKANNT</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNullBaseSType">
            <xs:pattern value="\d{1,12}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlNichtNegOhneFuehrNull_MinL1_MaxVK12_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlNichtNegOhneFuehrNull_MinL1_SType">
            <xs:pattern value="\d{1,12}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DezimalzahlPosOhneFuehrNull_MinL1_MinW1p00_MaxVK12_MinNK2_MaxNK2_SType">
        <xs:restriction base="DezimalzahlPosOhneFuehrNull_MinL1_SType">
            <xs:minInclusive value="1.00"/>
            <xs:pattern value="\d{1,12}(\.\d{2,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMail_MinLm1_MaxL128_SType">
        <xs:restriction base="EMailBaseSType">
            <xs:minLength value="0"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnmeldungHB_Finanzamt_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2460">
                <xs:annotation>
                    <xs:documentation>Bremen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnmeldungHB_Persoenliche_Angaben_NichtNurNatuerlichePerson_AnredeId_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>Firma</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>Frau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Herr</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Keine Anrede</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_VGNAnmeldungHB_TestFA_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2497">
                <xs:annotation>
                    <xs:documentation>Bremen - Schulungssystem</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ja1BaseSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SteuernummerBaseSType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MaxL72_Muster90562_SType">
        <xs:restriction base="StringBaseSType">
            <xs:maxLength value="72"/>
            <xs:pattern value="\D*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL100_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL10_Muster91555_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL120_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL20_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL46_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="46"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL4_Musterm1643987249_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL72_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL89_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="89"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL2_MaxL13_Muster1255396078_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="2"/>
            <xs:maxLength value="13"/>
            <xs:pattern value="\d+-?\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL2_MaxL7_Musterm1317310723_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="2"/>
            <xs:maxLength value="7"/>
            <xs:pattern value="(00|\+)\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL5_MaxL5_Muster2084297628_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="([0]{1}[1-9]{1}[0-9]{3})|([1-9]{1}[0-9]{4})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VGNAnmeldungHB" type="VGNAnmeldungHB_CType"/>
    <xs:complexType name="VGNAnmeldungHB_CType">
        <xs:sequence>
            <xs:element name="VGNAnmeldungHB" type="VGNAnmeldungHB_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA1" type="VGNAnmeldungHBA1_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA2" type="VGNAnmeldungHBA2_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA3" type="VGNAnmeldungHBA3_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA4" type="VGNAnmeldungHBA4_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA5" type="VGNAnmeldungHBA5_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA6" type="VGNAnmeldungHBA6_1140640237_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VGNAnmeldungHBA7" type="VGNAnmeldungHBA7_1140640237_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="2" use="required"/>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHB_1140640237_CType">
        <xs:sequence>
            <xs:element name="Finanzamt" type="Enum_VGNAnmeldungHB_Finanzamt_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Finanzamt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TestFA" type="Enum_VGNAnmeldungHB_TestFA_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Test-Finanzamt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Besteuerungszeitraum" type="Besteuerungszeitraum_2140749185_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Persoenliche_Angaben" type="Persoenliche_Angaben_2140749185_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Anmeldung" type="Anmeldung_2140749185_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EOP" type="EOP_2140749185_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Besteuerungszeitraum_2140749185_CType">
        <xs:sequence>
            <xs:element name="Steuernummer" type="SteuernummerBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Angabe" type="DATUM_MMJJBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Monat/Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Berichtigung" type="Ja1BaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Berichtigte Anmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Persoenliche_Angaben_2140749185_CType">
        <xs:sequence>
            <xs:element name="NichtNurNatuerlichePerson" type="NichtNurNatuerlichePerson_m1862019995_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NichtNurNatuerlichePerson_m1862019995_CType">
        <xs:sequence>
            <xs:element name="AnredeId" type="Enum_VGNAnmeldungHB_Persoenliche_Angaben_NichtNurNatuerlichePerson_AnredeId_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anrede</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorname" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Firmenname" type="String_MinL1_MaxL120_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Firmenbezeichnung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inlandsadresse" type="Inlandsadresse_m758814905_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Kommunikation" type="Kommunikation_m758814905_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Inlandsadresse_m758814905_CType">
        <xs:sequence>
            <xs:element name="Str" type="String_MinL1_MaxL72_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HausNr" type="String_MinL1_MaxL4_Musterm1643987249_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HausNrZu" type="String_MinL1_MaxL20_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hausnummerzusatz</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdressErg" type="String_MinL1_MaxL46_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Adressergänzung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Plz" type="String_MinL5_MaxL5_Muster2084297628_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ort" type="String_MaxL72_Muster90562_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Kommunikation_m758814905_CType">
        <xs:sequence>
            <xs:element name="Tel" type="Tel_m455223781_CType" minOccurs="0" maxOccurs="2"/>
            <xs:element name="Email" type="Email_m455223781_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fax" type="Fax_m455223781_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tel_m455223781_CType">
        <xs:sequence>
            <xs:element name="IntVorw" type="String_MinL2_MaxL7_Musterm1317310723_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorwahl international</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NatVorw" type="String_MinL1_MaxL10_Muster91555_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorwahl national</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RufNr" type="String_MinL2_MaxL13_Muster1255396078_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Rufnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Email_m455223781_CType">
        <xs:sequence>
            <xs:element name="Adresse" type="EMail_MinLm1_MaxL128_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fax_m455223781_CType">
        <xs:sequence>
            <xs:element name="FaxNummer" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fax-Nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anmeldung_2140749185_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer" type="Vergnuegungssteuer_1688044240_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vergnuegungssteuer_1688044240_CType">
        <xs:sequence>
            <xs:element name="A1" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geräte mit Gewinnmöglichkeit nach § 3 Absatz 1 VergnStG (Anlage 1)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="A2" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geräte mit Gewinnmöglichkeit nach § 3 Absatz 2 Nr. 1 VergnStG (Anlage 2)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="A3" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geräte mit Gewinnmöglichkeit nach § 3 Absatz 2 Nr. 2 VergnStG (Anlage 3)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="A4" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geräte ohne Gewinnmöglichkeit nach § 3 Absatz 3 Nr. 1a VergnStG (Anlage 4)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="A5" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Geräte ohne Gewinnmöglichkeit nach § 3 Absatz 3 Nr. 1b VergnStG (Anlage 5)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="A6" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewaltverherrlichende Geräte nach § 3 Absatz 3 Nr. 1c VergnStG (Anlage 6)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="A7" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Musikautomaten nach § 3 Absatz 3 Nr. 2 VergnStG (Anlage 7)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gesamt" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gesamtbetrag in € pro Monat</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOP_2140749185_CType">
        <xs:sequence>
            <xs:element name="Transferaufgabe" type="String_MinL1_MaxL89_SType" minOccurs="0" maxOccurs="1">
                <!-- Dieses Element ist für die Anwendung ERiC nicht zulässig. -->
                <xs:annotation>
                    <xs:documentation>Transferaufgabe</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA1_1140640237_CType">
        <xs:sequence>
            <xs:element name="GSG_mit_Zaehlwerk" type="GSG_mit_Zaehlwerk_171836145_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836145_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GSG_mit_Zaehlwerk_171836145_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort (Anschrift)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_1969495693_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_1969495693_CType">
        <xs:sequence>
            <xs:element name="Zulassungsnummer" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zulassungsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraetenummer" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gerätenummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Einspielergebnis" type="DezimalzahlPosOhneFuehrNull_MinL1_MinW1p00_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einspielergebnis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vergnuegungssteuer_Geraet" type="DezimalzahlNichtNegOhneFuehrNull_MinL1_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836145_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A1" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA2_1140640237_CType">
        <xs:sequence>
            <xs:element name="GSG_ohne_Zaehlwerk" type="GSG_ohne_Zaehlwerk_171836176_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836176_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GSG_ohne_Zaehlwerk_171836176_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_2010494956_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_2010494956_CType">
        <xs:sequence>
            <xs:element name="Aufstellung" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Aufstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Herausnahme" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Herausnahme</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836176_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A2" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA3_1140640237_CType">
        <xs:sequence>
            <xs:element name="GSG_ohne_Zaehlwerk_sonstig" type="GSG_ohne_Zaehlwerk_sonstig_171836207_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836207_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GSG_ohne_Zaehlwerk_sonstig_171836207_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_m649818083_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_m649818083_CType">
        <xs:sequence>
            <xs:element name="Aufstellung" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Aufstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Herausnahme" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Herausnahme</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836207_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A3" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA4_1140640237_CType">
        <xs:sequence>
            <xs:element name="GSG_ohne_Gewinn" type="GSG_ohne_Gewinn_171836238_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836238_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GSG_ohne_Gewinn_171836238_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_m1279154265_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_m1279154265_CType">
        <xs:sequence>
            <xs:element name="Aufstellung" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Aufstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Herausnahme" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Herausnahme</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836238_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A4" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA5_1140640237_CType">
        <xs:sequence>
            <xs:element name="GSG_ohne_Gewinn_sonstig" type="GSG_ohne_Gewinn_sonstig_171836269_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836269_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GSG_ohne_Gewinn_sonstig_171836269_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_1127985880_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_1127985880_CType">
        <xs:sequence>
            <xs:element name="Aufstellung" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Aufstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Herausnahme" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Herausnahme</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836269_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A5" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA6_1140640237_CType">
        <xs:sequence>
            <xs:element name="Gewaltverherrlichende_Geraete" type="Gewaltverherrlichende_Geraete_171836300_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836300_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gewaltverherrlichende_Geraete_171836300_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_1721402640_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_1721402640_CType">
        <xs:sequence>
            <xs:element name="Aufstellung" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Aufstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Herausnahme" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Herausnahme</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836300_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A6" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VGNAnmeldungHBA7_1140640237_CType">
        <xs:sequence>
            <xs:element name="Musikautomaten" type="Musikautomaten_171836331_CType" minOccurs="0" maxOccurs="50"/>
            <xs:element name="Gesamtsumme" type="Gesamtsumme_171836331_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Musikautomaten_171836331_CType">
        <xs:sequence>
            <xs:element name="Aufstellort" type="String_MinL1_MaxL100_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Aufstellort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geraet" type="Geraet_m234764458_CType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geraet_m234764458_CType">
        <xs:sequence>
            <xs:element name="Aufstellung" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Aufstellung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Herausnahme" type="DatumTTpMMpJJJJBekanntBaseSType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datum der Herausnahme</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Gesamtsumme_171836331_CType">
        <xs:sequence>
            <xs:element name="Vergnuegungssteuer_Summe_A7" type="DezimalzahlNichtNegOhneFuehrNull_MaxVK12_MinNK2_MaxNK2_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe Vergnügungssteuer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>