doc/Dokumentation/Schnittstellenbeschreibungen/Erklaerungssteuern/KStZ_39_2022/Schema/E39-2022.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- E39 - 2022 - 9.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elstererklaerung/kstz/e39/v2022" targetNamespace="http://finkonsens.de/elster/elstererklaerung/kstz/e39/v2022" xmlns:exml="http://finkonsens.de/elster/elstererklaerung/kstz/e39/v2022">
    <!-- XML-Typdefinitionen fuer eXML -->
    <xs:simpleType name="AttributeAlias">
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:complexType name="EMailBaseCType">
        <xs:annotation>
            <xs:documentation>EMail</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="([^@]+)(@)([^@]+)"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNullBaseCType">
        <xs:simpleContent>
            <xs:restriction base="NonNegativeIntegerBaseWithAliasCType">
                <xs:pattern value="[1-9].*|0">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen, Einträge der Form '0' oder erste Ziffer ungleich '0'</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosBaseCType">
        <xs:simpleContent>
            <xs:restriction base="PositiveIntegerBaseWithAliasCType">
                <xs:pattern value="[0-9].*">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosOhneFuehrNullBaseCType">
        <xs:simpleContent>
            <xs:restriction base="PositiveIntegerBaseWithAliasCType">
                <xs:pattern value="[1-9].*">
                    <xs:annotation>
                        <xs:documentation>Kein Vorzeichen, erste Ziffer ungleich '0'</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="NonNegativeIntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:nonNegativeInteger">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="PositiveIntegerBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringZUBaseCType">
                <xs:pattern value="[^&#xa;&#xd;]+">
                    <xs:annotation>
                        <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringBaseWithAliasCType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="alias" type="AttributeAlias"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StringZUBaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                    <xs:annotation>
                        <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                    </xs:annotation>
                </xs:pattern>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EMail_MinL1_MaxL290_CType">
        <xs:simpleContent>
            <xs:restriction base="EMailBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="290"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="Zerl1">
                    <xs:annotation>
                        <xs:documentation>1. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl2">
                    <xs:annotation>
                        <xs:documentation>2. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl3">
                    <xs:annotation>
                        <xs:documentation>3. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl4">
                    <xs:annotation>
                        <xs:documentation>4. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Zerl5">
                    <xs:annotation>
                        <xs:documentation>5. Zerlegungsmaßstab</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_KStZerl1_Ang_Zerl_Abweichung_Zerl_E8839040_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="%">
                    <xs:annotation>
                        <xs:documentation>%</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="€">
                    <xs:annotation>
                        <xs:documentation>€</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Anz">
                    <xs:annotation>
                        <xs:documentation>Anz</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="cbm">
                    <xs:annotation>
                        <xs:documentation>cbm</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="km">
                    <xs:annotation>
                        <xs:documentation>km</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="kW">
                    <xs:annotation>
                        <xs:documentation>kW</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="kWh">
                    <xs:annotation>
                        <xs:documentation>kWh</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Min">
                    <xs:annotation>
                        <xs:documentation>Min</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="qm">
                    <xs:annotation>
                        <xs:documentation>qm</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Std">
                    <xs:annotation>
                        <xs:documentation>Std</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_KStZerl1_Ang_Zerl_Art_E8800076_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>§ 29 Absatz 1 Nummer 1 GewStG (Regelfall)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>§ 29 Absatz 1 Nummer 2 Buchstabe a GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation>§ 29 Absatz 1 Nummer 2 Buchstabe b GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="4">
                    <xs:annotation>
                        <xs:documentation>§ 33 Absatz 1 GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="5">
                    <xs:annotation>
                        <xs:documentation>§ 33 Absatz 2 GewStG</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Enum_Vorsatz_Vorgang_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="01">
                    <xs:annotation>
                        <xs:documentation>Veranlagung</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNullCType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseCType"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlNichtNegOhneFuehrNull_Muster1443494005_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlNichtNegOhneFuehrNullBaseCType">
                <xs:pattern value=".{1,11}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPosOhneFuehrNull_Muster1443494005_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlPosOhneFuehrNullBaseCType">
                <xs:pattern value=".{1,11}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GanzzahlPos_Muster1432008049_CType">
        <xs:simpleContent>
            <xs:restriction base="GanzzahlPosBaseCType">
                <xs:pattern value=".{0,5}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IDNrBaseCType">
        <xs:annotation>
            <xs:documentation>IDNr</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="[0-9]{11}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Ja1BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="JaNein12BaseCType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>Ja</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation>Nein</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="SteuernummerBaseCType">
        <xs:annotation>
            <xs:documentation>Steuernummer</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="StringBaseWithAliasCType">
                <xs:pattern value="([0-9]{4})0[0-9]{8}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MaxL25_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:maxLength value="25"/>
                <xs:pattern value=".{1,25}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL13_MaxL13_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="13"/>
                <xs:maxLength value="13"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL10_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL1_Muster83_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="1"/>
                <xs:pattern value="S"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL25_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL26_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="26"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL2997_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="2997"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL29_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="29"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL30_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL45_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="45"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL50_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL55_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="55"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL5_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL60_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL1_MaxL999_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="1"/>
                <xs:maxLength value="999"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL2_MaxL2_Muster1638_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="2"/>
                <xs:maxLength value="2"/>
                <xs:pattern value="39"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL3_MaxL3_Muster1991846654_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="3"/>
                <xs:maxLength value="3"/>
                <xs:pattern value="([A-Z]|[0-9]){3}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL4_MaxL4_Musterm1643987249_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="4"/>
                <xs:maxLength value="4"/>
                <xs:pattern value="[0-9]+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL5_MaxL5_Muster676297287_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="5"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="[0-9]{5}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String_MinL7_MaxL8_Musterm70687873_CType">
        <xs:simpleContent>
            <xs:restriction base="StringBaseCType">
                <xs:minLength value="7"/>
                <xs:maxLength value="8"/>
                <xs:pattern value="([1-9]|(0[1-9])|(1[0-6]))[0-9]{6}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="E39" type="E39_CType">
        <xs:unique name="E39_CType1Indexfeld">
            <xs:selector xpath="exml:KStZerlBS"/>
            <xs:field xpath="exml:Gemeinde"/>
        </xs:unique>
        <xs:unique name="E39_CType2Indexfeld">
            <xs:selector xpath="exml:KStZerlBet"/>
            <xs:field xpath="exml:Beteiligter"/>
        </xs:unique>
    </xs:element>
    <xs:complexType name="E39_CType">
        <xs:sequence>
            <xs:element name="KStZerl1" type="KStZerl1_67978_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="KStZerlBS" type="KStZerlBS_67978_CType" minOccurs="0" maxOccurs="99999"/>
            <xs:element name="KStZerlBet" type="KStZerlBet_67978_CType" minOccurs="0" maxOccurs="99999">
                <xs:unique name="KStZerlBet_67978_CType1Indexfeld">
                    <xs:selector xpath="exml:Zerl"/>
                    <xs:field xpath="exml:ZerlegungsmassstabBet"/>
                </xs:unique>
            </xs:element>
            <xs:element name="Vorsatz" type="Vorsatz_67978_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="2022" use="required"/>
    </xs:complexType>
    <xs:complexType name="KStZerl1_67978_CType">
        <xs:sequence>
            <xs:element name="Allgemein" type="Allgemein_m1246047316_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Erg_Ang" type="Erg_Ang_m1246047316_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Ang_Zerl" type="Ang_Zerl_m1246047316_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Steuerberater" type="Steuerberater_m1246047316_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Allgemein_m1246047316_CType">
        <xs:sequence>
            <xs:element name="E8800021" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung der Körperschaft</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Erg_Ang_m1246047316_CType">
        <xs:sequence>
            <xs:element name="E8800033" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Über die Angaben in der Steuererklärung hinaus sind weitere oder abweichende Angaben oder Sachverhalte zu berücksichtigen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800034" type="String_MinL1_MaxL999_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ergänzende Angaben zur Steuererklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ang_Zerl_m1246047316_CType">
        <xs:sequence>
            <xs:element name="Art" type="Art_2116718580_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="P29NR2" type="P29NR2_2116718580_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Abweichung" type="Abweichung_2116718580_CType" minOccurs="0" maxOccurs="1">
                <xs:unique name="Abweichung_2116718580_CType1Indexfeld">
                    <xs:selector xpath="exml:Zerl"/>
                    <xs:field xpath="exml:Zerlegungsmassstab"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Art_2116718580_CType">
        <xs:sequence>
            <xs:element name="E8800076" type="Enum_KStZerl1_Ang_Zerl_Art_E8800076_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung nach</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800077" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegung nach § 30 GewStG</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="P29NR2_2116718580_CType">
        <xs:sequence>
            <xs:element name="E8839062" type="GanzzahlNichtNegOhneFuehrNullCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der installierten Leistung im Sinne des § 3 Nummer 31 EEG für Neuanlagen (in Kilowatt)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8839063" type="GanzzahlNichtNegOhneFuehrNullCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summe der installierten Leistung im Sinne des § 3 Nummer 31 EEG für die übrigen Anlagen (in Kilowatt)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Abweichung_2116718580_CType">
        <xs:sequence>
            <xs:element name="Zerl" type="Zerl_m564608633_CType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_m564608633_CType">
        <xs:sequence>
            <xs:element name="Zerlegungsmassstab" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8839030" type="String_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung des Zerlegungsmaßstabs</xs:documentation>
                    <xs:documentation>Abbaufläche,Abwassermenge,Anlagewerte,Anschlusswerte,Arbeitnehmer,Arbeitslöhne,Arbeitslöhne Organges.,Arbeitslöhne (Netz),Arbeitslöhne (Nicht-Netz),Arbeitsstunden,Baukosten,Bausparsummen,Betriebseinnahmen,Bilanzsummenanteile,Familienangehörige,Gas, Abgabemenge,Gaseinnahmen,Gewinn,Glasfaserkabellänge,Grundstücksfläche,Hauptleitungslänge,Hausanschlüsse,installierte Leistung,Kilometer, gefahrene,Kinder,Kinder, schulpflichtig,Miete für Anlagegüter,nach Vereinbarung,Prozentsatz,Rohrnetzlänge,Sachanlagevermögen,Sendeminuten,Spareinlagen,Strom, Abgabemenge,Stromeinnahmen,Umsätze in Euro,Umsätze (Netz),Umspannwerke,Warenbezüge,Wasser, Abgabemenge,Wassereinnahmen,Wasserförderung,zeitliche Aufteilung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8839040" type="Enum_KStZerl1_Ang_Zerl_Abweichung_Zerl_E8839040_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Einheit des Zerlegungsmaßstabs</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8839070" type="GanzzahlPosOhneFuehrNull_Muster1443494005_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gewichtung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Steuerberater_m1246047316_CType">
        <xs:sequence>
            <xs:element name="Mitwirkung" type="Mitwirkung_1305936923_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mitwirkung_1305936923_CType">
        <xs:sequence>
            <xs:element name="E8800171" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Die Steuererklärung wurde unter Mitwirkung eines Angehörigen der steuerberatenden Berufe im Sinne der §§ 3 und 4 StBerG angefertigt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Anfertigung" type="Anfertigung_895825938_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anfertigung_895825938_CType">
        <xs:sequence>
            <xs:element name="E8800051" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800052" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800053" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße, Hausnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800057" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl, Ort</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800059" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800060" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zusätzliche Angaben</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800062" type="String_MinL1_MaxL60_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mandantennummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8800061" type="String_MinL1_MaxL55_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bearbeiterkennzeichen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KStZerlBS_67978_CType">
        <xs:sequence>
            <xs:element name="Gemeinde" type="GanzzahlPos_Muster1432008049_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Laufende Nummer der Anlage Betriebsstätte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BS" type="BS_25190538_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zerl" type="Zerl_25190538_CType" minOccurs="0" maxOccurs="1">
                <xs:unique name="Zerl_25190538_CType1Indexfeld">
                    <xs:selector xpath="exml:Anteil"/>
                    <xs:field xpath="exml:ZerlegungsmassstabBS"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BS_25190538_CType">
        <xs:sequence>
            <xs:element name="Allgemein" type="Allgemein_27265337_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Allgemein_27265337_CType">
        <xs:sequence>
            <xs:element name="E8827020" type="String_MinL1_MaxL5_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8827021" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name der Gemeinde</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8827022" type="String_MinL7_MaxL8_Musterm70687873_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Amtlicher Gemeindeschlüssel (AGS)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8827075" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mehrgemeindliche Betriebsstätte im Sinne des § 30 GewStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8827018" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bezeichnung der Organgesellschaft (nur auszufüllen bei Betriebsstätten einer Organgesellschaft)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_25190538_CType">
        <xs:sequence>
            <xs:element name="Anteil" type="Anteil_m1596348755_CType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Anteil_m1596348755_CType">
        <xs:sequence>
            <xs:element name="ZerlegungsmassstabBS" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8827070" type="GanzzahlNichtNegOhneFuehrNull_Muster1443494005_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anteil am Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KStZerlBet_67978_CType">
        <xs:sequence>
            <xs:element name="Beteiligter" type="GanzzahlPos_Muster1432008049_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Laufende Nummer der Anlage Beteiligung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PG" type="PG_778860332_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zerl" type="Zerl_778860332_CType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PG_778860332_CType">
        <xs:sequence>
            <xs:element name="E8817018" type="String_MinL1_MaxL26_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name der Personengesellschaft</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817019" type="SteuernummerBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer der Personengesellschaft</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817020" type="String_MinL1_MaxL5_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817021" type="String_MinL1_MaxL25_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name der Gemeinde</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817022" type="String_MinL7_MaxL8_Musterm70687873_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Amtlicher Gemeindeschlüssel (AGS)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817075" type="Ja1BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mehrgemeindliche Betriebsstätte im Sinne des § 30 GewStG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817028" type="String_MinL1_MaxL26_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Bei Betriebsstätten einer Organgesellschaft der Personengesellschaft beziehungsweise bei Betriebsstätten der Personengesellschaft, an der die Organgesellschaft Mitunternehmer ist:&#10;Bezeichnung der Organgesellschaft</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Zerl_778860332_CType">
        <xs:sequence>
            <xs:element name="ZerlegungsmassstabBet" type="Enum_INDEXFELD_ZERLEGUNGSMASSSTAB_1_BaseCType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="E8817070" type="GanzzahlNichtNegOhneFuehrNull_Muster1443494005_CType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Anteil am Zerlegungsmaßstab</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vorsatz_67978_CType">
        <xs:sequence>
            <xs:element name="Unterfallart" type="String_MinL2_MaxL2_Muster1638_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unterfallart (Bei der Erklärung für die Zerlegung der Körperschaftsteuer ist der Wert 39 zu verwenden)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vorgang" type="Enum_Vorsatz_Vorgang_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Vorgang</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StNr" type="SteuernummerBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Steuernummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ordnungsbegriff" type="String_MinL13_MaxL13_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ordnungsbegriff</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer steuerpflichtige Person / Ehemann / Person A</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IDEhefrau" type="IDNrBaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifikationsnummer Ehefrau / Person B</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zeitraum" type="String_MinL4_MaxL4_Musterm1643987249_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Jahr der Erklärung (Veranlagungszeitraum)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsName" type="String_MinL1_MaxL45_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsStr" type="String_MinL1_MaxL30_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Straße des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsPlz" type="String_MinL5_MaxL5_Muster676297287_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postleitzahl des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AbsOrt" type="String_MinL1_MaxL29_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ort des Absenders der Erklärung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Copyright" type="String_MinL1_MaxL50_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Copyrightvermerk des Herstellers der Steuersoftware</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TeleNummer" type="String_MinL3_MaxL3_Muster1991846654_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>TeleNummer (für finanzamtsinterne Zwecke; keine Eingabe durch Anwender)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdNrArt" type="String_MinL1_MaxL1_Muster83_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Ordnungsnummer: Aktuell wird nur der Wert &quot;S&quot; für Steuernummer unterstützt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rueckuebermittlung" type="Rueckuebermittlung_m1635471041_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rueckuebermittlung_m1635471041_CType">
        <xs:sequence>
            <xs:element name="Bescheid" type="JaNein12BaseCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Wird die elektronische Bereitstellung der Bescheiddaten gewünscht?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ArtRueckuebermittlung" type="String_MinL1_MaxL10_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Art der Benachrichtigung über vorliegende Bescheiddaten zur Abholung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchluesselRueckuebermittlung" type="String_MinL1_MaxL2997_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Schlüssel unter dem die Bescheiddaten verschlüsselt zur Abholung bereitgestellt werden sollen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdresseRueckuebermittlung" type="EMail_MinL1_MaxL290_CType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Benachrichtigungsadresse (in der Regel E-Mail-Adresse) für die Benachrichtigung über die elektronische Bereitstellung der Bescheiddaten.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>