doc/Dokumentation/Schnittstellenbeschreibungen/Sonstige/RabeExtDatenhaltungPflege_1/Schema/RabeExtDatenhaltungPflege-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema automatisch generiert von ElsterRules 53.1.0 -->
<!-- Schema entsprechend eXML-Spezifikation Version 2.0 -->
<!-- RabeExtDatenhaltungPflege - 1 - 5.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://finkonsens.de/elster/elsterrabe/rabeextdatenhaltungpflege/v1" targetNamespace="http://finkonsens.de/elster/elsterrabe/rabeextdatenhaltungpflege/v1" xmlns:exml="http://finkonsens.de/elster/elsterrabe/rabeextdatenhaltungpflege/v1">
    <!-- XML-Typdefinitionen fuer eXML -->
    <!-- Definition der datenartspezifischen eXML-Struktur -->
    <xs:simpleType name="StringBaseSType">
        <xs:restriction base="StringZUBaseSType">
            <xs:pattern value="[^&#xa;&#xd;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche verbieten und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringZUBaseSType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#xa;&#xd;&#x20;-&#x7e;&#xa1;-&#xa3;&#xa5;&#xa7;&#xaa;-&#xac;&#xae;-&#xb3;&#xb5;&#xb9;-&#xbb;&#xbf;-&#xff;&#x152;-&#x153;&#x160;-&#x161;&#x178;&#x17d;-&#x17e;&#x20ac;]+">
                <xs:annotation>
                    <xs:documentation>Zeichensatz Standard_E_V2, Zeilenumbrüche erlauben und Leerangaben unterbinden</xs:documentation>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungPflege_AenderungAntwort_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>OK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEHLER">
                <xs:annotation>
                    <xs:documentation>FEHLER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungPflege_DeregistrierungAntwort_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>OK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEHLER">
                <xs:annotation>
                    <xs:documentation>FEHLER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Enum_RabeExtDatenhaltungPflege_RegistrierungAntwort_Status_SType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>OK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEHLER">
                <xs:annotation>
                    <xs:documentation>FEHLER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL255_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL1_MaxL64_Musterm1477597937_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
            <xs:pattern value="[!-~]{1,64}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL32_MaxL32_Musterm1623947420_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="32"/>
            <xs:maxLength value="32"/>
            <xs:pattern value="[0-9a-km-z]{32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL3_MaxL18_Muster1878481870_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="3"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="(\+49|0)[1-9]\d{1,14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL6_Musterm507839769_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="6"/>
            <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL95_MaxL95_Muster617989999_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="95"/>
            <xs:maxLength value="95"/>
            <xs:pattern value="([A-Fa-f0-9]{2}:){31}[A-Fa-f0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_MinL9_Musterm387688484_SType">
        <xs:restriction base="StringBaseSType">
            <xs:minLength value="9"/>
            <xs:pattern value="https://[^ ]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RabeExtDatenhaltungPflege" type="RabeExtDatenhaltungPflege_CType"/>
    <xs:complexType name="RabeExtDatenhaltungPflege_CType">
        <xs:sequence>
            <xs:element name="Registrierung" type="Registrierung_m2072521624_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RegistrierungAntwort" type="RegistrierungAntwort_m2072521624_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Deregistrierung" type="Deregistrierung_m2072521624_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DeregistrierungAntwort" type="DeregistrierungAntwort_m2072521624_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Aenderung" type="Aenderung_m2072521624_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AenderungAntwort" type="AenderungAntwort_m2072521624_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" fixed="1" use="required"/>
    </xs:complexType>
    <xs:complexType name="Registrierung_m2072521624_CType">
        <xs:sequence>
            <xs:element name="BaseUrl" type="String_MinL9_Musterm387688484_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>BaseUrl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApiKey" type="String_MinL1_MaxL64_Musterm1477597937_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>API-Key</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ansprechpartner" type="Ansprechpartner_m1257896554_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fingerprints" type="Fingerprints_m1257896554_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ansprechpartner_m1257896554_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL255_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EMail" type="String_MinL6_Musterm507839769_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL3_MaxL18_Muster1878481870_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fingerprints_m1257896554_CType">
        <xs:sequence>
            <xs:element name="Fingerprint" type="Fingerprint_m1548702045_CType" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fingerprint_m1548702045_CType">
        <xs:sequence>
            <xs:element name="Sha256" type="String_MinL95_MaxL95_Muster617989999_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SHA256 Hash</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegistrierungAntwort_m2072521624_CType">
        <xs:sequence>
            <xs:element name="Status" type="Enum_RabeExtDatenhaltungPflege_RegistrierungAntwort_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RabeId" type="String_MinL32_MaxL32_Musterm1623947420_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>RabeID</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Deregistrierung_m2072521624_CType">
        <xs:sequence>
            <xs:element name="RabeId" type="String_MinL32_MaxL32_Musterm1623947420_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>RabeID</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeregistrierungAntwort_m2072521624_CType">
        <xs:sequence>
            <xs:element name="Status" type="Enum_RabeExtDatenhaltungPflege_DeregistrierungAntwort_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Aenderung_m2072521624_CType">
        <xs:sequence>
            <xs:element name="RabeId" type="String_MinL32_MaxL32_Musterm1623947420_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>RabeID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BaseUrl" type="String_MinL9_Musterm387688484_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>BaseUrl</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApiKey" type="String_MinL1_MaxL64_Musterm1477597937_SType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>API-Key</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ansprechpartner" type="Ansprechpartner_161779843_CType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fingerprints" type="Fingerprints_161779843_CType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ansprechpartner_161779843_CType">
        <xs:sequence>
            <xs:element name="Name" type="String_MinL1_MaxL255_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EMail" type="String_MinL6_Musterm507839769_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>E-Mail</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Telefon" type="String_MinL3_MaxL18_Muster1878481870_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fingerprints_161779843_CType">
        <xs:sequence>
            <xs:element name="Fingerprint" type="Fingerprint_m129025648_CType" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fingerprint_m129025648_CType">
        <xs:sequence>
            <xs:element name="Sha256" type="String_MinL95_MaxL95_Muster617989999_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SHA256 Hash</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AenderungAntwort_m2072521624_CType">
        <xs:sequence>
            <xs:element name="Status" type="Enum_RabeExtDatenhaltungPflege_AenderungAntwort_Status_SType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>